[2018-10-15 04:41] imVinayPandya commented on #69
@i0natan yes sure

[2018-10-16 13:37] Condell commented on #257
I'm actually really interested in this too. All the tutorials I've watched split Express apps up exactly how this guide says NOT to. So I'm trying to piece together my own "correct" makeshift Frankenstein project structure like the one mentioned in the "Structure by Components" section of this guide.

Even if it's not an entire project, it would be really helpful to know what exactly should go in

[2018-10-17 07:31] i0natan commented on #69
A very thin one. The precise wording should be "autonomous components" - a component which has a high degree of autonomy. How? it's left for the developer judgment. A microservice is a very opinionated form of autonomous components, it mandates that component should have their own repo, and process and many other guidelines. As you correctly suggested, even when you design your app for autonomous

[2018-10-18 00:22] AbdelrahmanHafez opened #271 "[suggestion] testing planning best practices"
So, I have a problem that I lack the knowledge to solve, and would love to see that knowledge shared on this repo.

My problem is that I currently write tests for the project that I work on in a not-so-organized matter, and when searching for testing-planning content/tutorials in Node.js, I came up short. I'd love to see some best practices discussing stubs, mocks, spies, test pyramids, this kind

[2018-10-18 06:40] js-kyle commented on #271
Great idea! I agree it would be great knowledge to collect here.

@i0natan will have some great opinions and knowledge on existing resources for this kind of thing 👍

[2018-10-18 07:36] i0natan commented on #271
@AbdelrahmanHafez Welcome.

I didn't fully understand your scenario, is it a data pipeline? something else? if you can describe your solution in greater details, the high-level components and their responsibility (feel free to obscure a bit if privacy is a concern), we can think together here on strategies. I might drug other testing experts to the discussion based on the topics.

I highly recomme

[2018-10-18 09:32] gerardmrk commented on #31
I just got the reminder via email. Was that intended for me? I'm not sure if there's anything more I can contribute to this thread that hasn't been mentioned elsewhere or written better than I can articulate. If you'd like to post the stuff I've written, feel free to reword them as appropriate!

[2018-10-18 11:21] i0natan commented on #248
@coreyc That's cool that you're here! Goes without saying that I enjoyed the article. How did you find this thread?

Looking forward to reading the PR. May I suggest that you take a quick look at our [writing guideliness](https://github.com/i0natan/nodebestpractices/blob/master/.operations/writing-guidelines.md)

[2018-10-18 20:59] aqidd commented on #69
yep @i0natan , planning to dive deeper into this topic and will get back to you later if I have some issues to discuss

Thanks!

[2018-10-20 10:10] AbdelrahmanHafez commented on #271
I wrote a simplified example of how my scenario is like the following.

We have a system where I can create an account,request some items to be priced, receive offers on these items from sellers, pick some of these offers, and make an order with them, then make a payment on that order.

The dependency flow is like the following: user > request > order > payment.

So the way I test this is by havin

[2018-10-21 17:52] coreyc commented on #248
@i0natan I noticed some traffic coming to my blog from this link (I have very basic analytics setup, so often it'll just show github.com as the referrer link but this time it showed the full url). Also, I'm well aware of this project so I'm sure I would have stumbled upon this thread sooner or later!

[2018-10-21 18:46] i0natan commented on #271
@AbdelrahmanHafez Interesting case, thanks for bringing, I'm on a short trip so will probably have a deep look by Wednesday and then will share my thoughts. In the interim leaving here few questions to boost my understanding:

Is this a monolith where all the referenced entities are mixed in a single module?

Can you share few words about the 'create order' flow dependencies? Does the create order

[2018-10-23 05:30] lightbringer2994 commented on #257
If we can have a small app (or snippet) which demonstrates the "structure by components" best practice, it would save us a lot of confusion. @js-kyle, will this be possible? Thanks in advance!

[2018-10-25 09:41] i0natan commented on #257
@Condell @lightbringer2994 Thank you. This will come the sooner we can, we're just focused on other workstreams like the performance section I hope to share with you some initial snippets in two weeks or so. I'll ping you here

/remind in 10 days

[2018-10-25 09:41] i0natan commented on #257
/remind me in 10 days

[2018-10-25 09:42] i0natan commented on #271
@AbdelrahmanHafez I'm going to look through this on Sunday, see if you can share the details by then

[2018-10-25 09:44] i0natan commented on #31
@gerardmrk No, the reminder is for me to copy the items to the main performance ideas thread.

Would you like to participate in writing as well? in any case, goes without saying that will reward you... :]

[2018-10-25 11:41] AbdelrahmanHafez commented on #271
@i0natan I've been trying to find some time to write a detailed answer. I am planning to give a detailed answer with an example project before Sunday.

[2018-10-27 00:30] js-kyle commented on #256
This is roughly what our current suggestions are looking like in a list

Monitor customer-facing metrics
Use text compression
Set NODE_ENV to production
Avoid synchronous functions
Run Node.js in a cluster
Choose the classical for loop over forEach/ES6 of when dealing with huge amounts of data
Use a version of node that ships with new TurboFan JIT compiler
Deal with database and external APIs in b

[2018-10-28 04:55] AbdelrahmanHafez commented on #271
@i0natan I just finished up writing [an example project](https://github.com/AbdelrahmanHafez/node-testing-example) that abstracts my situation.
A user creates an account, then creates a request, then creates an order with that request.

Frankly, I am not sure if this is a monolith or not. I'd say it's not, I separate modules into different folders, and each contains its own logic, but Facing diffi

[2018-10-29 11:31] i0natan commented on #271
@AbdelrahmanHafez On it...

[2018-10-31 08:32] i0natan commented on #271
@AbdelrahmanHafez

Hey, had a deep look within the code, it looks very nice and absolutely attempting to create autonomous components. Following are my thoughts.

**First, consider some architecture change**
Before discussing the testing, one major architecture-level concern: Keep the components truly autonomous - if you separate the whole into small problems - you get simpler problems. You are do

[2018-10-31 21:45] i0natan commented on #271
@AbdelrahmanHafez Forgot to write, the webinar will take place in 2 weeks. Drop me an email to me at goldbergyoni dot come

[2018-11-01 04:46] Trewaters commented on #240
This happened to me today. I tried to follow the link and got a 404. I don't the see the `revokejwt.md` file in the repo.

I really like this repo. Many thanks to everyone working to maintain it.

[2018-11-01 04:53] js-kyle commented on #240
@Trewaters Hi there, thanks for the comment!

I've just read your update - I can't see any references to the incorrect link in the master branch (the medium article also follows the correct link). I'm interested to hear if you work out how you came across the old link!

[2018-11-01 14:55] Trewaters commented on #240
I checked the source code of the medium article ( https://medium.com/@nodepractices/were-under-attack-23-node-js-security-best-practices-e33c146cb87d ) and 4 spots refer to the draft. I unknowingly saved that one when I started. Now I have the updated link.

the link I followed was "https://github.com/i0natan/nodebestpractices/tree/security-best-practices-section/sections/security".

Thanks for ge

[2018-11-04 19:36] #267 closed

[2018-11-05 19:10] i0natan commented on #271
@AbdelrahmanHafez Sorry for the long pause, had some busy days...

The main principle is: if these are *autonomous components*, you can't assume they reside on the same server, neither they share the same DB -  hence can't refer directly to JS files rather approach only via the network (e.g. http REST): Order needs something from Request? it should approach via the network to the Request server. F

[2018-11-08 09:08] AbdelrahmanHafez commented on #271
Looks clear to me, and I agree that would be much cleaner. Although it would introduce some complexity in the sense that sending commands via a REST API would be much more difficult than a simple command, for example if I want to do `Request.findOne(...).select(...).populate(...);` I can see how to do it if modules reside on the same server, because we have access to the mongoose model.

Totally a

[2018-11-09 14:59] i0natan commented on #268
@sagirk Until can we fill here stars and flowers?

[2018-11-09 15:06] i0natan commented on #240
@Trewaters Is the talk recorded?

[2018-11-09 15:31] i0natan opened #276 "A suggestion for new best practice: tests must be fully independent"
Putting here an idea for a very important BP - tests shouldn't assume the existence of any state and be fully independent and self-explanatory. Details and code example here:
https://twitter.com/goldbergyoni/status/1060144732029046785

@thomas4019

[2018-11-09 23:44] js-kyle opened #277 "November maintenance"
**Maintainer on call**: @BrunoScheufler

**Updates**
- [x] Update top badges with best practices item count, last update date and Node.js version
- [ ] Ensure all translations are aligned with the English version
- [x] Update 'thank you' stars & flowers
- [ ] Notify and thank the contributors of the month

**Flowers**
- @david-szabo97
- @blackmatch
- @ISNIT0
- @marcelosdm

**Stars**
- Corey Cleary

[2018-11-09 23:45] js-kyle commented on #248
This has been merged, thanks @coreyc !

[2018-11-09 23:45] #248 closed

[2018-11-10 08:43] lightbringer2994 commented on #257
@i0natan, Just a gentle reminder. Even if its not finishe, it will be really helpful if we can take a look at something. Thanks in advance!

[2018-11-10 11:01] BrunoScheufler commented on #277
thanks @js-kyle!

[2018-11-14 06:07] sagirk commented on #268
@i0natan PR is up @ https://github.com/i0natan/nodebestpractices/pull/281. PTAL.

[2018-11-15 03:33] okonon commented on #69
we have used following starter project successfully which follows many of best practices:
https://github.com/KunalKapadia/express-mongoose-es6-rest-api

[2018-11-15 16:48] i0natan commented on #271
@AbdelrahmanHafez

In the interim I uploaded my session about advanced testing techniques here, the 1st on the list (component) might suit your needs (will answer shortly)

https://youtu.be/-2zP494wdUY

[2018-11-17 16:51] #268 closed

[2018-11-17 17:00] AbdelrahmanHafez commented on #271
Thanks a lot for the quality content, and looking forward for more. You seem to be well-versed when it comes to testing and testing strategies, I believe there's a good potential to enrich the node community with your testing knowledge, and fill the gap, beyond the typical `expect(add(1, 2)).to.equal(3);` tutorial.

Can't wait for it!

[2018-11-18 12:40] i0natan commented on #271
Sorry for the delay, it's on my todo list. Very much behind my entire todos

[2018-11-18 12:45] i0natan commented on #277
@js-kyle Aren't translators assigned flowers?

[2018-11-18 12:57] BrunoScheufler commented on #277
@i0natan I'm not sure what our concensus on that was. They are definitely mentioned in the translation section, as credits to the parts they've worked on

[2018-11-18 13:02] i0natan commented on #69
@okonon That's one looks very nice, can you share here the highlights of the things you liked in this repo? maybe (always) we can learn some lessons

[2018-11-18 15:11] AbdelrahmanHafez commented on #271
Totally understandable; Take all the time you need. 😄

[2018-11-21 09:50] i0natan commented on #256
We may cooperate or grab ideas from:
https://github.com/nodejs/diagnostics/issues/211

[2018-11-22 15:30] i0natan commented on #69
@okonon Sounds great. I'll ping you once our is ready to get your feedback

[2018-11-22 15:32] i0natan commented on #277
@BrunoScheufler Let's be generous... 😆

I would assign flowers, it very intensive and valuable work

[2018-11-24 07:09] lightbringer2994 commented on #257
@i0natan , Any updates on this? Sorry If i am disturbing.

[2018-11-24 14:00] NitinHsharma commented on #257
@i0natan I m sorry to interpret in between, I totally agree that you are busy in other sections which are on priority, Mean while is that helpful if you tell here what are you planning so that we (as new beginners) can start working on it and you or anyone else can correct/improve it. That will be more fun and helpful (just an option)

[2018-11-25 08:22] i0natan opened #286 "November meeting proposed agenda"
- General feel & feedback
- Growing into an organization
- Raising funds for future projects (e.g. Noko)
- Pushing forward the performance section
- Maintaining existing sections - security, production, testing

@sagirk @js-kyle @BrunoScheufler @idori

[2018-11-25 10:58] BrunoScheufler commented on #286
Great meeting 🎉

I'll add some notes to the points we discussed

- Growing into organization
  - naming is important to stay flexible for future project development, the Node.js best practices repository should keep its established name, but the organization name could be chosen more freely
  - everybody should be able to contribute <-> we need some kind of governance to keep quality and enforce g

[2018-11-25 19:17] TheHollidayInn commented on #256
Is it okay to submit PRs for drafts of these?

[2018-11-25 20:10] i0natan commented on #286
@BrunoScheufler Great summary.

Any Ideas on how we encourage people to write?

[2018-11-25 20:34] js-kyle commented on #256
@TheHollidayInn Yes!

We've just had some discussions about this, and have decided to change the approach for developing this section. In summary:

- we'd like to add complete practices/bullets to master, and note that the section is in progress (rather that waiting until the entire section is complete - we want to add value as soon as we can! 👍
- once we have agreed upon a performance practice he

[2018-11-25 23:53] TheHollidayInn commented on #256
Great! I had some copy written up as a quick draft for using Compression. I went ahead an opened a PR here: https://github.com/i0natan/nodebestpractices/pull/288. I'm happy to change anything to fit your new flow.

[2018-11-26 05:12] js-kyle opened #290 "Performance: Use lossless http compression"
General direction:

This bullet should cover off the benefits of using http compression such as gzip to reduce the size of the http payload. Ideally we should provide an example of how to achieve this using the express compression module, as well as an external service such as nginx which should be favoured as opposed to performance the CPU intensive task in Node.js itself

Suggested resources:
-

[2018-11-26 05:13] js-kyle commented on #290
@TheHollidayInn has make a start on this bullet, and has checked in some progress on https://github.com/i0natan/nodebestpractices/pull/288

[2018-11-26 08:49] js-kyle opened #291 "Security: Enable 2FA for NPM accounts"
TDLR: Enabling 2FA on NPM accounts can provide a safeguard against vulnerabilities for package maintainers(and in turn, users) of NPM packages which are being used by the community.

Otherwise: An attacker can perform malicious actions on behalf of another user if login credentials are obtained. These actions could include publishing a new version of a popular package to perform actions such as ru

[2018-11-26 08:55] js-kyle commented on #291
D'oh - we have this 🥇

[2018-11-26 08:55] #291 closed

[2018-11-26 09:05] js-kyle commented on #95
Hey there @desko27!

I'm checking in on how progress is going with the Spanish translation. I'm taking a look at the current pull requests open for this

1. https://github.com/i0natan/nodebestpractices/pull/16 Add spanish translation skeleton
2. https://github.com/i0natan/nodebestpractices/pull/264 translate writing-guidelines to spanish
3. https://github.com/i0natan/nodebestpractices/pull/282 Upd

[2018-11-26 14:17] BrunoScheufler commented on #286
@i0natan I think there are many people who would like to contribute, maybe it will be easier once we design our issue system in a more accessible style, using tags etc., so that everybody can get started quicker 🚀

[2018-11-27 07:33] js-kyle opened #292 "Security: Prevent SSRF attacks"
SSRF (Server Side Request Forgery) vulnerability allows an attacker to change a parameter used on the Node.js application to create or control requests from the vulnerable server.

This introduces attack vectors such as
- scanning the internal network
- timeout the thread
- bypass host based authentication
- sending requests impersonating the server

The example could show the use of a whitelist o

[2018-11-27 09:12] i0natan commented on #286
Sounds cool. Let's split the work, who wants to:
1. Check for organization names
2. Create opencollective page (once we have that page all of us should approach backers)
3. Open a performance project/issue - something that shows ideas for BP along with their status. Like those beautiful tables that @js-kyle was creating for the security writing

Thoughts and questions on the process changes (given

[2018-11-27 14:16] TheHollidayInn commented on #290
Sounds good! Thanks for reviewing.

As for nodifying, I did include Express has the example and part of the topic. So I'm hoping that meets the requirement.

[2018-11-27 14:56] BrunoScheufler commented on #286
@i0natan let's wait with all decisions towards organizational stuff like maintainer onboarding until we've switched to an organization, maybe it will have features for us to use and we can decide easier than currently.

Reviewing and optimizing new and existing content is more important now than ever, so we'll have to assign some resources to it. If it works out with my time, I'll review every PR

[2018-11-27 19:11] js-kyle commented on #286
My two cents - I'd lean towards being more selective (we acknowledge contributions on our README), then contributors who are motivated & contributing lots could be onboarded.

[2018-11-28 20:08] js-kyle commented on #286
Org name idea:

bestpractices.io (we could get ownership of that and have a nice static page)

bestpractices.io/nodebestpractices
bestpractices.io/noko
bestpractices.io/dockerbestpractices

[2018-11-29 04:52] js-kyle opened #294 "Performance: Don't block the event loop"
TLDR: You should make sure you never block the Event Loop. Node is fast when the work associated with each client at any given time is "small".  In other words, each of your JavaScript callbacks should complete quickly, to avoid performance impacts.

Otherwise: The throughput (requests/second) of your server will suffer.

Suggested resources:

- https://nodejs.org/en/docs/guides/dont-block-the-eve

[2018-11-29 08:36] TheHollidayInn commented on #294
Can I take this?

[2018-11-29 09:03] i0natan commented on #294
Ideas:

- Monitor the event loop block and bake into your monitoring
- Mitigation techniques when having CPU intensive tasks: run the heavy tasks offline, other 3-4 techniques here
- Use setImmediate to break long CPU-bounded tasks into multiple smaller tasks that wait in the queue for execution
- Code example for detection:
[code]

Other ideas?

[2018-11-29 09:04] i0natan commented on #294
@TheHollidayInn

Sure, with pleasure. Let's just first exchange some ideas here?

[2018-11-29 19:00] TheHollidayInn commented on #294
Yeah, definitely!

Few questions:
- Do you have a recommended way to monitor? I'm guessing monitoring CPU usage/cycles would be helpful in tracking these down
- Should we recommend queue/worker system for offloading cpu tasks?
- "..JavaScript callbacks should complete quickly, to avoid performance impacts." can we add a snippet including ensuring your promises and awaited tasks end quickly - this

[2018-11-30 04:18] sagirk commented on #286
As far as names go, I think all of us are converging on `bestpractices`.

Organization: github.com/bestpractices
Homepage: bestpractices.guide (bestpractices.io is taken already)

[2018-11-30 14:10] ISNIT0 commented on #277
Hey guys,
I'm new here, but happy to muck in - I'll have a look around, but please do feel free to tag me in anything that a newbie can do!

[2018-12-04 13:33] i0natan commented on #277
@ISNIT0 Welcome! Glad to have you here

Which of the above seems like tasks you're comfortable with:
- Export our repo as a website (there are tools that do that)?
- "Translating" JS examples to TS?
- Add this repo to various Github awesome lists [like this for example](https://github.com/sorrycc/awesome-javascript)?
- Setting up circleCI markdown linting job?
- Organize vendors: many bullets have

[2018-12-04 14:31] i0natan commented on #294
@TheHollidayInn My thoughts:
- How to monitor? there are many npm packages that do this, search "event loop block", my code example above contains one of them. You can't monitor the CPU to detect event loop blocking because other things might keep the CPU busy so you're monitoring system will shout a false-positive or worst the loop might get blocked by the CPU in overall won't be overloaded (e.g.

[2018-12-04 19:28] ISNIT0 opened #297 "Alternative Delivery Methods"
- Interactive HTML View
   GitHub view already does this, but it can't easily be viewed or distributed without GitHub (and a working internet connection)
    I guess we have a couple of options for this:
    - Inline everything into a single HTML file (CSS, JS, Images, other MD files)
    - Generate an archive (Zip) with all assets and pages separate (this also makes it easily browsable)
- PDF (#2

[2018-12-05 14:12] TheHollidayInn commented on #294
@i0natan Thanks!
- Ah, I see. I'll look more into your library. I see this is similar to finding memory leaks even when your memory is not maxed
- This list looks good. Is (1) a Cron Job? I'll also investigate other options. It seems from the article above we want to delegate offline or to a different language as the article recommends staying away from Worker Pools if possible and keeping the cli

[2018-12-06 06:55] js-kyle commented on #297
Something using Service workers(for offline support/PWA) could be nice, that would probably be closest to the first option here

[2018-12-06 07:35] ISNIT0 commented on #297
@js-kyle In all honesty, I think even plain old vanilla JS would do the trick 😄

[2018-12-06 15:23] BrunoScheufler commented on #297
@ISNIT0 great thoughts! I think the main task for generating a separate page with all the content we can then later convert to a PDF would be to scrape the main README (in multiple languages) and inline the specific sections at the bottom end, making it a unified page for both short information and details. However this document might get fairly big due to the size of our project, so I'm not compl

[2018-12-06 16:06] TheHollidayInn commented on #294
Following up. I found this paragraph from: https://nodejs.org/en/docs/guides/dont-block-the-event-loop/

[code]

So I think the example `...my promise fetches rows from DB which respond slowly this will not block the loop..` would be an issue for the Event Loop.

[2018-12-10 10:18] aadikill commented on #257
@i0natan Any updates on this? Eagerly waiting this. Thanks in advance!

[2018-12-11 05:13] NTurchi commented on #129
Hi! I have seen that the French translation isn't done yet. I could work on it if you need someone.

[2018-12-13 08:33] i0natan commented on #129
@NTurchi Bienvenue! 👍

@gaspaonrocks @adaube @Annouar I'd be glad to hear your thoughts (see @NTurchi message) and progress so far?

[2018-12-13 08:36] i0natan commented on #257
@aadikill Updates - We're going to work on this on Christmas vacation and share some beta

In the interim, I really liked this starter https://github.com/talyssonoc/node-api-boilerplate by @talyssonoc

[2018-12-13 09:00] i0natan commented on #294
@TheHollidayInn Hey, thanks for pushing. My thoughts below.

- Callback - I wouldn't discuss or include callback in any example, their past 😄

- > I see this is similar to finding memory leaks even when your memory is not maxed
Yes, similar

- > Is (1) a Cron Job?
Yes, for example, there are other methods

- Fetching rows from DB - absolutely won't affect the event loop, this operation is executed

[2018-12-13 09:08] i0natan commented on #297
@ISNIT0 @js-kyle @BrunoScheufler

What are the goals? what problems do we aim to solve?

For example, from my perspective, one sponsor asked from me to duplicate the content also to a website so we gain more visitors and he increases the exposure.

[2018-12-13 19:16] BrunoScheufler commented on #277
@i0natan I'll take on these changes this weekend 👍

[2018-12-13 19:18] BrunoScheufler commented on #297
@i0natan exporting our complete contents to a website is already working, as demonstrated by @ISNIT0's proof of concept PR 👍 There's not many problems I guess, most are just thoughts on implementation things

[2018-12-14 14:32] Berkmann18 commented on #256
Not sure if it was mentioned before here's other (perhaps not NodeJS centric) things that I think should be added:
- Not using libraries like `lodash`/`underscore` when native approaches outweigh the use of such libraries (a whole list of [examples can be found here](https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore))
- Memoising data (e.g: calculations, I/O resources, ...) when pos

[2018-12-14 18:53] MorganConrad commented on #277
Sorry if this is the wrong place, but didn't want to raise it as an actual "issue".  Related to "6. Adjust the HTTP response headers for enhanced security" and "7. Constantly and automatically inspect for vulnerable dependencies", on thing I dislike about Helmet, which is otherwise solid and well respected, is that it depends on **a lot** (14) of other modules.  So I wrote [kepi](https://www.npmjs

[2018-12-15 10:12] mishaor commented on #202
somewhere around 4-5 months and no response

[2018-12-15 10:37] BrunoScheufler commented on #277
@ISNIT0 @blackmatch @david-szabo97 @marcelosdm thank you so much for your countless efforts and contributions throughout November!

@coreyc thank you for improving our project content-wise, you're making this whole project even bigger and better!

[2018-12-15 10:40] BrunoScheufler commented on #277
@MorganConrad thanks for your suggestion! We'll take a look into that and evaluate if it's eligible to be added as an alternative 👍 So far we've just picked the most used tools as you can imagine, but with all the recent trouble around the `flatmap-stream` package it's definitely smart to depend on the least amount of unknown code. We'll definitely reach out to you again when there's progress on t

[2018-12-15 10:41] #277 closed

[2018-12-15 10:46] BrunoScheufler commented on #202
@mishaor I can't speak on behalf of @i0natan but I guess he's lost track of all the issues, so I don't think this was on purpose.

As to your issue, I guess you could also simply read the file and prepend/append your wanted context and serve it afterwards, but I'd agree to @i0natan, choosing a templating solution like handlebars or a real framework might make it even more easy for you.

**Just as

[2018-12-15 20:30] i0natan commented on #129
/remind me in 5 days

[2018-12-15 20:55] i0natan commented on #202
@mishaor First, apologies! This just slipped through the cracks, I wish you had reminded me before 😞

Thoughts - at the simplistic level you can have many modules, each represented by a single file that exports a 'render' method. Your orchestrator/renderer class should loop through the modules and call the render method. The modules themselves are better not just return coded HTML rather use some

[2018-12-17 05:05] js-kyle opened #302 "Performance section pool of ideas"
**This is our list of performance best practice ideas. Here we filter and finalize the list of items to write about.**

Based upon the discussion in https://github.com/i0natan/nodebestpractices/issues/256, this is an issue to track what bullets are approved, and/or who is working on them.

| Title  |  Approved | Assigned to  | Gist
|---|---|---|---|
| Don't block the event loop  | Yes | @TheHollid

[2018-12-17 10:36] gaspaonrocks commented on #129
Hello everyone,

Sorry for the lack of news about the french translation, but I have been swamped with work, which is a good thing. For everyone working on the French translation, you can do small files, and submit a PR for a review.

You announce what files you are working on before submitting the PR, that way duplicate work will be avoided.

I'll try and be more available.

Again, sorry and than

[2018-12-17 18:43] #74 closed

[2018-12-17 19:38] i0natan commented on #302
@js-kyle You're the man

I adjusted the list a bit and added my suggestion within the status column. Seems to me like we need to refine & enrich this list a bit with @BrunoScheufler and @sagirk , I personally plan to read some perf stuff in the next few days to be able to suggest few more

p.s. Shall we add below the table a bibliography with great articles?

[2018-12-18 14:22] BrunoScheufler commented on #302
@js-kyle @i0natan sounds good, I'll assign some issues to me soon and work on some content 👍

[2018-12-19 03:37] NTurchi commented on #129
@gaspaonrocks If nobody work on it, I can translate "**2.1 Use Async-Await or promises for async error handling**" and also the attached article below **"Read More: avoiding callbacks"**

[2018-12-20 10:33] mohemos commented on #256
For MySQL Users:

- Always run chains of queries in TRANSACTION, allow mysql to handle rollback and commit don't do it yourself, this would help you move faster with less maintenance.
- Create pool of connections in order to use more than one connections concurrently and make sure you release connection when you're done....
- Promisify your DB Connections and run queries in paralllel via async/awa

[2018-12-21 08:14] i0natan commented on #256
@Berkmann18 Great set of advice. And welcome aboard.

Why removing orphaned dependencies (tree shaking) improves performance? what is "Memoising"?

@mohemos Welcome & Thank you. Adding some of the advice to the pool #302

[2018-12-21 08:38] i0natan commented on #302
@Berkmann18 Thanks for the great advice on avoiding user land util methods, you wanna take the lead and write this bullet?

[2018-12-21 08:47] ImanMh opened #303 "I'm confused about this part of best practices"
[1.1 Structure your solution by components](https://github.com/i0natan/nodebestpractices/blob/master/sections/projectstructre/breakintcomponents.md)

<img src="https://raw.githubusercontent.com/i0natan/nodebestpractices/master/assets/images/structurebycomponents.PNG" />

In this section recommendation is to split components into multiple layers. Things like service, controller, DAL and so on. I ha

[2018-12-21 08:58] i0natan commented on #202
/remind me in 30 days

[2018-12-21 09:07] gaspaonrocks commented on #129
Yes !  I'll try and come up with a table with pages, the translator, and the status.

[2018-12-21 09:50] Berkmann18 commented on #256
@Berkmann18 Thank you.
Tree shaking improves performance because it will **only** include code that is used instead of importing/requiring every exported functions/data structures from modules/libraries/frameworks which will make the resulting code lighter and easier to transfer and parse.
Here's another explanation of [what tree shaking is](https://developers.google.com/web/fundamentals/performan

[2018-12-21 11:10] Berkmann18 commented on #302
@i0natan Sure, I'll get on it when I can.

[2018-12-21 12:05] BrunoScheufler commented on #303
@ImanMh I think this strongly depends on the way you want to build your projects. Said setup is especially useful if you have a structure which can be separated into single files for each part of the functionality. However, in cases where you're not using any of these parts, for example a simple REST microservice where your data is supplied by a shared library or something like this, I guess the r

[2018-12-21 19:21] ImanMh commented on #303
@BrunoScheufler What I'm saying is not that it should match my code structure, I'm just saying lets put up an example that is more likely to be familiar or even better, let's refer a  code repo(or code example) as well. This screen shot demonstrate a lot of layering so it can cover different projects needs. The issue is that people like me who haven't been involved in projects like this can't real

[2018-12-21 20:05] js-kyle commented on #302
I will remove `Choose the classical for loop over forEach/ES6 of when dealing with huge amounts of data` from the list, as the new practice covers it

[2018-12-22 15:35] matteocrippa commented on #173
I see this is pretty stuck, started working on a new fork

https://github.com/matteocrippa/nodebestpractices/tree/feature/italian

[2018-12-22 18:00] ImanMh commented on #303
@BrunoScheufler right now I'm trying to improve my backend coding experience and I really like the stuff you put in this repo, how ever turning it into action requires more details and explanations. For instance I want to add sequalize to my project I think I want to add models inside a code structure like the one you demonstrated but I'm not sure about migrations and seeds which are essential for

[2018-12-24 10:16] aadikill commented on #303
I also need help regarding this structure. Let us consider Trello app structure.
How should I structure my project?
I need to implement User, Board, Card
now Board needs data from user to know who created the board and who all are the members and card needs data from board as well as from user.

I should I implement Data Access Layer in above scenario?
It will be really helpful if somebody can sha

[2018-12-24 13:35] i0natan commented on #173
@matteocrippa Welcome aboard ✋ 🌷

I'll be glad to help in anything I could, maybe ask @FedericoBiccheddu if he can actively working on this or maybe has some artifcats to share?

[2018-12-24 13:47] i0natan commented on #256
@Berkmann18 Thanks for the comprehensive and great explanation.

Memoising sounds like a good fit for the General bullet - a bullet which holds all generic practices that are not node.js related

About tree shaking - I'm familiar with it, for frontend the benefit is obvious, but why would it improve backend performance? during run-time anyway all the files are parsed (this is how 'require' work),

[2018-12-24 14:05] i0natan commented on #303
@aadikill Welcome 👋

I understand your concerns and we will start working soon on an example, I just have other OSS projects to accomplish before. For now, I added you to a [very preliminary draft code that illustrates](https://github.com/i0natan/node-best-practices-starter) the design by components, it's just not documented so I hope it will be useful. Focus on the "Job" Microservice.

Simply put

[2018-12-25 01:33] Berkmann18 commented on #256
@i0natan You're welcome :smile:
Tree shaking will prevent servers from fetching things it doesn't need which enable it to get to the main code faster as well as not having to go through more resources than it needs to run.
It might not make much of a difference on static dependencies (aside from the size of the backend codebase) but for dynamic ones, it does (at least a tiny bit).
When it comes to

[2018-12-25 07:21] rhinonan opened #304 "Can I help improve Chinese translation?"
I'm writing somthing about nodejs for my company, and I found this. But translation of chinese was not prefect. So, can i do something for it ?

[2018-12-26 23:42] puskuruk commented on #139
Ping.

[2018-12-26 23:52] GokhanMaden commented on #139
Hey @puskuruk , I saw your message two days ago but I waited for Yoni's answer. I think nobody interested Turkish translation. On the other hand, we can do it. I will send an email tomorrow morning, can we continue talking from there?

And @i0natan , still waiting for your answer. It's nice to find out you're interested Turkish translation.

[2018-12-26 23:59] puskuruk commented on #139
OK, I'm waiting your email. @GokhanMaden

[2018-12-27 05:19] MattJin commented on #304
@rhinonan yes, welcome.

[2018-12-27 14:54] i0natan commented on #304
@rhinonan Welcome!

@MattJin Is the master of our Chinese, I suggest you PR (or share here) edits and let @MattJin review

Thanks for help improving this guide 🙌

[2018-12-27 14:57] i0natan commented on #139
@GokhanMaden Welcome aboard 👍 👍

We'd love to get your help.

" I think nobody interested Turkish translation"

Oh no. We absolutely will appreciate a translation for a language that is spoken by many millions. I was on a vacation.

Let me know how can I help in putting this in crowdin?

[2018-12-27 14:58] i0natan commented on #139
@BrunoScheufler Just noticed that you are the sultan of the Turkish translation, assigning to you

[2018-12-27 17:48] BrunoScheufler commented on #139
@GokhanMaden @puskuruk @behcet I'm excited for your contributions to this project! If you need anything or finish a section, don't hesitate to mention me, I'll handle the guideline reviews, etc 👍

[2018-12-28 00:35] TheHollidayInn commented on #294
Alright, finished reading through that series - it was amazing. Here is my first attempt and a very rough draft:

**TLDR;** Avoid using syncronous and other Event Loop blocking functions.

Node handles the Event Loop on a single thread rotating through multiple queues. Syncronous functions (usually ending with Sync) like `readFileSync` will prevent Node from moving through its phases thus blocking

[2018-12-29 03:40] VinayaSathyanarayana commented on #256
We should add throttling to the list

[2018-12-29 04:06] VinayaSathyanarayana commented on #256
We should add
"Avoid Functions in Loops"  - Writing functions within loops tends to result in errors due to the way the function creates a closure around the loop

[2018-12-29 04:12] VinayaSathyanarayana commented on #294
Nice to see progress on this topic that I introduced in
(https://github.com/i0natan/nodebestpractices/issues/256#issuecomment-429207207).
Thanks @i0natan @TheHollidayInn

We should add notes on how to detect/monitor - Some ideas from npmjs
https://www.npmjs.com/package/blocked
https://www.npmjs.com/package/blocked-at
https://www.npmjs.com/package/event-loop-stats
https://www.npmjs.com/package/even

[2018-12-30 16:37] i0natan commented on #256
@Berkmann18

Can you provide an example, maybe even using code, and some data/benchmark that shows the impact? just want to ensure we address popular issues that leave a serious performance foortprint

[2018-12-30 16:40] i0natan commented on #256
@VinayaSathyanarayana Thanks for joining the brainstorm :]

Can you provide (pseudo) code example? are we concerned because of performance or the code readability/errors?

[2018-12-30 16:52] i0natan commented on #303
@BrunoScheufler You'll be surprised how everlasting the leading architectures are (DDD, clean, hexagonal, etc) and how similar they are. They all dictate a very similar conceptual project structure and anything that is doing something else simply goes against the leading paradigm. With that said, there's also a room for some flexibility and style.

Example - all architecture dictates separating th

[2018-12-30 16:57] i0natan commented on #294
@TheHollidayInn Thanks for improving, "great books are not written they are re-written" :]

It will take me two days more to get to review this.

@js-kyle, @VinayaSathyanarayana brought a good point, we should credit the people who suggested the origin ideas, any idea how to manage this?

@VinayaSathyanarayana Absolutely need to provide example, though I would choose 2-3 (all of them are 10-30 LOC

[2018-12-30 22:09] annacruz commented on #223
Hey @marcelosdm do you need any help in pt-br translation?

[2018-12-31 09:30] marcelosdm commented on #223
Hello @annacruz !!

Yes, I do!! You're very welcome to join me in this journey!!

Currently, I'm translating the **section 6** from the **Readme.MD** file.

So, if you could start translating the **section 7**, I think it'll be a great start!

By the way, feel free to read the translation I already did and do any typo that you see. Sometimes, even if we read our own work, we don't see our mistakes

[2019-01-02 16:52] pascaloliv commented on #129
I can give my help to review or contribute. 👍

[2019-01-03 08:18] ImanMh commented on #303
@i0natan is that draft code still available? I get 404.

[2019-01-03 08:19] ImanMh commented on #303
@i0natan yes add me, I appreciate it.

[2019-01-03 09:48] MattJin commented on #304
@rhinonan You can also help to translation some bullets. If you like, you can join us.

[2019-01-03 20:09] i0natan commented on #303
@ImanMh Done

[2019-01-03 20:14] i0natan commented on #223
@annacruz Just saying welcome 👋

@marcelosdm Sounds like a great progress, looking forward to see the end result

[2019-01-05 17:31] ItayElgazar opened #314 "What is the difference between dal and service and controller"
@i0natan
Hey, just saw your message on the other issue.

What is the difference between dal and service and controller?
Today the DAL is communicating with the db, and the controller invoke the dal functions.
for example:
controller:
`
getAll() {
dal.getAll().then((res) => {
 // some code
});
}`

So for what do I need to use service?

Thanks!!!

[2019-01-05 21:06] TheHollidayInn opened #315 "Performance List of Generic Bullet points"
Continuing from: https://github.com/i0natan/nodebestpractices/pull/288#issuecomment-450572627. As suggested, let's discuss a list of bullet points to be added to our generic list.

Looking at this: https://github.com/i0natan/nodebestpractices/issues/302, here are a few that seemed to be good:
- Use text compression
- Deal with database and external APIs in batches
- Benchmark slow db calls
- Analy

[2019-01-08 06:28] VinayaSathyanarayana opened #316 "Add: Encryption of PII Data"
We need to add a note on encryption of Personally Identifiable Information (PII). PII data should be encrypted when stored

[2019-01-08 10:49] i0natan commented on #314
Hey @ItayElgazar!

What other issue? please link

I'll answer this shortly

/remind me in 1 day

[2019-01-09 08:17] i0natan commented on #315
@TheHollidayInn Perfect 🎖

Just try adding some more info & links to each (when the implementation tools are highly popular and standard), for example:
"Benchmark slow db calls" - share link to Postgres & mySQL query plans and slow queries profiling

Let's start refining this using a PR?

[2019-01-09 08:45] i0natan commented on #315
@TheHollidayInn Didn't you have another performance PR? I suddenly can't find it...

[2019-01-09 08:49] i0natan commented on #316
Can you provide a few real-world examples + tools that help in achieving this(e.g. type of encryption)?

[2019-01-09 08:50] i0natan commented on #304
@MattJin Feel free to close the issue when done

[2019-01-09 11:46] NitinHsharma commented on #314
**DAL (Data access layer):**
As you said "Today the DAL is communicating with the DB and your controller is calling DAL." as per my knowledge DAL is introduce in the system so that your business logic should not depend upon the database you are using. So suppose today you are using MongoDB and tomorrow you want to shift on to Cassandra the only thing which you have to change is DAL. But in this ca

[2019-01-09 13:46] TheHollidayInn commented on #315
Will do! I'll open a PR and add more.

Here is the other part I was working on: https://github.com/i0natan/nodebestpractices/issues/294#issuecomment-450262446. I posted the initial thoughts in the issue per your request. I can switch it to a PR if you'd like!

[2019-01-10 00:59] MattJin commented on #304
Get it. @i0natan

[2019-01-10 00:59] #304 closed

[2019-01-12 05:21] js-kyle opened #318 "Jan 2019 maintenance"
**Maintainer on call**: @js-kyle

**Updates**
- [ ] Update top badges with best practices item count, last update date and Node.js version
- [ ] Ensure all translations are aligned with the English version
- [ ] Update 'thank you' stars & flowers
- [ ] Notify and thank the contributors of the month

**Flowers**

**Stars**
@Berkmann18

**Translation work**

[2019-01-13 10:31] BrunoScheufler opened #319 "January meeting proposed agenda"
New year, new meeting 🎉 😄

**Discussed points**

- The organization migration will be on-hold as we'll further discuss benefits and drawbacks of transitioning
  - Future projects will certainly be part of the organization, the main repo will stay under @i0natan 👍
- Structure of project collaborators will change to a system similar to the Node.js organization (points below are a draft, currently)

[2019-01-14 08:16] i0natan commented on #315
@TheHollidayInn Great, so I'm following on  #320 & #294

[2019-01-14 08:17] i0natan commented on #294
(Message to Bot below)

/remind me in 2 days

[2019-01-14 08:20] #303 closed

[2019-01-14 09:06] i0natan commented on #319
(A message to bot below)
/remind me in  days

[2019-01-14 09:07] i0natan commented on #319
(A message to bot below)

/remind me to comment in 2 days

[2019-01-14 16:09] TheHollidayInn commented on #319
Are you open to other people joining these meetings now or are they closed?

[2019-01-14 16:12] TheHollidayInn commented on #256
@AbdelrahmanHafez For your proposed idea `Deal with database and external APIs in batches`, do you have any links or references for this?

[2019-01-14 17:00] scorphus opened #321 "Use images w/ transparent background – dark theme FTW"
First of all, thanks for these best practices!

Just like many others, I use a [dark theme](https://github.com/StylishThemes/GitHub-Dark) for GitHub with [Stylus](https://github.com/openstyles/stylus/):

![image](https://user-images.githubusercontent.com/2112697/51123966-75252e80-181d-11e9-9baa-12068c3c75b5.png)

![image](https://user-images.githubusercontent.com/2112697/51124342-655a1a00-181e-11e

[2019-01-15 11:49] linsolas opened #324 "Discussion - regarding deployment on servers"
Hello all,

First, thanks for this quite complete list of best practices!
I want to have a discussion about the point regarding the deployment on production, and especially [the lock of dependencies](https://github.com/i0natan/nodebestpractices#-54-lock-dependencies).

Thanks to npm 5 and yarn, we can now have a good confidence when running an `npm install` / `yarn` on a machine and retrieve the e

[2019-01-15 18:36] TheHollidayInn commented on #324
My initial thoughts are you want have your lock file and the a container (or build process like Tesseract) will run npm install.

If you can't use NPM registry, you can set up a private registry to pull dependencies from.

Other than that, you will have to do the old tried and true method of bundling everything. It's less you said above but remove the dynamic part. Everything should manually be co

[2019-01-15 19:52] js-kyle commented on #324
Welcome @linsolas - good detail to raise. I will chime in with my thoughts on this shortly!

[2019-01-16 20:11] js-kyle commented on #321
Hey @scorphus - cool idea, a PR for this would be welcomed! I'll try to find out if those files are available before you start

[2019-01-18 16:00] bmsdave opened #325 "6.8 Feasibility of time-based database brute-force attacks on websites"
In the [recomendation](https://github.com/i0natan/nodebestpractices#-68-avoid-using-the-nodejs-crypto-library-for-handling-passwords-usebcrypt)

Here is not mentioned the possibility of a timing attack if not handled properly bcrypt.

For example:
### server.js
[code]

### attacker.js
[code]

If we run the server.js and the attacker.js, we'll get:
[code]

That allows us to brute force to know the

[2019-01-18 16:02] bmsdave commented on #325
@lirantal and @ryzokuken
What do you think about this?

[2019-01-18 16:23] bmsdave commented on #325
In addition, I think we should use the standard node.js libraries.
if we think bcrypt is better, why don't we suggest changes to crypto.js, so we can use it?

[2019-01-18 18:53] ryzokuken commented on #325
I think using `scrypt` is a more secure option for password-based key derivation than using an HMAC but the suggestion stands: use the core module, it's always more secure than userland (if it isn't, let us know on the issue tracker 😉).

[2019-01-19 17:02] i0natan commented on #325
@bmsdave Welcome aboard.

Interesting and challenging topic, I remember when we wrote this piece of advice we checked the recommendations of most security institute and picked bcrypt not because he was the most secured one rather becuase he one top 3 in all list and the most popular one with very mature and maintained implementation.

To what 'crypto' algo do you refer specifically as an alternati

[2019-01-19 17:05] i0natan commented on #321
@scorphus Sounds interesting, can the user opt-in/out? where can I see an example? Kindly elaborate how it works

[2019-01-19 17:05] alinaugustin commented on #325
I am sorry but this is not a room chat.

On Sat, Jan 19, 2019 at 7:02 PM Yoni Goldberg <notifications@github.com>
wrote:

[2019-01-19 17:19] i0natan commented on #324
@linsolas

Welcome aboard, thanks for posting this interesting question.

My 3 cents to spare - It's indeed a bad practice to install dependencies on a production server but also practically almost impossible. It's bad not only because you have to trust your package manager, but also due to availability concern - when a new process/container/machine is provisioned, you want to it to serve users as

[2019-01-19 17:43] i0natan commented on #271
@AbdelrahmanHafez Sorry for answering the later questions in a timely manner, do you still have testing concerns?

p.s. I've posted some best practices here, LMK if you want to help in PRing them here:
https://medium.com/@me_37286/yoni-goldberg-javascript-nodejs-testing-best-practices-2b98924c9347

[2019-01-19 19:43] i0natan commented on #319
@TheHollidayInn We plan now to create a collaborators group, each collaborator will hold a project (see lists below), access to handle some PRs, there will be a periodical collaborators meeting. You're more than welcome to hold some project and join the collaborator's group, let just first refine this model for a few days

@BrunoScheufler Great summary, let's assign action items? I'm proposing bel

[2019-01-19 20:06] scorphus commented on #321
I'm not sure I get it, but I'll try to elaborate. Pardon me if I got it wrong. An image with transparent background blends itself with the background it's on top of.

In theory, it could be seen as a kind of opt-in/out. That is, depending on what background colour the user defines, the image will have that background colour. But in reality, no. The image will be the same for every single user.

[I

[2019-01-19 20:34] BrunoScheufler commented on #319
@i0natan since I don't have much experience with CI right now and as @sagirk suggested CI-based tooling, you could assign him to "CI for all use cases" and publishing the repo as a website/pdf (work for that is already being done by @ISNIT0), if he's okay with it of course. I'd be fine to take on the TS transition in return 👍 I think this covers ideas from our meeting a bit more 😄

[2019-01-19 21:18] i0natan commented on #314
@ItayElgazar Sorry for not replying in a timely manner, busy days :]

Simply put, the controller comes before the service in the layers chain and unlike the service, contain no business logic.

Historically, 'Controller' and 'Service' come from different 'stories': MVC is a pattern that was created and used mostly for UI ([see bullet 3 here](https://medium.com/@me_37286/19-ways-to-become-a-better-

[2019-01-20 13:13] ItayElgazar commented on #314
@NitinHsharma @i0natan Got it.
Thank you both for amazing explanation.
@i0natan Let's push it. I will fork this repo, we can pair together if you like.

[2019-01-20 22:05] #202 closed

[2019-01-21 10:32] linsolas commented on #324
Hello @i0natan. Thanks for your answer!

Different kinds in fact. I work in a team that provides good practices and all the basics elements to develop web applications (such as "white application" based on React or Angular), and also server based on Node.js.
Therefore, the teams that use our services has heterogeneous ways to deploy applications: scripts, Docker, others tools... That's why it's ha

[2019-01-22 15:23] ISNIT0 commented on #319
I'm happy to contribute to CI, TypeScript conversion and the PDF generation if I'm asked to do a specific task - I don't really have enough time to go and find myself tasks 😄

[2019-01-22 15:38] BrunoScheufler commented on #319
@ISNIT0 great to hear that! We'll be spending some time on organizing our current projects and tasks and list them in a way that's easier for new and existing contributors to figure out what can be worked on 😄

[2019-01-23 08:00] i0natan commented on #319
@ISNIT0 I've also experienced with CIs so it could be great to work together on this work-stream, let's open a project and split the tasks? If yes, I can do this so it will be easier for you as @BrunoScheufler said

[2019-01-23 08:02] i0natan commented on #319
@BrunoScheufler Can you create an example project with deadline and well-explained tasks so/external collaborators will be able to jump in easily?

[2019-01-23 08:17] BrunoScheufler commented on #319
@i0natan sure, will try to aggregate all of our current tasks 😄 Might take some time though, I'll notify you once it's done!

[2019-01-23 08:17] i0natan commented on #321
Got it, so we basically need to make the banner and other images transparent?

[2019-01-23 08:21] i0natan commented on #325
@ryzokuken Got it, I frankly need to go through some docs to intelligently comment on this, will share my view in few days

@bmsdave Welcome aboard. I suggest that we first discuss here and have a consent about the right recommendation. Then it could be great to have your PR. Do you have any specific view on this topic or basically agree with @ryzokuken ?

[2019-01-23 08:51] rozehan commented on #139
Hello,
I am interested in this project. This week is the right time :)

[2019-01-23 10:17] ISNIT0 commented on #319
@i0natan  Happy to team up there!

[2019-01-23 10:59] puskuruk commented on #139
@rozehan we need to share tasks about this translation. Do you have an idea for how we track this project? Because we looked crowdin with @GokhanMaden and this was not free.

[2019-01-23 15:16] BrunoScheufler commented on #139
@puskuruk if you need anything I can help with, don't hesitate to notify me. You could use some kind of board like trello to manage tasks if you need that, otherwise you could share a list in here 🤔 Guess there's a lot of ways to achieve this. Also, it would make sense to find a solution to contributing, since we will open a branch  for your translation, but you'd still have to open PRs to that to

[2019-01-23 17:19] lirantal commented on #325
@bmsdave welcome and appreciate your input on this.
that example doesn't show any weakness in bcrypt but rather the logic flow of the app being perhaps the culprit. bcrypt as an algorithm has been battle tested for the past 20 years and is considered safe (until proven otherwise).

With that said, choosing scrypt over bcrypt for the sake of being API-complete with the built-ins in Node.js is a goo

[2019-01-24 14:36] ryzokuken commented on #325
@lirantal exactly my point. I keep scrypt over bcrypt just for the sake of keeping close to the core module, since AFAIK, there's no theoretical weakness in bcrypt.

Fair point, but since it was a semver-minor, IMO it must have landed on all currently supported versions for Node.js?

[2019-01-26 15:15] i0natan commented on #321
@idori Do we have those?

[2019-01-26 15:32] i0natan commented on #319
@BrunoScheufler Don't stretch yourself too thin, we just need one example project with few deadlines  tasks -> then let each assignee define his own deadlines & tasks

If too busy in the next few days, I can create one

@ISNIT0 Very cool, pinging once a project is created

[2019-01-26 19:44] i0natan commented on #325
Thank you all for participating in this interesting discussion.

Frankly, my cryptographic understanding is not deep enough to technically vote for one or another. Both scrypt, bcrypt and argon seem to be recommended by reputable groups and the weaknesses of each seem like nitty-gritty corner cases that matter in a specific context.  I also don't see a strong reason to favor one over the others be

[2019-01-26 21:40] ryzokuken commented on #325
FWIW, PBKDF2 is also exposed via the crypto module, further strengthening my case.

While what you say is very true, I'd like to make a special case for cryptography. I don't think it's a great practice to rely on third-party code so much for cryptography, especially in light of the recent controversy surrounding the security (or the lack thereof) of the ecosystem.

[2019-01-26 23:41] BrunoScheufler commented on #319
@i0natan will immediately do that tomorrow, in which format would you like the tasks issues? Like GitHub issues or rather a list of tasks in written form, etc?

[2019-01-27 05:58] animir opened #329 "6.12 Recommended package express-brute does not do well on high traffic. Race conditions."
express-brute package has an unpleasant vulnerability.
It allows to make thousands of password tries because of race conditions. Increment operation is not atomic there. It is true for Redis, Memcached, etc as well. Set/Get approach implemented there.
There is related issue https://github.com/AdamPflug/express-brute/issues/46

It results to an ability to brute-force passwords during small time win

[2019-01-27 08:56] gianpaj commented on #95
what's the current status? is there a specific task/PR that's ready to be worked on?
I can't understand which one is most important and which will allow the others to unblock

[2019-01-27 15:13] i0natan commented on #329
@animir Always love to revise and improve our advice. Thanks for suggesting

Looping @lirantal and @js-kyle and myself. Will take a deeper look soon

[2019-01-27 20:03] idori commented on #321
@i0natan yes, I'll re-make the header with a transparent background and check which other images require work to be dark mode friendly

[2019-01-28 06:48] js-kyle commented on #95
Hi @gianpaj - it really is a question for @desko27, as he is the lead of the Spanish translation work. Although he has not checked in here for some time, so we may need to reassign, unless he is still available

@desko27 would you be able to confirm if you are still able to dedicate some time here, or if you are too busy?

[2019-01-29 20:47] lirantal commented on #329
@i0natan I believe we were recently discussing an alternative that could fit for this case: rate-limiter-flexible

[2019-01-29 21:40] lirantal commented on #325
Please please, I want to urge you to not try and dabble in adventures regarding security "bleeding edge" features, or making choices for the wrong reasons (compatible with Node.js apis). This is exactly the place where you don't want to be creative :-)

I'll point out some references to put some context into this discussion:
* PHP (since version 5.5.0) has bcrypt set as the default password hashin

[2019-01-29 21:46] ryzokuken commented on #325
❤️ that you pointed that out. I'm tackling all similar problems right now with https://github.com/ryzokuken/easy-crypto.

[2019-01-29 23:20] rozehan commented on #139
@puskuruk Crowdin have a request form for open source projects. I don't know if it's a ridiculous question, but can't it be tried?
https://crowdin.com/page/open-source-project-setup-request

[2019-01-30 19:51] i0natan commented on #329
Yes @lirantal , @animir (PR opener) is the author and we are engaged here on multiple security issues.

@animir - I've kind of lost the context, did we recommend express-brute? where? how does your great package handle this better?

[2019-01-30 19:53] i0natan commented on #321
Thanks @idori

[2019-01-30 19:54] i0natan commented on #319
@BrunoScheufler Your call, come with your suggestion for a convenient and effective template

[2019-01-30 20:00] #271 closed

[2019-01-31 04:15] animir commented on #329
@i0natan 6.12 recommends `express-brute`
`rate-limiter-flexible` makes atomic increments, but this is not about which is better. I was investigating why `express-brute` so popular, found that issue and shared it here, so you can improve 6.12

I think, there should be a notice about race conditions. as I see, many users don't care about race conditions, because it still makes a job, even if it allo

[2019-01-31 05:35] animir commented on #329
I've prepared PR to `express-brute` package https://github.com/AdamPflug/express-brute/pull/80
I think, it is better if the issue is noted straight in readme, so advice on 6.12 can be kept as is.

[2019-02-04 04:37] karthiknvlr opened #331 "Environment variables -- Secure access for CI-CD"
Hi All,

Most of us are using Github for collaboration and code review.
In real time, most of the deployments are happening through dockers and CI-CD using Jenkins and other sophisticated tools.

So, In this way how to pass the environmental files for CI-CD? We can't hold the environmental variables in Github since every developer who has access can able to see it.

What is the best way to inject

[2019-02-04 05:33] #318 closed

[2019-02-04 05:36] js-kyle opened #333 "Jan 2019 thank you"
Thank you to @Berkmann18 for writing and working through our feedback on our first best practice from the new performance section, 7.1. Prefer native JS methods over user-land utils like Lodash

https://github.com/i0natan/nodebestpractices#-71-prefer-native-js-methods-over-user-land-utils-like-lodash

🎉🏆

[2019-02-04 06:49] i0natan commented on #331
@karthiknvlr Welcome aboard 🌞

I find this a very challenging question that many struggles with. In fact, one of my customers recently quit circleci in favor of AWS just for the sake of unified security. I'll share my thoughts soon.

Looping also @lirantal and @itaysk who might as usual have some insights to share

[2019-02-04 09:05] Berkmann18 commented on #333
My pleasure 😄.

[2019-02-05 17:06] karthiknvlr commented on #331
Hi @i0natan and @itaysk, Thanks for your inputs.

@itaysk My motive is to secure the secrets/credentials.

Let us take an example, In my current release, I have to add a feature to send a confirmation email during the registrations process. To make it possible I need to integrate one SMTP server or third party API's like SendGrid, SES etc. In this scenario, the developer will develop the feature a

[2019-02-07 20:08] i0natan commented on #331
@karthiknvlr I'd like to verify your question before suggesting my view: Your goal is making a secret  available to your production run-time, correct? Also, seems like you hope to achieve this by baking the secret into the deployment container, right?

@itaysk In case my assumption above is correct, do you see any value in including the production secrets within the repo? putting aside the securit

[2019-02-07 20:13] i0natan commented on #329
@animir Can you explain to me, in layman terms, what is being incremented exactly, the difference between race conditions increments and atomic ones?

[2019-02-07 20:17] i0natan commented on #325
@lirantal Great explanation. Based on all the feedback here, it seems that both bcrypt, scrypt and PBKDF are reputable enough to be recommended. If no obligations, I'll PR the change (or if anyone else here like to - please do)

[2019-02-07 20:17] i0natan commented on #324
Closing due to inactivity, feel free to re-open

[2019-02-07 20:17] #324 closed

[2019-02-07 20:32] ryzokuken commented on #325
@i0natan +1. Perhaps @bmsdave would like to make the change?

Thanks @lirantal for your expertise and @bmsdave for taking the initiative.

[2019-02-08 05:27] animir commented on #329
@i0natan sure
Get/set approach:
1. get N
2. some app logic
3. set N + 1

As a result, if 2 or more requests get the same N, do some logic, then set N + 1, the second request overwrites the first set.

Atomic increment does it straight on DB/store and then return result:
1. set N + 1 and return new value
2. some app logic

[2019-02-08 05:37] #333 closed

[2019-02-08 08:32] i0natan commented on #325
That would be our honor. Just glimpse through our [content writing guideliness before](https://github.com/i0natan/nodebestpractices/blob/master/.operations/writing-guidelines.md)

[2019-02-09 14:51] itaysk commented on #331
depends on the nature of the repo. If it's the actual source code, then you're probably right, but ft it's the helm chart that deploys the code, then it might be beneficial to include all config/secrets in there. And if you practice GitOps this becomes more obvious.

[2019-02-15 10:29] #321 closed

[2019-02-15 10:33] i0natan opened #338 "February 2019 maintenance checklist"
**Maintainer on call**: @sagirk

**Updates**
- [x] Update top badges with best practices item count, last update date and Node.js version
- [x] Ensure all translations are aligned with the English version
- [x] Update 'thank you' stars & flowers
- [x] Notify and thank the contributors of the month
- [x] Update news and updates

**Flowers**
@hozefaj
@el-ethan
@milkdeliver
@ArlindXh
@ttous
@LewisArd

[2019-02-15 23:03] js-kyle commented on #338
@i0natan could we update the repo tagline please?

[2019-02-17 08:48] i0natan commented on #338
@js-kyle Done!

[2019-02-19 08:44] yanmtbr commented on #223
Hey, @marcelosdm I would like to help it too. May could I start with the **sections folder**?

[2019-02-19 10:19] marcelosdm commented on #223
Hello @yanmtbr ! Absolutly!! You'll be very welcome!

[2019-02-20 15:43] LewisArdern opened #343 "Update 'Avoid Eval' to include new Function"
Dynamic execution of JavaScript also happens in new Function, which is even referenced here: https://github.com/i0natan/nodebestpractices#-615-avoid-javascript-eval-statements, so this should be included.

Pull request #342

[2019-02-21 20:48] js-kyle commented on #343
Thanks heaps for the PR! It has been merged

[2019-02-21 20:48] #343 closed

[2019-02-22 01:07] LewisArdern opened #345 "Improvements to secureserver.md"
This had some grammar issues such as lower case tls/ssl, and missing spaces in Let'sEncrypt etc. I made some slight grammar changes to the oneline paragraph.

Pull #344

[2019-02-22 01:24] LewisArdern commented on #345
May want to remove the , (as i was considering the 'ca' but thats only for self-signed.

[2019-02-23 16:06] i0natan opened #346 "'npm security best practices' is a great source for additional security bullets"
Great article by @lirantal here: ["npm security best practices"](https://snyk.io/blog/ten-npm-security-best-practices/)

Some of the ideas there might be a great addition to our guide, we may include with Credit, what do you think @js-kyle ?

[2019-02-23 16:38] i0natan commented on #343
@LewisArdern Thanks for this great addition

[2019-02-23 16:55] i0natan commented on #331
@karthiknvlr Sorry for the late reply. To my understanding you seek a method to make secrets available to your production and the CI/CD is where you aim to this.

I guess that in many no highly secured environments baking the secrets into the container within the CI/CD is reasonable, and as @itaysk suggested many vendors will allow you to define this within the job definition.

That said, I tend t

[2019-02-23 23:34] fernandops26 commented on #303
@i0natan can you add me to the starter too, please?

[2019-02-24 04:43] js-kyle commented on #346
Amazing work! Yes definitely

[2019-02-24 09:06] #345 closed

[2019-02-25 10:34] lirantal commented on #346
I'd be happy if you include credits and reference to the cheat sheet ;-)

[2019-02-25 23:12] LewisArdern opened #348 "Improvements to commonsecuritybestpractices.md"
Did not like that OWASP A7 only included 'use CSP', so updated that to reference more content from OWASP with some slight changes to reflect node, e.g use a template engine.

Made some slight changes to the content for grammar improvements

https://github.com/i0natan/nodebestpractices/pull/347

[2019-02-26 05:08] js-kyle commented on #346
I think 3.Minimize attack surfaces by ignoring run-scripts would be good to add here

[2019-02-27 16:57] karthiknvlr commented on #331
@i0natan Thanks for your suggestions. In our existing project, we baking it during the CD process. I will try to inject it through KMS or kubernetes secrets.

Could you please add CI-CD in Node best practices pipeline? So, it will be helpful for new bibes to move in the right path.

[2019-03-01 16:04] i0natan commented on #331
Sure thing, doing this soon

[2019-03-01 16:04] #331 closed

[2019-03-01 16:16] i0natan commented on #303
Sure thing, by eod

[2019-03-01 23:10] js-kyle commented on #348
Thanks heaps @LewisArdern

[2019-03-01 23:10] #348 closed

[2019-03-03 13:41] i0natan commented on #346
@lirantal Wouldn't this (ignore run-scripts) break some packages that rely on scripts?

@js-kyle Maybe bullet #1 (use .npmignore or files) is less controversial?

[2019-03-03 13:42] i0natan commented on #338
@sagirk All set

[2019-03-04 11:36] lirantal commented on #346
Yep, and at the same time protect you from evil execution in install phases.

[2019-03-05 07:17] sagirk commented on #223
Time to [merge](https://github.com/i0natan/nodebestpractices/pull/341#issuecomment-466666939) this translation to master! 🎉

@marcelosdm Is it alright with you to open a new PR to master for this?

I [tried](https://github.com/i0natan/nodebestpractices/compare/master...Brazilian-Portuguese), but there are merge conflicts to resolve.

[2019-03-05 07:33] sagirk commented on #223
@marcelosdm PTAL at https://github.com/i0natan/nodebestpractices/pull/350.

[2019-03-05 13:42] animir commented on #329
@i0natan @lirantal Hey.
I opened PR to add a note about possible race conditions to that package's readme https://github.com/AdamPflug/express-brute/pull/80 more than a month ago.

Then we had a short discussion with maintainer https://github.com/AdamPflug/express-brute/issues/81 and the PR is still there not merged.

I suggest to remove this package from recommended, as author doesn't care much a

[2019-03-06 05:53] sagirk commented on #223
Final PR to move this into master: #351 ([Changes](https://github.com/i0natan/nodebestpractices/pull/351/files?w=1))

[2019-03-06 13:10] marcelosdm commented on #223
I just checked and saw that everthing is great!! 🙏🙏🙏

Thank you soooo much!

[2019-03-09 20:56] i0natan commented on #329
@animir It seems like the author admits that the package is not really maintained

@js-kyle What do you think: seems like a fair ask to remove our recommendation from a package that is not repsonding to PRs?

[2019-03-10 07:01] #223 closed

[2019-03-10 07:46] sagirk opened #352 "March 2019 maintenance checklist"
**Maintainer on call**: @BrunoScheufler

**Updates**
- [ ] Update top badges with best practices item count, last update date and Node.js version
- [ ] Ensure all translations are aligned with the English version
- [ ] Update 'thank you' stars & flowers
- [ ] Notify and thank the contributors of the month
- [ ] Update news and updates
- [ ] Tweet it!

**Flowers**
- @DouglasMV
- @Francozeira
- @Gab

[2019-03-10 07:49] sagirk commented on #352
News and Updates for March:
- BR translation now available (https://github.com/i0natan/nodebestpractices/pull/351). Heartfelt thanks to @marcelosdm! ❤️ 🎉

[2019-03-10 10:37] sagirk opened #354 "🎉🎉 Thank you contributors! 🎉🎉 (Feb 2019)"
🎉🎉 The Node.js best practices guide has gotten even better during February, thanks to the many awesome contributions made by the following folks 🎉🎉

🌻 [Hozefa](https://github.com/hozefaj)
🌻 [Ethan](https://github.com/el-ethan)
🌻 [Sam](https://github.com/milkdeliver)
🌻 [Arlind](https://github.com/ArlindXh)
🌻 [Teddy Toussaint](https://github.com/ttous)
🌻 [Lewis](https://github.com/LewisArdern)

We r

[2019-03-10 10:38] sagirk commented on #338
[🎉🎉 Thank you contributors! 🎉🎉](https://github.com/i0natan/nodebestpractices/issues/354)

[2019-03-10 10:53] #338 closed

[2019-03-10 16:43] RoncoCo commented on #257
@i0natan Any updates? Thanks in advance!!

[2019-03-11 13:21] jrwiegand commented on #303
@i0natan I would appreciate a look at the starter as well. 🙂

[2019-03-12 10:54] i0natan commented on #303
Sure, done. Note that it's very preliminary and raw...

[2019-03-12 10:57] i0natan commented on #257
Hey, really sorry but it was de-prioritized due to other projects that I'm working on 😿 . I'm focused now on improving my testing skills and writing about this experience.

I'll arrive to this sometime, but it will take months 😄

[2019-03-12 11:05] i0natan commented on #354
Great post @sagirk !!!

[2019-03-12 11:24] marcelosdm commented on #354
Thank you all for this opportunity! ❤

[2019-03-13 19:03] migramcastillo commented on #256
Not only for DB purpose, using Promise.all instead of lot of async/await [should be a performance best practice](https://stackoverflow.com/questions/45285129/any-difference-between-await-promise-all-and-multiple-await), i.e. we need to call 4 API calls correctly with Axios to build our complete response, instead of using await for each one is better to use a single await with Promise.all().

[2019-03-17 16:43] i0natan commented on #256
@migramcastillo Makes a lot of sense. Do you want to write that bullet?

[2019-03-17 16:45] i0natan commented on #256
@js-kyle Maybe add this idea to our TOC issue?

[2019-03-17 17:01] i0natan commented on #302
Hey @mcollina, so we're pushing soon the performance section. The ideas we collected thus far are listed above, will be honored if you feedback or suggest some other ideas.

Concurrent question - during the writing we're probably gonna benchmark few things and would like to ensure we pick the right benchmarking tools. As of API/network benchmarking I'm pretty confident with auto-canon (:)), what w

[2019-03-18 10:55] mcollina commented on #302
Some notes:

1. typo `auto-canon` -> `autocannon`
2. writing good microbenchmarks is *hard*, documenting it would be awesome
3. `Avoid synchronous functions` is a bad advice. You should in fact do the opposite: do not introduce "fake" asyncronicity. In other terms, no `Promise.resolve()`  or `process.nextTick()` - I've got quite a few example where adding these can bite you.
4. `Replicate the Node

[2019-03-18 19:42] palafoxernesto commented on #95
Hey guys, im ready to dedicate some time working on translation.
@desko27 Are you still leading this effort?
If yes, Maybe @gianpaj (if you're still interested) and I can help you.
Thanks

[2019-03-19 16:02] desko27 commented on #95
Hi guys, It's been a while so my apologies for that!... I'm immediately opening a PR with the current progress which is half of translations I reviewed from Seth, so you can go on from there.

I've been through a lot these months and I lack the time to finish this ATM, may you @gianpaj and @palafoxernesto continue with the task? If that's the case I can provide you the link to the rest of unreview

[2019-03-19 22:47] migramcastillo commented on #256
I'd be glad to, in which branch should I make the PR?

[2019-03-20 13:13] gianpaj commented on #95
Thanks for the PR @desko27

I had some time back then. I should have some time next month, in April

[2019-03-21 16:41] TheHollidayInn commented on #302
Thanks @mcollina!!

Could you elaborate on 3? I think `Avoid synchronous functions` usually refers to things like reading file syncs on an api request. But I'm interested in hearing more :D

[2019-03-21 16:52] sagirk commented on #256
@migramcastillo If you meant to ask what branch to raise your PR against, that would be master. If you meant to ask what branch to make your changes in, feel free to create a new branch in your fork.

[2019-03-23 10:50] mcollina commented on #302
All the following examples are wrong:

[code]

[code]

Avoid synchronous function can be intended as "always put async in front of functions" - which is a very bad advice.

[2019-03-23 21:19] i0natan commented on #302
@mcollina Thanks a bunch for these words of wisdom. 99% resonates with me.

Few minor following questions/remarks:
1. > "writing good microbenchmarks is hard, documenting it would be awesome

Could you recommend one or this is a tautology to saying there's not even one?

2. > "As an example, I recommend using webpack to minimize startup time"

Just curious, any solid benchmarks on the cost of buil

[2019-03-23 21:33] js-kyle commented on #329
Going to pick up improvements to 6.12 in the next few days!

[2019-03-24 07:45] i0natan commented on #329
@js-kyle 💯 👍

[2019-03-24 13:23] desko27 commented on #95
@gianpaj I added a task list 📝 about the current progress on #363's description. Despite being short in time, I'll try to continue and review the remaining translations by following down the task list and contributing to the mentioned PR (whatever my time allows me to finish).

Feel free to comment whenever you have some time to contribute and I'll try to take a moment so we can organize the colla

[2019-03-24 19:33] TheHollidayInn commented on #302
Ah okay I see. So we just need to clarify what we mean by avoid sync and possibly reword the tip.

I have a small start on an issue that I've been meaning to turn into a PR. And I'll do that then ask for your help on clarifying the above if you don't mind.

[2019-03-25 08:41] mcollina commented on #302
Yes exactly.

[2019-03-25 09:49] #55 closed

[2019-03-25 11:19] onury commented on #17
@i0natan I currently don't have the time but you can use any content from the repo I mentioned if you're willing to.

[2019-03-25 12:49] MartinMuzatko commented on #26
I proposed a PR. Hope it unites all the opinions here in this thread.

[2019-03-26 10:42] animir commented on #329
@js-kyle I've create a PR https://github.com/i0natan/nodebestpractices/pull/366, which should be helpful
1. remove non-maintained package examples and links.
2. provide the best practice example to prevent brute-force attack against authorization.

[2019-03-26 11:24] syzer commented on #26
@MartinMuzatko link or it didn't happen :)

[2019-03-27 04:03] js-kyle commented on #329
Looks good @animir, I just had a couple of minor comments

[2019-03-27 19:10] i0natan commented on #352
@ryanouyang - Chinese translation

[2019-03-27 19:21] #15 closed

[2019-03-27 19:23] i0natan commented on #156
@ereztaiar @ItayElgazar Let's push this forward? one after-noon and it's done

[2019-03-27 19:26] i0natan commented on #95
@desko27 sounds great!

[2019-03-27 19:35] mperk commented on #139
Hi, I started for the translation turkish on my local.
Can you give me permission Please?

[2019-03-28 05:54] mperk commented on #139
to @i0natan @BrunoScheufler

[2019-03-28 12:28] pramodrwt commented on #239
Any update on this ?

[2019-03-29 14:11] carlkentor commented on #69
Ping!

[2019-03-31 08:13] BrunoScheufler commented on #139
@mperk sorry but what do you mean by giving permission? Once you've made progress in translation that you want to save, you could simply open a PR to the branch `turkish-translation`, where we will collect all translation progress and merge into master at one point 👍

[2019-03-31 10:19] mperk commented on #139
Ok thank you @BrunoScheufler
I got it wrong the first message. After I forked, I continue to translate on my turkish-translation branch.

[2019-04-02 22:51] Berkmann18 commented on #129
@gaspaonrocks Any progress on that?

[2019-04-03 09:03] mperk commented on #139
Hi @BrunoScheufler,
Can you create a turkish-translation branch? I want to merge the branch
[https://github.com/mperk/nodebestpractices/tree/turkish-translation](url)
Because, maybe someone want to help me

[2019-04-03 12:00] BrunoScheufler commented on #139
@mperk branch is created, ready for the PR 😄

[2019-04-03 20:36] js-kyle commented on #95
@desko27 is this PR still of any use to you? Or should we close it for clarity? https://github.com/i0natan/nodebestpractices/pull/16/files

[2019-04-04 07:50] #72 closed

[2019-04-04 07:50] #92 closed

[2019-04-04 07:50] #87 closed

[2019-04-04 07:50] #105 closed

[2019-04-04 07:50] #90 closed

[2019-04-04 07:50] #192 closed

[2019-04-04 07:51] #155 closed

[2019-04-04 07:51] #143 closed

[2019-04-04 07:51] #197 closed

[2019-04-04 07:51] #205 closed

[2019-04-04 07:51] #204 closed

[2019-04-04 07:51] #94 closed

[2019-04-04 07:51] #220 closed

[2019-04-04 07:51] #221 closed

[2019-04-04 07:51] #224 closed

[2019-04-04 07:51] #222 closed

[2019-04-04 07:51] #196 closed

[2019-04-04 07:51] #249 closed

[2019-04-04 07:51] #254 closed

[2019-04-04 07:51] #258 closed

[2019-04-04 07:51] #233 closed

[2019-04-04 07:51] #146 closed

[2019-04-04 07:51] #31 closed

[2019-04-04 07:51] #276 closed

[2019-04-04 07:51] #286 closed

[2019-04-04 07:51] #297 closed

[2019-04-04 07:51] #173 closed

[2019-04-04 15:52] i0natan commented on #69
@carlkentor Unfortunately this currently not our top priority, I believe it will be sometime soon but not over the next 3 months

[2019-04-04 15:53] i0natan commented on #139
👍 👍

[2019-04-04 19:23] js-kyle commented on #294
@TheHollidayInn I somehow missed this, I think this is a really good draft, we should try to get this one going again

[2019-04-07 09:06] i0natan commented on #239
@pramodrwt Unfortunately not. We've done our best to cover a multitude of practices but most of your great questions were not answered. Could you maybe your 2 top prioritized questions and share here so I can share my thoguhts with you directly?

[2019-04-07 09:20] i0natan commented on #302
@VinayaSathyanarayana @migramcastillo @Berkmann18 @js-kyle @TheHollidayInn @BrunoScheufler @js-kyle

Performance writers, let's make this happen and share this vital knowledge? we would like release ~5 more performance items by 15th May. This means that if we take it together - each has to write a single bullet in a month. Would you like to participate?

If yes, please pick from the approved items

[2019-04-09 00:23] TheHollidayInn commented on #294
Sounds good! PR posted: https://github.com/i0natan/nodebestpractices/pull/373

[2019-04-10 09:58] i0natan commented on #302
@Berkmann18 I'm happy.

@TheHollidayInn Is already taking care for this with a comprehensive generic list.

Let's do treeshaking dependencies, would you mind opening an issue to discuss the TOC of this?

See also @mcollina on this above: treeshaking is only one technique to boost the app start time, maybe we should focus on the goal (faster bootstrap) and name various techniques like tree shaking,

[2019-04-10 10:48] Berkmann18 commented on #302
@i0natan Wait, so @TheHollidayInn is working on both topics?

[2019-04-10 18:56] migramcastillo commented on #302
@i0natan sorry I've been very busy lately, so I'm retaking this and reading some stuff above and in other issues,  few doubts:

- The original topic I was working on is about performance enhancement of using [Promise.all instead of sequential await sentences](https://github.com/i0natan/nodebestpractices/issues/256#issuecomment-472562282) for making a better use of the multi-thread, is this still o

[2019-04-10 21:32] mcollina commented on #302
Note that `Promise.all` does not guarantee the use of multi-threading.

[2019-04-11 06:15] cox2m-root commented on #302
Oh no, only on the 'generic items'. Can you handle the 'optimize dependencies for faster bootstrap' (or how you want to call it)?

@Berkmann18

[2019-04-11 06:19] i0natan commented on #302
Oh no, only on the 'generic items'. Can you handle the 'optimize dependencies for faster bootstrap' (or how you want to call it)?

@Berkmann18

[2019-04-11 06:24] i0natan commented on #302
Both items are valid. I would prioritize the process replication since parallelizing things (Promise.all) is more of a generic advice that applies to many programming language where the need to replicate processes is more unique to the webserver-less approach of node. Pick your preferred idea. Shall we start with an issue that lists the TOC?

@migramcastillo

[2019-04-11 10:30] Berkmann18 commented on #302
@i0natan

Ah okay, sure! On that note, have you had time to explore the idea you mentioned on my test repo?

[2019-04-12 14:40] samrocketman commented on #146
I would like this re-opened.  I forgot about it.  If you can, please assign this to me and I will contribute a PR.

[2019-04-12 14:41] samrocketman commented on #146
@i0natan ping for visibility

[2019-04-14 03:40] #352 closed

[2019-04-14 03:41] #354 closed

[2019-04-14 08:42] i0natan commented on #352
@js-kyle What this handled (e.g. Tweets, flowers, etc)?

[2019-04-14 08:58] BrunoScheufler commented on #352
@i0natan this issue was simply closed by the PR, flowers, etc. are handled 👍 Not sure what the tweet format should be though, any ideas?

[2019-04-14 12:47] BrunoScheufler opened #378 "April 2019 maintenance list"
**Maintainer on call**: @i0natan

**Updates**
- [ ] Update top badges with best practices item count, last update date and Node.js version
- [ ] Ensure all translations are aligned with the English version
- [ ] Update 'thank you' stars & flowers
- [ ] Notify and thank the contributors of the month
- [ ] Update news and updates
- [ ] Tweet it!

**Flowers**
- @Invvard
- @romulogarofalo
- @thoqbk
-

[2019-04-14 12:48] BrunoScheufler commented on #378
@i0natan @sagirk @js-kyle not sure who's leading the maintenance this month, do you guys have a clue? 😄

[2019-04-14 13:04] i0natan commented on #378
https://github.com/i0natan/nodebestpractices/blob/master/.operations/operations-manual.md

I'm the one

[2019-04-14 13:05] i0natan commented on #315
Closing as we're engaged on the PR #320

[2019-04-14 13:05] #315 closed

[2019-04-14 13:07] i0natan commented on #352
@BrunoScheufler PRs can be linked to issues and close them automatically?

Tweet - see @sagirk Thank You messgae from last month, it's looking good with many flowers and badges, you may create one linke this and prtscn into Twitter + some custom message:
"We had a great month! 2 new BP, 3 new translations, ..."

[2019-04-14 13:11] i0natan commented on #146
@samrocketman Great to have you back man.

I'm thinking out loud whether this item is not too niche, npm registry downtime is still rare. Maybe include other reasons to use an artifact manager? what are artifactory/nexus selling points?

[2019-04-14 14:20] samrocketman commented on #146
Several years ago my company was unaffected by the unpublished leftpad library.

The goal is simple, to make a delivery pipeline as reliable and repeatable as possible.

In our multi-language projects we proxy dependencies not just for NodeJS but for every language stack being used.

[2019-04-14 18:59] i0natan commented on #302
Yes, can we hop on a call sometime next week? would you kindly approach via me at goldbergyoni.com?

[2019-04-14 20:16] Berkmann18 commented on #302
@i0natan

Sure.

[2019-04-19 13:19] i0natan commented on #146
@samrocketman Yes, it's a good practice that might once in a few years prevent deployments block. To my personal judgement, we should keep the guide focused on risks with almost immediate impact. Given this, I suggest to put it as a paragraph within 5.16. (atomic deployments) but not a separate bullet. Does this resonate with you?

[2019-04-19 13:21] i0natan commented on #302
@Berkmann18 Cool, anyway feel free to push the faster bootsrap item

[2019-04-19 15:41] samrocketman commented on #146
I guess I’m just struggling to relay the value it brings to me.  In practice, `once in a few years` is not my experience.

It’s good to mention it in atomic deployments.  Not all organizations need it.

[2019-04-19 23:31] fedemengo commented on #173
Hello, me and @mrcolo would like to help with the italian translation, we could pick up where @FedericoBiccheddu and @matteocrippa left off

[2019-04-20 08:10] fabiancook opened #383 "express-jwt-blacklist default values should not be recommended"
Referencing: https://github.com/i0natan/nodebestpractices/blob/master/sections/security/expirejwt.md#express-jwt-blacklist-example

`express-jwt-blacklist` explicitly says not to use the default in memory cache for production, meaning it is not best practice, it should be pointed out that memcached or redis should be used in conjunction with `express-jwt-blacklist` so revoked tokens will be retain

[2019-04-20 13:46] georgem3 opened #384 "German translation"
I can help with the german translation -- progress will be slow(ish) though, so if anyone is willing to chip in, let me know.

[2019-04-20 14:01] BrunoScheufler commented on #384
@georgem3 awesome, I could try to help out here as well 😄  Just start if you feel like it and simply submit a PR to the `german-translation` branch to save progress and make it available for other potential contributors 👍 If you need anything, let me know 👌

[2019-04-20 14:07] georgem3 commented on #384
Great! I saw the closed issue, but I must have missed that the branch is still active 😅

[2019-04-20 14:10] BrunoScheufler commented on #384
@georgem3 I've just opened the branch since the previous translation attempt didn't kick off as hoped but now we'll try again! 😄

[2019-04-24 00:40] marcus-sa opened #387 "Prefer argon2 instead of bcrypt"
https://github.com/P-H-C/phc-winner-argon2

[2019-04-25 19:12] i0natan commented on #387
Hey @marcus-sa , welcome aboard.

Could you paste this with some context into the existing issue #325 ?

[2019-04-25 19:13] i0natan commented on #383
@BrunoScheufler Shouldn't this be assigned to @js-kyle our security expert?

[2019-04-25 19:16] BrunoScheufler commented on #383
@i0natan probably, yes! Will reassign

[2019-04-25 19:18] i0natan commented on #173
It could be awesome if you could bring this work-stream to completeness!

I don't see a reason to open a new issue, you use this one to update on progress, share your working branch name, we can also Tweet about this and ask on the home page top panel whether there are other Italian contributors who are willing to take part.

Is there anything else we could help with?

[2019-04-25 19:20] i0natan commented on #146
Did you face a more frequent npm downtimes?

[2019-04-27 20:29] nourkilany opened #390 "Egyptian Arabic translation"
I can help with the Egyptian Arabic translation.

[2019-04-29 12:51] desko27 commented on #95
@js-kyle #16 has useful work done in the `README.md` file, but the author is not active on it anymore I fear. I see the PR has been automatically closed due to inactivity. I could review the contents and push them as a new PR while mentioning their original author.

[2019-04-30 14:54] #314 closed

[2019-05-01 12:29] bikingbadger opened #393 "1.2 Layer your components, keep Express within its boundaries"
First I want to say a huge thank you for this resource. As someone just starting out it's great to see the community coming together to provide this. I'm was going over the list and on the layering components (1.2), I get the overall picture but when clicking on more details there is just a gif. Is there anyway to give a bit more detail on this page? I see that there is quite a nice detailed answe

[2019-05-01 13:55] bikingbadger commented on #393
I was a bit proactive and create a PR on what I was thinking.

[2019-05-03 05:11] stalniy opened #395 "Ukrainian translation"
I can help with the Ukrainian translation -- progress will be slow(ish) though, so if anyone is willing to chip in, let me know.

- [ ] README @stalniy
  - [x] Project Structure
  - [x] Error handling
  - [x] Style guide
  - [x] Testing and quality
  - [ ] Going Produciton
  - [ ] Security
  - [ ] Performance
  - [ ] other details
- [ ] `.operations/writing-guidelines.md`
- [ ] Project Structure
-

[2019-05-04 03:01] fedemengo commented on #173
We have another contributors for the italian translation @andreaziani.
We will be working on the following branch https://github.com/fedemengo/nodebestpractices/tree/italian-translation

[2019-05-05 10:53] AbdelrahmanHafez commented on #390
I can help with that, even though I am not 100% sold on the idea because if you wanna be a good developer, you have to learn to read in English and utilize the English resources to stay truly up-to-date.

If the core maintainers decide that it's a good idea, and move forward with the idea, I'll be glad to help.

[2019-05-05 14:27] nourkilany commented on #390
I agree 100%. but to those who are still learning English and struggling a bit, giving them the option to read this resource in Arabic and then alternate between the Arabic and English translation would be great in my honest opinion.

[2019-05-06 03:35] js-kyle commented on #393
@bikingbadger Thanks for the feedback + PR! We'll get that reviewed 👍

[2019-05-06 05:39] js-kyle opened #398 "May operations checklist"
**Maintainer on call**: @js-kyle

**Updates**
- [ ] Update top badges with best practices item count, last update date and Node.js version
- [ ] Ensure all translations are aligned with the English version
- [ ] Update 'thank you' stars & flowers
- [ ] Notify and thank the contributors of the month
- [ ] Update news and updates
- [ ] Tweet it!

**Flowers**

**Stars**

**Translation work**

[2019-05-06 06:51] js-kyle commented on #329
@animir thanks heaps for your work on this one, and making changes based on our feedback etc 👍

[2019-05-06 06:51] #329 closed

[2019-05-06 09:47] animir commented on #329
@js-kyle btw, that `express-brute` bug is official on NPM now

[2019-05-07 14:07] ikhsanalatsary opened #400 "Indonesian translation"
Great repo, helping people to learn best practice. It would be great if have indonesian translation to reach indonesian people native. I can help with the translation.

[2019-05-10 11:18] #26 closed

[2019-05-10 11:47] i0natan commented on #390
@nourkilany - Welcome aboard 🎆

@AbdelrahmanHafez Always great to see you re-visiting here! (p.s. did my testing advice helped?)

Having an Egyptian translation could be awesome

Let's go for this? Few basic guideliness:
1. Work on your own fork - fork, create a branch, translate & collaborate with other translators, then PR finally
2. Focus on translation, not content editing - the focus is on tr

[2019-05-10 11:51] i0natan commented on #400
@ikhsanalatsary  - Welcome aboard 🎆

Having an Indonesian translation could be awesome

Let's go for this? Few basic guideliness:
1. Work on your own fork - fork, create a branch, translate & collaborate with other translators, then PR finally
2. Focus on translation, not content editing - the focus is on translation, should anyone want to modify the content or the graphics - let's PR first in Eng

[2019-05-10 11:56] i0natan commented on #173
@js-kyle Can you kindly be in charge here (going by the operations-manual languages)?

p.s. engaging now with Italian & Egypt translation

[2019-05-10 12:20] i0natan commented on #398
@js-kyle @BrunoScheufler April will get done in few hours

[2019-05-10 12:40] i0natan commented on #395
@BrunoScheufler See https://github.com/i0natan/nodebestpractices/blob/master/.operations/.common-answers.md

[2019-05-10 12:58] i0natan opened #403 "🎉🎉 Thank you contributors! 🎉🎉 (April 2019)"
🎉🎉 The Node.js best practices guide has gotten even better during April, thanks to the many awesome contributions made by the following folks 🎉🎉

🌻 [Invvard](https://github.com/Invvard),
🌻 [Rômulo Garofalo](https://github.com/romulogarofalo),
🌻 [Tho Q Luong](https://github.com/thoqbk),
🌻 [Burak Shen](https://github.com/Qeneke),
🌻 [Martin Muzatko](https://github.com/MartinMuzatko)

We realize that

[2019-05-10 18:14] AbdelrahmanHafez commented on #390
Sounds great, @nourkilany would you like to take the lead on that? I am not available as much as I need to, but I'll make sure to contribute as much as my schedule allows me to.

@i0natan Always great to check things out around here, I've been away and couldn't try your approach in practice since I am serving my obligatory military service, you know how it is. Will keep you up to date ASAP. 😄

[2019-05-10 18:52] nourkilany commented on #390
Okay sounds awesome. My pace is going to be kind of slow in the meantime, but I'll do my best.

[2019-05-10 21:03] #319 closed

[2019-05-13 20:59] Calinou opened #405 "Possibly confusing error handling example"
First of all, thanks for writing this best practices list :slightly_smiling_face:

I've been going through this list as I'm working on an student project using Express.js. I'm trying to follow the best practices when it comes to error handling, but I'm a bit confused by one of the code samples given. In the [Distinguish operational vs programmer errors](https://github.com/i0natan/nodebestpractices

[2019-05-15 15:24] migramcastillo opened #406 "Performance: Replicate the Node process"
TLDR: If you really need to use some blocking/heavy compute code in your application, you can’t use any of the recommendation about [non-blocking the event loop](https://nodejs.org/en/docs/guides/dont-block-the-event-loop/) and you have a managed server with more than a single CPU, you should consider using the Cluster Module native from NodeJS or a library like [PM2](http://pm2.keymetrics.io/). C

[2019-05-16 07:23] i0natan commented on #405
@Calinou Welcome aboard 🍻

There is an error there, but not related to the distinction between operational vs developer error: the error handler middleware should pass **any** error to the centralized handler as we want to unity the handling of **each** error.

Then, within the centralized handler, we act a bit differently based on the error type -> if it's !isOperational then we should also consi

[2019-05-16 12:33] Andras-Simon opened #407 "Hungarian translation"
Hi! I would be happy to help with the Hungarian translation.

*EDIT* I included a task list so it is easier to follow where the translation is.
 - [ ] README
 - [x] Project Structure
 - [ ] Error handling
 - [X] Style Practices
 - [X] Testing and quality
 - [ ] Going Produciton
 - [ ] Security
 - [X] Performance

[2019-05-16 12:54] Calinou commented on #405
@i0natan Indeed, that sounds more logical to me :+1:

[2019-05-16 12:55] BrunoScheufler commented on #407
@Andras-Simon - Awesome, welcome aboard 🎆

Having a Hungarian translation would be great 👍

Before you start with this, we've prepared some basic workflow guidelines:

- Work on your own fork - fork, create a branch, translate & collaborate with other translators, then open a PR
- Focus on translation, not content editing - the focus is on translation, should anyone want to modify the content or t

[2019-05-18 23:56] ormoyal commented on #156
היי לכם
זה יצא בסוף לפועל?

[2019-05-21 13:34] Andras-Simon commented on #407
@BrunoScheufler - Thanks! I have just forked this repo and set up the hungarian-translation branch with the duplicates.

[2019-05-24 10:09] i0natan commented on #405
@Calinou Great. If you want to contribute, you may adjust the example per our discussion. Or we can create an issue and wait for someone to take this. Whatever works for you

[2019-05-24 10:27] i0natan commented on #407
@BrunoScheufler Just going over issues and ensuring they are all handles - is Hungarian assigned to you?

[2019-05-24 10:28] i0natan commented on #156
טרם

בא לך להשתתף?

@ereztaiar @ItayElgazar פינג למקרה שבא לכם אחה״צ משותף שבסופו סיימנו ונוכל לפרסם את זה גם בכתבת בלוג פוסט שלנו

[2019-05-24 10:56] ItayElgazar commented on #156
יאללה. בואו נקבע שעה?
אני בשעון אמסטרדם, מסיים לעבוד בסביבות 5 (6 שלכם)

On Fri, 24 May 2019 at 12:29 Yoni Goldberg <notifications@github.com> wrote:

[2019-05-24 12:19] BrunoScheufler commented on #407
@i0natan it doesn't look like we've added it to our operations manual at all so there's no assignee from what I can see currently 🤔 I could take it though 👍

[2019-05-24 17:04] ormoyal commented on #156
האמת שלא תיכננתי כי האנגלית שלי לא ברמה כל כך טובה, אבל אשמח לעזור במה שאפשר ומקסימום מישהו יעבור על זה לפני שיפורסם

[2019-05-24 17:06] ItayElgazar commented on #156
לא, לא ענו :/
אפשר לקבוע למחר אם בא לכם, או יום ראשון או בכללי יום בשבוע הבא

On Fri, 24 May 2019 at 19:05 Or Moyal <notifications@github.com> wrote:

[2019-05-29 09:23] ItayElgazar commented on #156
@i0natan פינג

[2019-06-02 15:04] goldbergyoni opened #410 "Usage of https://allcontributors.org/"
Team @js-kyle @BrunoScheufler @sagirk ,

What do you think about https://allcontributors.org/?

[2019-06-02 15:17] BrunoScheufler commented on #410
Sounds like a great idea to automate adding and keeping track of contributors 🚀 Let's add it!

[2019-06-03 11:53] i0natan commented on #156
אוי, איכשהו לא קפצה לי הודעה. סורי.

בטח, נוח לך השבוע ברביעי אחה״צ? אולי שבוע הבא בראשון?

[2019-06-05 02:23] js-kyle commented on #410
Yeah! I think @sagirk suggested this one early on. I think it is good, and it would be great to have it automated

[2019-06-05 13:04] andreybleme opened #413 "Change 4.9 from Docker compose to Testcontainers"
Hi, Thanks for the great repo!

While reading the [4.9 Use docker-compose for e2e testing](https://github.com/i0natan/nodebestpractices#-49-use-docker-compose-for-e2e-testing) section I couldn't agree more that using some container orchestration strategy for e2e testing is a smart decision. But it can be painful to orchestrate the start/stop of this containers (people often do it using shell scrip

[2019-06-06 05:52] #378 closed

[2019-06-06 06:02] #346 closed

[2019-06-06 13:53] i0natan opened #415 "Update medium security article"
@js-kyle Would you be able sometime to update the medium security article with the latest and greatest practices that you added here?

[2019-06-06 14:07] i0natan commented on #413
@andreybleme Welcome aboard, happy to brainstorm this important topic

My rough thoughts and questions:
1. I'm not sure that this advice is updated at all - in the K8S/Terraform/automation era, where it's much easier to replicate a production environment everywhere, I would avoid docker-compose AND any other tech/format that is not identical to the production. Why? (1) less realistic (2) another a

[2019-06-06 14:08] i0natan commented on #410
Can one of you perform this?

I can only start in 3 weeks or so

[2019-06-06 22:49] js-kyle commented on #410
@i0natan I don't think we can do it as it requires repo permissions to install the required Github app. I could take a look at it for sure, but just means you would need to give me higher access temporarily

[2019-06-06 23:03] js-kyle commented on #383
@fabiancook Cheers for pointing that detail out, it has been updated 👍

[2019-06-06 23:03] #383 closed

[2019-06-07 02:05] andreybleme commented on #413
Right... :heavy_check_mark:

Avoid using components that does not look like a production environment is a must. Agreed. But sometimes docker-compose it exactly a production-like environment, isn't it?

The section I've linked: ["Use Compose for e2e"](https://github.com/i0natan/nodebestpractices#-49-use-docker-compose-for-e2e-testing), highlights that "Docker-compose turns this problem into a breez

[2019-06-07 06:48] js-kyle commented on #415
That is done now (Still top on Google too, 👍)

[2019-06-07 06:48] #415 closed

[2019-06-08 19:25] i0natan commented on #410
@js-kyle I'm willing to should give you any access you need, I just don't see that option. Please instruct

Anyway, I can just install the bot and you do the rest (if your calendar permits)

[2019-06-10 02:34] js-kyle commented on #410
OK, perhaps you can add the bot to the repository, I have created a branch to start testing the configuration once the bot is ready

[2019-06-10 16:34] i0natan commented on #410
Just did. Can you see it?

[2019-06-10 16:35] i0natan commented on #415
😄 💃 🍾 🎈

[2019-06-10 16:46] i0natan commented on #413
hmm Are you familiar with a production that is based on docker-compose? :) Yeah, I know, it's written here, I wrote it actually, I was maybe right in 2017 when docker-compose was as similar to production as it could be, but in 2019 we can use EXACTLY the production technology (e.g. minikube)

Given that 95% will use K8S or Serverless in the next few years, they will benefit two great things in thi

[2019-06-11 01:15] andreybleme commented on #413
Honestly I didn't know Minikube and such tools for running K8S locally...
"Given that 95% will use K8S or Serverless in the next few years", I'm honestly not sure about this, but I do hope so :)

Given things you have pointed out I see testcontainers as a good OPTION then (not necessarily a better one). It does not "beat" alternatives, but it is definitely an approach it's worth to know/try.

So f

[2019-06-11 01:32] #413 closed

[2019-06-11 13:11] delliriun commented on #393
A GIF/image is such a bad idea. How can blind people read this?
I lose one frame and need to  see everything again.

[2019-06-15 17:41] stalniy commented on #395
@i0natan  Where do you get flag icons for translations?

[2019-06-16 08:15] i0natan commented on #395
@stalniy Kudos, progress seems great 🎉

@BrunoScheufler We split the work and each maintainer handles different languages, @BrunoScheufler will be glad to help here

p.s. Coming to Odessa, Kiev and Kharkhiv conferences in the next 3 months!

[2019-06-16 08:24] i0natan opened #421 "2019 june list"
**Maintainer on call**: @sagirk

**Updates**
- [ ] Update top badges with best practices item count, last update date and Node.js version
- [ ] Ensure all translations are aligned with the English version
- [ ] Update 'thank you' stars & flowers
- [ ] Notify and thank the contributors of the month
- [ ] Update news and updates
- [ ] Tweet it!

**Flowers**
- @autoboxer
- @bikingbadger
- @ChangJoo-P

[2019-06-16 08:29] i0natan commented on #413
@andreybleme It was my pleasure discussing this, we may consider adding this but we first clarify what exactly is the added-value of testcontainers

[2019-06-16 08:31] js-kyle commented on #421
@i0natan is this meant to be June? I have already completed May

[2019-06-16 09:52] stalniy commented on #395
@i0natan which conferences are you going to visit?

[2019-06-17 05:12] malithrw commented on #393
I recently found this repo from a Reddit post and I have to say this has answered a lot of questions I had for sometime.

I agree with @delliriun on this. I experienced the same thing in `Layer your app, keep Express within its boundaries`'s 1min explainer GIF.

[2019-06-17 06:49] i0natan commented on #395
I shall speak at odessaJS and KharkivJS + attend some conf at Kiev (no
details yet, customer asked me to attend).

Have plans to attend odessa or Kharkiv?

On Sun, Jun 16, 2019 at 12:52 PM Sergii Stotskyi <notifications@github.com>
wrote:

[2019-06-19 05:56] js-kyle commented on #410
@all-contributors please add @js-kyle as a test

[2019-06-20 12:29] #257 closed

[2019-06-20 18:29] i0natan commented on #421
Yeah, my fault, fixed that

[2019-06-20 18:31] i0natan commented on #393
@delliriun @malithrw A PR with better explanation is undergoing

[2019-06-20 20:20] js-kyle commented on #410
@all-contributors please add @js-kyle for code

[2019-06-21 01:10] #398 closed

[2019-06-24 14:34] dmitriz opened #428 "Misleading advice: 3.11 Use Async Await, avoid callbacks"
This seems like a way too generalist advice:

- Callbacks represent a more general and powerful pattern, e.g. are used to respond to websocket events, where `async-await` can't be used at all.

I think it is misleading to say it "supersedes". Promises and async-await (basically a sugar for promises) carry [several overheads](https://github.com/dmitriz/cpsfy/blob/master/DOCUMENTATION.md#why) that c

[2019-06-25 09:07] InCodingNowLiu opened #430 "[High]Do we have sample app which use most of best practices(include graphql)?"

[2019-06-25 11:29] i0natan commented on #430
No, we plan to but have other prioritized plans. Expect to have it by the beginning of 2020 :)

[2019-06-26 03:42] stalniy commented on #395
just curious :) not sure yet whether I will attend

[2019-06-26 12:27] i0natan commented on #428
@dmitriz Welcome aboard.

Let's first clarify, callbacks can indeed mean 2 different things to different people:
1. A code-style for any async function (e.g. fs.readFileContent(filename, callback)) which the user code all over his app
2. A generic technique to notify the caller on certain events, like in event-emitters

Which is not an anti-pattern: 1, 2, both?

That's is theoretically doable now

[2019-06-26 15:42] dmitriz commented on #428
Thank you!

I would say it depends on your circumstances, all over or occasionally - whatever suits the user :)

None of them is anti-pattern at this level of generality.
Each has its uses and strengths.

That would be async-await + extra stuff :)
While plain callback functions do job without any other stuff.
But why making things easy if we can make them hard :)

[2019-06-27 03:51] dmitriz commented on #428
I should have said, I love your work here and many advises are really helpful.
But I am worried about the generalists advices that are too easy to misinterpret.

The callbacks in Node.js provide the simplest implementation of the Continuation-Passing-Style, a fundamental programming pattern with long history and extensive research behind. When used correctly, callbacks can provide simple uniform i

[2019-06-29 18:11] #256 closed

[2019-07-01 19:19] i0natan commented on #428
@dmitriz Sorry for the late reply, I'm traveling these days hence my limited availability. I respect your feedback and always trying to learn, at the same time I highly disagree.

As you alluded, there are 2 types of callback usage:
1. Single value return - ~95% of a typical project code (a function returns a single value). this can obviously get replaced with async-await. If you use callbacks for

[2019-07-01 22:34] #403 closed

[2019-07-03 01:45] VilsonJrCorrea opened #435 "CLI to generate boilerplate code following the best practices"
Hello everyone, i was thinking about create a template following the recommendations presents here in community. What do you think? Or everyone already have your own templates for new projects?

[2019-07-03 08:33] joaquinox commented on #129
I'd be happy to contribute if this issue is still open! 🇫🇷

[2019-07-03 11:54] #17 closed

[2019-07-03 16:28] oshliaer commented on #105
# Russian translation resume

There are three PRs/threads for the start translate:

1. The first initiative #98 #105
2. The second attempt is @GraxMonzo PR #388
3. The third attempt is #433

As I can see now we cannot coordinate to form a group for active participation. It's sadly because I find the Practices very useful.

# My suggestions

1. Reopen #105 because this topic is already referenced b

[2019-07-03 16:39] oshliaer commented on #435
@VilsonJrCorrea

I'm not sure that it's possible as a boilerplate. If you just need a blog or just a chat, then you will probably follow some more dense and complete templates based on a platform.

The BP are collection of recipes for all occasions. This is when you can always apply them, not only for templating or scaffolding. Therefore, all boilerplates *must* be created according to these rules

[2019-07-04 09:07] i0natan commented on #435
@oshliaer @VilsonJrCorrea

Interesting. Let's think together what this CLI can generate for example and what it can't?

**It can**
1. Create all the project obvious artifacts (.gitignore, .editorconfig, semantic commit + many others)
2. Rich eslint setup including additional important rules
3. Multiple folder layers - entry points (API, CLI), domain, data-access. We can include within each layer o

[2019-07-04 09:24] i0natan commented on #105
@oshliaer Sounds good

[2019-07-04 09:26] i0natan commented on #129
@joaquinox Welcome aboard!

It's super relevant. Maybe @gaspaonrocks @NTurchi can share their progress so you join or at least not start from a clean slate?

[2019-07-04 09:32] oshliaer commented on #435
It can't

1. Provide a system against leaks. We can not take in mind all the details of connecting to interfaces or databases without a unified platform implementation.
1. Provide a variety of applications. It can be separate for a blog, chat, basket, but not for the whole factory of applications.
1. Very often the standard code is not a panacea. Can we guarantee [SOLID](https://en.wikipedia.org/w

[2019-07-06 10:01] joaquinox commented on #129
Thanks @i0natan! I'll wait for instructions from @gaspaonrocks or @NTurchi before moving forward then 👍

[2019-07-08 10:57] #421 closed

[2019-07-09 09:11] imVinayPandya commented on #239
@pramodrwt i would suggest that you can use **uncle Bob's clear architecture** for your application.

here are few helpful videos.
https://www.youtube.com/watch?v=fy6-LSE_zjI
https://www.youtube.com/watch?v=CnailTcJV_U

[2019-07-13 16:44] #69 closed

[2019-07-13 17:44] #139 closed

[2019-07-14 15:37] i0natan commented on #239
I second @imVinayPandya , watched one of those and it's just great

[2019-07-14 15:44] i0natan commented on #129
@gaspaonrocks or @NTurchi Maybe can you kindly just share with @joaquinox the current status so he can progress your great work from the right point?

[2019-07-14 15:52] goldbergyoni opened #439 "🎉🎉 Thank you contributors! 🎉🎉 (June 2019)"
🎉🎉 The Node.js best practices guide has gotten even better during June, thanks to the many awesome contributions made by the following folks 🎉🎉

🌻 [Martin Muzatko](https://github.com/MartinMuzatko),
🌻 [Jared Collier](https://github.com/autoboxer)
🌻 [Hilton Meyer](https://github.com/bikingbadger)
🌻 [ChangJoo Park(박창주)](https://github.com/ChangJoo-Park)
🌻 [Masahiro Sakaguchi](https://github.com/Masa

[2019-07-18 01:32] #294 closed

[2019-07-18 13:48] TheHollidayInn commented on #294
Ping as this is being worked on in a PR

[2019-07-18 17:57] pramodrwt commented on #239
@imVinayPandya, Thanks

[2019-07-18 18:16] pramodrwt commented on #239
Thanks @i0natan

 Best practices for NodeJs application architecture :

- how to manage various layer in application like interaction between different layers?
-    What are design patterns we can use ?  or any specific design pattern is best suit for any particular use case ?

[2019-07-23 08:01] ziyaddin opened #445 "Update Istanbul/NYC package links"
I think [Istanbul/NYC](https://github.com/gotwarlost/istanbul) link in [section 4.8](https://github.com/i0natan/nodebestpractices#-48-check-your-test-coverage-it-helps-to-identify-wrong-test-patterns) should be updated to non-deprecated version links: [Istanbul](https://github.com/istanbuljs/istanbuljs) and [NYC](https://github.com/istanbuljs/nyc).

[2019-07-24 12:06] i0natan commented on #445
YUP, thanks. Any chance you want to PR this change?

[2019-07-24 12:12] i0natan commented on #239
Simply put, use 3 or 4 layers, with very simple in-memory direct interaction between those. For example, with 3 layers have:
- Entry point layer - anything that can start a transaction like API. Very thin layer that just handle errors and maps information . Calls the domain layer
- Domain layer - the core of your app, rules, calls to other services, etc
- Data access layer - I guess the responsibi

[2019-07-24 15:36] emileber commented on #87
Just sharing all the possible ways to avoid backward relative require: https://gist.github.com/branneman/8048520

[2019-07-25 19:43] pramodrwt commented on #239
@i0natan Thanks

[2019-07-27 03:55] animir commented on #415
@js-kyle Hey, I still see old content here https://medium.com/@nodepractices/were-under-attack-23-node-js-security-best-practices-e33c146cb87d

[2019-07-28 01:15] js-kyle commented on #415
Hey @animir I've updated 6.2 - is there if there are other things out of date, could you please point those ones out? Thanks

[2019-07-28 03:51] animir commented on #415
@js-kyle 6.12 is outdated

[2019-07-28 14:34] #302 closed

[2019-07-28 20:29] desko27 commented on #95
Hey guys, I'm finishing off #363 on August, I can finally have some schedule for it... stay tuned.

[2019-07-29 03:30] js-kyle commented on #95
Sounds great!

[2019-07-29 15:24] #384 closed

[2019-08-02 05:29] js-kyle opened #447 "July/August Maintenance"
**Maintainer on call**: ??

**Updates**
- [ ] Update top badges with best practices item count, last update date and Node.js version
- [ ] Ensure all translations are aligned with the English version
- [ ] Update 'thank you' stars & flowers
- [ ] Notify and thank the contributors of the month
- [ ] Update news and updates
- [ ] Tweet it!

**Flowers**
- @lmammino
- @ziyaddin
- @namuwikilover

**Sta

[2019-08-02 21:41] lmammino commented on #447
No idea what is this 😅
Is this repo based on a rolling model for maintainers?

[2019-08-02 22:30] js-kyle commented on #447
@lmammino Sorry! I did not make this one clear!

No - the reason you are mentioned here, is due to your latest contribution to the repository! Each month, we create an issue to track all new contributors to ensure we thank them for their efforts at the end of each month

So you don't need to worry about being a maintainer! But of course if you are keen to contribute more in the future that would b

[2019-08-02 22:32] js-kyle commented on #410
@all-contributors-bot add @js-kyle

[2019-08-02 22:33] js-kyle commented on #410
@all-contributors-bot add @js-kyle for code

[2019-08-02 22:44] js-kyle commented on #410
@all-contributors please add @js-kyle for code

[2019-08-02 22:47] js-kyle commented on #410
https://github.com/all-contributors/all-contributors-bot/issues/201

[2019-08-03 15:25] lmammino commented on #447
OK, thanks a lot for clarifying :)

[2019-08-03 20:05] #387 closed

[2019-08-04 02:56] js-kyle commented on #410
@all-contributors-bot please add @js-kyle for code

[2019-08-04 09:27] ziyaddin commented on #445
Done.

[2019-08-04 15:15] #445 closed

[2019-08-06 15:20] i0natan commented on #410
@js-kyle  Maybe open an issue there? we are a big repo, they might help

[2019-08-06 15:28] goldbergyoni opened #454 "What is the Russian translation status?"
Looks like there are a lot and amazing PR going on, is it 80% ready yet? If yes, I would 3rd on the flags list, Tweet, include in news, etc

@oshliaer @BrunoScheufler

[2019-08-06 20:39] fedemengo commented on #435
I think it would be a great to have a few project templates, maybe very specific, that show how to implement a limited set of these best practices.

Even if such templates don't cover all best practices it would more helpful than not having them at all

[2019-08-06 20:52] js-kyle commented on #410
@i0natan yep, it is related to this issue, so working with them on it at the moment https://github.com/all-contributors/all-contributors-bot/issues/201

[2019-08-07 19:58] nanov commented on #435
Just my two cents, things can be separated into two categories :

* Personal Preferences ( out of choices probably ) - this includes linter, editorconfig, folder structure, logger, and of many more that are common for all projects.
* Project Nature - @goldbergyoni has defined it as layers, which is a great way to describe modularisation ( with shared parts ) of big projects with many entry points,

[2019-08-08 12:39] oshliaer commented on #454
@goldbergyoni

As you can see the last PR is a Russian branch #453

The branch is 100% translated and relevant.
I hope to do a proofreading already from the green branch.

[2019-08-08 12:40] oshliaer commented on #105
Related #454

[2019-08-09 12:14] nourkilany commented on #390
I've been in a huge pile of work for the past 2 or so months

[2019-08-11 13:12] goldbergyoni commented on #390
That's fine, we all here are pretty busy and sometimes do (Somehow) find the time. Take your time. Shall we leave this open and hope for some availability on your end or there is not even a chance and we better close?

[2019-08-11 13:16] goldbergyoni commented on #454
@oshliaer Sounds amazing, I guess soon we wanna merge this to master

p.s. We selectively looking for new contributors and thus far enjoy collaborating with you. We plan some interesting projects which you can be involved with, do you want to hear more?

[2019-08-11 13:20] goldbergyoni commented on #410
@js-kyle Great, it seems they are responsive

[2019-08-11 13:28] goldbergyoni commented on #435
@oshliaer I agree that such boilerplates can give only the ~70% of quality steps one should implement in a project, at some point there must be contextual & human judgment. But still, the 70% is critical and many get these wrong. The most reputable architectures don't assume anything about a project (besides being big enough) and still are counted as best practice.

As an example, we can't guarant

[2019-08-11 13:31] goldbergyoni commented on #435
Good idea, do you have some examples?

I like this, so basically the user being presented with a menu:
- Default
- Cherrypick

Should she chose cherrypick then we present opt-in questions:
- Do you want to have example tests?
- Shall we include a basic linter?
- Shall we enrich these linters with multiple advanced rules that we recommend?
- And so on with things like semantic release, request cont

[2019-08-11 13:32] goldbergyoni commented on #435
Interesting, can we clarify what is a template? which developer UX do you envision (e.g. what does the CLI ask, what does it do, etc)?

[2019-08-11 14:40] nourkilany commented on #390
let's leave it open and I'll try my best to find sometime to continue working on this

[2019-08-12 03:16] oshliaer commented on #454
@goldbergyoni I'm open to any suggestions/offers/jobs/challenges/volunteering/coding/testing/translating etc.
I'd like to hear more.

[2019-08-12 10:21] animir commented on #415
@js-kyle `express-brute` package which is listed in 6.12 has officially known vulnerability https://www.npmjs.com/advisories/823

[2019-08-14 06:38] js-kyle commented on #415
Those older references have been removed now

[2019-08-14 08:05] animir commented on #415
@js-kyle 6.12 `Read More: Login rate limiting` still leads to the old https://github.com/goldbergyoni/nodebestpractices/blob/security-best-practices-section/sections/security/login-rate-limit.md

[2019-08-14 08:09] js-kyle commented on #415
Whoops, it's pointing to master branch now

[2019-08-15 09:08] animir commented on #415
@js-kyle Almost there 👍
`Read more` leads to the root readme file, and developer sees the same content as on medium 6.12 article. It is slightly inconsistent. Could you fix it, so `Read more` leads here https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/security/login-rate-limit.md

[2019-08-15 09:14] js-kyle commented on #415
@animir Good catch again, that is the correct link now!

[2019-08-17 23:35] js-kyle commented on #410
@all-contributors-bot please add @js-kyle for code

[2019-08-17 23:37] js-kyle commented on #410
OK great, this is working now! I'll take a look at some display/styling options now

[2019-08-18 01:21] js-kyle opened #459 "All contributors bot implementation"
**NOTE:**
Why am I tagged in this issue?

If you have been tagged in this issue, it is due to us migrating our previous flowers/stars contribution model to using the all-contributors specification. This notification will only happen once.

---------------------

This issue tracks the remaining work items required for adding https://allcontributors.org/ spec and bot to this project.

- [x] create a

[2019-08-18 04:56] andersonaguiar opened #460 "Clarify the explanation on how to create layers"
In this page: https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/projectstructre/createlayers.md

I can see two possible improvements:

- Exemplify using res returns as well, in this page it's showing only how to deal with req but not with res
- You should change that .gif image, gifs don't allow you to have control over it (stop/play/rewind/forward), prefer text instead or vid

[2019-08-18 13:18] #400 closed

[2019-08-18 22:20] js-kyle commented on #400
@ikhsanalatsary 👋 this was auto closed - should I reopen it/are you still actively working on this?

[2019-08-18 22:21] js-kyle commented on #460
Agree on the comment about the .gif - we should aim to be as accessible as possible 👍

[2019-08-19 00:05] js-kyle commented on #459
Commands to replace current stars flowers list after merge:

[code]

[2019-08-19 00:13] js-kyle commented on #459
This is ready for review. The process will be

- merge connected PR
- run through the above commands, then merge PRs as I go

After that initial setup, it will be as easy as using the bot for new contributions - no monthly tasks 😄

[2019-08-19 03:58] oshliaer commented on #98
Related #454

[2019-08-19 22:26] js-kyle commented on #459
@goldbergyoni Are you happy for me to go ahead with the above? Everything is ready to go - there will just be alot of PR's on the repo when I use the bot to run the above commands (I will take care of them)

[2019-08-20 00:47] noway opened #464 "Example express app which encompasses all of the advice"
It would be really great to have an example app which illustrates all of the advice in the repo. I.e. an app written by all the best practices.

Something simple, like TODOMVC should be suffice.

Cheers.

[2019-08-20 07:09] BrunoScheufler commented on #464
Hey there! We've had this idea come up several times, for example in #435 #430 👍 I think it might help to source all of this in one issue and go forward with this. Any thoughts and things I've missed on this @goldbergyoni?

[2019-08-20 19:27] goldbergyoni commented on #460
@andersonaguiar Welcome aboard ✋

You're 100% right, see #394  it's on our todo but there are so many other things. This will happen in the next 2-3 months. If you want to help in writing this - please let us know

[2019-08-20 19:30] goldbergyoni commented on #454
@oshliaer Cool, where can we discuss in private: mail? twitter?

You may approach me: me@goldbergyoni.com

[2019-08-20 21:20] AbdelrahmanHafez commented on #390
For me, I am 6 months away from finishing my military service, then I'll be more than happy to actively maintain an Egyptian Arabic translation.

It's a quite long duration, but it is what it is.

[2019-08-20 23:25] andersonaguiar commented on #460
Great, really good to know that you guys already have considered this change. Sure thing, I'm just a finishing a side project, once it's done I can jump into it to help you guys with the changes.

[2019-08-21 02:04] noway commented on #464
Sweet, I'll close the issue in that case in order not to clutter the issue list :-)

[2019-08-21 02:04] #464 closed

[2019-08-21 04:26] oshliaer commented on #390
@nourkilany & @AbdelrahmanHafez

You can try a challenge. For an example to push a practice per week. This repo contains specific branches for any language. Therefor you can just start.

If you're using vscode there is an extension [vscode-google-translate](https://marketplace.visualstudio.com/items?itemName=funkyremi.vscode-google-translate) by @funkyremi. For quick and thoughtful work I use line

[2019-08-21 04:39] oshliaer commented on #435
Totally agree!
Yes, we can =)

[2019-08-21 07:37] BrunoScheufler commented on #464
@noway thanks 🙌  And thank you for bringing this up, even if this was posted before, that's not a problem at all, as it helps us to measure the demand for these projects 🚀

[2019-08-22 03:50] js-kyle commented on #459
Going ahead with this - apologies for the incoming spam 😂

[2019-08-22 03:50] js-kyle commented on #459
@all-contributors-bot please add @kevinrambaud

[2019-08-22 03:50] js-kyle commented on #459
@all-contributors-bot please add @kevinrambaud for content

[2019-08-22 03:52] js-kyle commented on #459
@all-contributors-bot please add @mfine15 for content

[2019-08-22 03:52] js-kyle commented on #459
@all-contributors-bot please add @squgeim  for content

[2019-08-22 03:53] js-kyle commented on #459
@all-contributors-bot please add @matheusrocha89  for content

[2019-08-22 03:54] js-kyle commented on #459
@all-contributors-bot please add @BitYog  for content

[2019-08-22 03:54] js-kyle commented on #459
@all-contributors-bot please add @kudapara  for content

[2019-08-22 03:55] js-kyle commented on #459
@all-contributors-bot please add @t1st3  for content

[2019-08-22 03:56] js-kyle commented on #459
@all-contributors-bot please add @mulijordan1976  for content

[2019-08-22 03:56] js-kyle commented on #459
@all-contributors-bot please add @matchai  for content

[2019-08-22 03:57] js-kyle commented on #459
@all-contributors-bot please add @fabiothiroki  for content

[2019-08-22 03:57] js-kyle commented on #459
@all-contributors-bot please add @jsumners  for content

[2019-08-22 03:58] js-kyle commented on #459
@all-contributors-bot please add @crowchirp  for content

[2019-08-22 03:59] js-kyle commented on #459
@all-contributors-bot please add @dan-gamble for content

[2019-08-22 04:02] js-kyle commented on #459
@all-contributors-bot please add @trainorpj for content

[2019-08-22 04:03] js-kyle commented on #459
@all-contributors-bot please add @reod for content

[2019-08-22 04:03] js-kyle commented on #459
@all-contributors-bot please add @yonjah for content

[2019-08-22 04:04] js-kyle commented on #459
@all-contributors-bot please add @hazolsky for content

[2019-08-22 04:05] js-kyle commented on #459
@all-contributors-bot please add @EvgenyOrekhov for content

[2019-08-22 04:05] js-kyle commented on #459
@all-contributors-bot please add @gediminasml for content

[2019-08-22 04:06] js-kyle commented on #459
@all-contributors-bot please add @hisaac for content

[2019-08-22 04:07] js-kyle commented on #459
@all-contributors-bot please add @vkaracic for content

[2019-08-22 04:07] js-kyle commented on #459
@all-contributors-bot please add @lallenlowe for content

[2019-08-22 04:08] js-kyle commented on #459
@all-contributors-bot please add @nwwells for content

[2019-08-22 04:09] js-kyle commented on #459
@all-contributors-bot please add @paulovitin for content

[2019-08-22 04:09] js-kyle commented on #459
@all-contributors-bot please add @syzer for content

[2019-08-22 04:11] js-kyle commented on #459
@all-contributors-bot please add @davesnx for content

[2019-08-22 04:13] js-kyle commented on #459
@all-contributors-bot please add @pupix for content

[2019-08-22 04:17] js-kyle commented on #459
@all-contributors-bot please add @spaxe for content

[2019-08-22 04:17] js-kyle commented on #459
@all-contributors-bot please add @ocularrhythm for content

[2019-08-22 04:18] js-kyle commented on #459
@all-contributors-bot please add @septa97 for content

[2019-08-22 04:18] js-kyle commented on #459
@all-contributors-bot please add @AllenFang for content

[2019-08-22 04:19] js-kyle commented on #459
@all-contributors-bot please add @leonardovillela for content

[2019-08-22 04:19] js-kyle commented on #459
@all-contributors-bot please add @MichalZalecki for content

[2019-08-22 04:20] js-kyle commented on #459
@all-contributors-bot please add @chrisnicola for content

[2019-08-22 04:20] js-kyle commented on #459
@all-contributors-bot please add @aecorredor for content

[2019-08-22 04:21] js-kyle commented on #459
@all-contributors-bot please add @ymhtut for content

[2019-08-22 04:22] js-kyle commented on #459
@all-contributors-bot please add @cwar for content

[2019-08-22 04:22] js-kyle commented on #459
@all-contributors-bot please add @keyfoxth for content

[2019-08-22 04:23] js-kyle commented on #459
@all-contributors-bot please add @utkarshbhatt12 for content

[2019-08-22 04:23] js-kyle commented on #459
@all-contributors-bot please add @duartemendes for content

[2019-08-22 04:23] js-kyle commented on #459
@all-contributors-bot please add @serv for content

[2019-08-22 04:24] js-kyle commented on #459
@all-contributors-bot please add @Max101 for content

[2019-08-22 04:25] js-kyle commented on #459
@all-contributors-bot please add @SandroMiguel for content

[2019-08-22 04:25] js-kyle commented on #459
@all-contributors-bot please add @GabeKuslansky for content

[2019-08-22 04:25] js-kyle commented on #459
@all-contributors-bot please add @ripper234 for content

[2019-08-22 04:26] js-kyle commented on #459
@all-contributors-bot please add @vkarpov15 for content

[2019-08-22 04:26] js-kyle commented on #459
@all-contributors-bot please add @imsergiobernal for content

[2019-08-22 04:27] js-kyle commented on #459
@all-contributors-bot please add @ntelkedzhiev for content

[2019-08-22 04:27] js-kyle commented on #459
@all-contributors-bot please add @vitordagamagodoy for content

[2019-08-22 04:28] js-kyle commented on #459
@all-contributors-bot please add @manishsaraan for content

[2019-08-22 04:28] js-kyle commented on #459
@all-contributors-bot please add @uronly14me for content

[2019-08-22 04:29] js-kyle commented on #459
@all-contributors-bot please add @blackmatch for content

[2019-08-22 04:30] js-kyle commented on #459
@all-contributors-bot please add @ISNIT0 for content

[2019-08-22 04:31] js-kyle commented on #459
@all-contributors-bot please add @BusbyActual for content

[2019-08-22 04:31] js-kyle commented on #459
@all-contributors-bot please add @ImanMh for content

[2019-08-22 04:32] js-kyle commented on #459
@all-contributors-bot please add @HeeL for content

[2019-08-22 04:32] js-kyle commented on #459
@all-contributors-bot please add @kapilepatel for content

[2019-08-22 04:32] js-kyle commented on #459
@all-contributors-bot please add @justjavac for content

[2019-08-22 04:33] js-kyle commented on #459
@all-contributors-bot please add @hozefaj for content

[2019-08-22 04:33] js-kyle commented on #459
@all-contributors-bot please add @el-ethan for content

[2019-08-22 04:34] js-kyle commented on #459
@all-contributors-bot please add @milkdeliver for content

[2019-08-22 04:34] js-kyle commented on #459
@all-contributors-bot please add @ArlindXh for content

[2019-08-22 04:35] js-kyle commented on #459
@all-contributors-bot please add @ttous for content

[2019-08-22 04:35] js-kyle commented on #459
@all-contributors-bot please add @LewisArdern for content

[2019-08-22 04:36] js-kyle commented on #459
@all-contributors-bot please add @GabrielLidenor for content

[2019-08-22 04:37] js-kyle commented on #459
@all-contributors-bot please add @animir for content

[2019-08-22 04:37] js-kyle commented on #459
@all-contributors-bot please add @Francozeira for content

[2019-08-22 04:38] js-kyle commented on #459
@all-contributors-bot please add @Invvard for content

[2019-08-22 04:38] js-kyle commented on #459
@all-contributors-bot please add @romulogarofalo for content

[2019-08-22 04:39] js-kyle commented on #459
@all-contributors-bot please add @thoqbk for content

[2019-08-22 04:39] js-kyle commented on #459
@all-contributors-bot please add @Qeneke for content

[2019-08-22 04:40] js-kyle commented on #459
@all-contributors-bot please add @MartinMuzatko for content

[2019-08-22 04:40] js-kyle commented on #459
@all-contributors-bot please add @autoboxer for content

[2019-08-22 04:41] js-kyle commented on #459
@all-contributors-bot please add @bikingbadger for content

[2019-08-22 04:42] js-kyle commented on #459
@all-contributors-bot please add @ChangJoo-Park for content

[2019-08-22 04:42] js-kyle commented on #459
@all-contributors-bot please add @MasahiroSakaguchi for content

[2019-08-22 04:43] js-kyle commented on #459
@all-contributors-bot please add @TheHollidayInn for content

[2019-08-22 04:44] js-kyle commented on #459
@all-contributors-bot please add @coreyc for content

[2019-08-22 04:44] js-kyle commented on #459
@all-contributors-bot please add @Berkmann18 for content

[2019-08-22 04:45] js-kyle commented on #459
@all-contributors-bot please add @DouglasMV for content

[2019-08-22 04:45] js-kyle commented on #459
@all-contributors-bot please add @marcelosdm for content

[2019-08-22 04:46] js-kyle commented on #459
@all-contributors-bot please add @mperk for content

[2019-08-22 04:46] js-kyle commented on #459
@all-contributors-bot please add @ryanouyang for content

[2019-08-22 04:57] #459 closed

[2019-08-22 05:20] js-kyle opened #550 "Spellcheck CI"
I'm keen to start a small project of running some sort of spell check on CI, at least for our English files initially. It's very easy to make spelling mistakes when editing markdown, (for me at least), as well as hard to spot reviewing

[2019-08-22 05:21] js-kyle commented on #550
Potentially something like this, there are likely more popular options https://www.npmjs.com/package/markdown-spellcheck

[2019-08-22 06:39] #410 closed

[2019-08-22 07:12] js-kyle commented on #550
This is a sample of what it looks like on the README file at the moment. We might have too much technical jargon that it could be more annoying to have to add exclusions all the time

![image](https://user-images.githubusercontent.com/23022619/63493928-c2365500-c510-11e9-85c9-9ceff0f775eb.png)

[2019-08-22 08:41] Bangood commented on #303
@i0natan can you add me to the starter as well, please?

[2019-08-22 13:12] Calinou commented on #405
@stale This issue is still relevant :slightly_smiling_face:

[2019-08-23 21:49] js-kyle commented on #550
Probably more hassle that it is worth I think. The tool works well, but we would need to heavily maintain an exclusion list

[2019-08-23 21:49] #550 closed

[2019-08-24 05:04] #439 closed

[2019-08-24 09:44] #406 closed

[2019-08-25 04:40] js-kyle opened #552 "Revert line-length markdownlint setting"
https://github.com/goldbergyoni/nodebestpractices/pull/551

The suggestion is to disable ignore the rule `MD013` in `.operations/.markdownlint.json`

[2019-08-25 04:49] oshliaer commented on #552
Thanks for start the discussion!

I thinks a linting of md is a big step to forward.

OK. I have a problem with `MD013.lineLength`.

To translate, I need to go to a specific line so that the number of lines matches at the end. Thus, I verify that my translation is up to date. This is one of the important milestones in the quality of the product.

Our languages are so different that we cannot guara

[2019-08-25 05:09] js-kyle commented on #552
@oshliaer thanks for bringing this to light - it was something I really didn't anticipate! It is important if it impacts quality - as this was aiming to improve quality 😄

Do you see any other issues or was it mainly the change related to `MD013`?

[2019-08-25 05:30] oshliaer commented on #552
- [x] - "default" - I am sure that for all left-handed languages this will most likely be correct
- [x] - "MD033" - Inline HTML
- [x] - "MD001" - Header levels should only increment by one level at a time
- [ ] - "MD013"  - Line length. We may have problems for different languages
- [x] - "MD039"  - Spaces inside link text

I checked this for the Russian file. This is basically `MD013`. To fix thi

[2019-08-25 05:34] js-kyle commented on #552
OK cool. In the next day or so, I will create a PR to revert the line changes to README.md, but retain the other changes

[2019-08-25 05:36] oshliaer commented on #552
I really hope that I did not cause you any inconvenience or concern.

[2019-08-25 05:38] js-kyle commented on #552
No, thank you! Good to raise it as an issue early so we can catch the issue

[2019-08-27 09:15] halfzebra opened #556 "Reconsider on suggesting bunyan as a logger"
In a section about [logging](https://github.com/goldbergyoni/nodebestpractices#-27-use-a-mature-logger-to-increase-error-visibility) it is suggested to use Bunyan as a logging library.

The project is not currently active https://github.com/trentm/node-bunyan/issues/586 and it's probably not the best suggestion for people seeking guidance.

I propose to remove it as a suggested library until the r

[2019-08-27 09:22] oshliaer commented on #556
Bunyan is mentioned already https://github.com/goldbergyoni/nodebestpractices#-27-use-a-mature-logger-to-increase-error-visibility

[2019-08-27 09:25] oshliaer commented on #556
This correlate with [writing-guidelines part 6 leading vendors only](https://github.com/goldbergyoni/nodebestpractices/blob/master/.operations/writing-guidelines.md#6-leading-vendors-only)

[2019-08-31 03:36] js-kyle commented on #552
@oshliaer I have created https://github.com/goldbergyoni/nodebestpractices/pull/559 to revert these problematic changes

[2019-08-31 09:47] #556 closed

[2019-08-31 19:42] halfzebra opened #561 "Recommend asserting the presence of env variables required for running the app"
Sometimes environment variables are used by the code, which is not exercised at startup, e.g. one of the routes of the server.
If the variable is not set, the application will fail at run-time, potentially in production, affecting the end-users.

The guide already recommends minimizing the number of env vars, so I feel like the next step would be recommending on asserting the presence of all requi

[2019-09-01 20:14] oshliaer commented on #552
Thanks for this!

I updated the translation. Now he's on the crest of a wave! :surfing_man:

[2019-09-02 07:10] js-kyle commented on #552
Perfect, thanks for that!

[2019-09-02 07:10] #552 closed

[2019-09-03 13:50] goldbergyoni commented on #156
Leaving this open just in case someone still wants to jump on this opprtunity

[2019-09-03 13:54] goldbergyoni commented on #561
That's a very good point IMO, shall we maybe include it within '2.11 Fail fast, validate arguments using a dedicated library'?

p.s. Where is it recommended to minimize env vars?

[2019-09-03 13:56] goldbergyoni commented on #556
@halfzebra Yes, good catch 🙏

[2019-09-03 16:21] halfzebra commented on #561
Thanks for the feedback!

Yes, this is definitely about failing fast :+1:

I completely agree with recommendation about [Joi](https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/errorhandling/failfast.md#code-example-validating-complex-json-input-using-joi) for the input, but [assert](https://nodejs.org/api/assert.html) feels like a better option, since it is already in the Node

[2019-09-03 17:45] goldbergyoni commented on #550
@js-kyle Like the approach, we should keep on and embrace automated quality tools!

[2019-09-03 17:50] goldbergyoni commented on #303
Done, note that it's a draft at best

[2019-09-11 10:05] desko27 commented on #95
@goldbergyoni @js-kyle, about #363, I already completed all "one paragraph explainers" for sections from 1 to 5 👌

I would like to start section 6 (Security Best Practices), but since it was included to `master` after spanish translation started, files are not present on the branch I'm working on, which is [`spanish-translation`](https://github.com/goldbergyoni/nodebestpractices/tree/spanish-trans

[2019-09-18 08:10] js-kyle commented on #95
Hey @desko27 Awesome! Regarding getting started on Section 6, I think it might be best to merge the current branch to master, then create a fresh start for part 6? Whichever option makes it easier for you. If you have a preference, let us know here and we can arrange that

[2019-09-18 08:32] desko27 commented on #95
@js-kyle that's cool! so this is the roadmap, in this specific order:
1. #363 can be merged into [spanish branch](https://github.com/goldbergyoni/nodebestpractices/tree/spanish-translation).
2. I need `master` to be merged into [spanish branch](https://github.com/goldbergyoni/nodebestpractices/tree/spanish-translation) because it's outdated and section 6 is missing.
3. I'll open a new PR for secti

[2019-09-19 12:33] jfgabriel opened #564 "Typescript best practices"
Hello guys, is someone working on Typescript best practices? If not, should we start 😄 ?

[2019-09-21 00:34] js-kyle commented on #95
Hey @desko27, I think this is ready to continue work on a new branch now. Please let me know if the merge with master is what you were expecting, otherwise, I can fix it!

[2019-09-21 09:36] desko27 commented on #95
@js-kyle I see, that's perfect 😄

I'm busy for the next two weeks. So after that, I'm working on a new PR ✍️ for section 6 🔒 Security Best Practices.

[2019-09-22 13:37] goldbergyoni commented on #95
@js-kyle @desko27 If the 5 sections are merged with master - I would release that, put a Spanish flag and include in news. What do you think?

[2019-09-22 13:42] goldbergyoni commented on #564
@jfgabriel Welcome aboard, interesting idea, can you make it more tangible with few examples for good TS practices?

[2019-09-22 13:58] goldbergyoni commented on #561
Apologies, for the late response, I somehow missed your reply.

I'm not sure whether assert is the right tool for the mission because config validation has a long list of requirements that some libs address them all (see how elegant npm/convict is) while assert addresses only one. As a developer, I prefer not to iterate over 30 env vars and assert rather declare once my config schema and get all t

[2019-09-26 08:30] halfzebra commented on #561
No worries and thanks for your reply!

I usually use assert and build a small helper that iterates over a schema over the env vars(if there are more than 3-5 of them), just to run a dependency-free life. I like how [convict](https://www.npmjs.com/package/convict) does it and I think this approach(or similar) should be the industry standard 🙂

I'm up for adding the example of using convict 👍

[2019-09-26 08:42] gogoyqj commented on #564
use nestjs!

[2019-09-28 19:08] #393 closed

[2019-09-30 05:52] ManBearPigg opened #570 "Unsafe URL Express Redirect Correction"
In order to tell express that you want to redirect to an absolute URL, you must add two slashes in front of the URL like so:

`res.redirect("//127.0.0.1:3000/page");`

If you only do

`res.redirect("127.0.0.1:3000/page");`

then the URL you try to reach will look like this

Try it.

[2019-10-03 12:20] #430 closed

[2019-10-04 05:30] goldbergyoni commented on #570
@ManBearPigg Welcome aboard and thanks for the great tip. Is this related to some specific content (best practice) or just a proposal for a new general tip/practice?

[2019-10-04 05:34] goldbergyoni commented on #561
Yes! let's do it and emphasize the convict approach in bullet 1.5?

[2019-10-04 05:45] goldbergyoni commented on #564
That might be a good idea for some teams and some projects, how do you find your work with it so far? what did you like/dislike?

[2019-10-04 23:39] ManBearPigg commented on #570
It's with regards to 6.24 Unsafe Redirects.

I used your example to secure redirects on my Node app. I encountered the problem I described above. I found the solution in this obscure GitHub issue ticket for express: https://github.com/expressjs/express/issues/920

My implementation to correct for this is as follows:

[code]

Note the "//" at the beginning of the URLs to tell express that the path

[2019-10-08 13:57] P1X3L0V4 opened #574 "Polish translation"
This issue thread is dedicated to add Polish translation to [goldbergyoni/nodebestpractices](https://github.com/goldbergyoni/nodebestpractices)

**Fork:** [P1X3L0V4/nodebestpractices](https://github.com/P1X3L0V4/nodebestpractices)

**Branch:** _pl_

## Status

_Updated as of October 24, 2019_

## TODO List

### Initial

- [X] Initial Polish Translation (Fork)
- [ ] README.polish (/README.polish.md

[2019-10-09 20:42] #428 closed

[2019-10-10 20:21] dmitriz commented on #428
Hi @goldbergyoni
Apologies for somehow missing your response (that I greatly appreciate!) and only noticed it now that it was closed by the bot.

Only if you use callbacks badly.
Promise is basically a wrapper with diminished functionality and overheads around functions accepting 2 callbacks. Even if you don't see these functions, the package or API wraps them into promises for you. But underneath

[2019-10-12 11:02] #561 closed

[2019-10-13 01:44] Zybax commented on #95
Hey so.. i was looking for some projects to start contributing and this one looks beginner friendly,
is there something i need to know before contributing?

[2019-10-13 01:54] js-kyle commented on #95
@Zybax that's awesome, welcome! Were you interested in helping with the Spanish translation?

[2019-10-13 01:56] Zybax commented on #95
@js-kyle yeah i have seen some issues already, also im getting into node and this looks  like a great source on info i'll make sure to read it all

[2019-10-13 02:01] js-kyle commented on #95
The current working branch for spanish is https://github.com/goldbergyoni/nodebestpractices/tree/spanish-translation

So you can create a fork of this repository for you to work on, then once you have some progress, we will be happy to review it.

@desko27 is leading the Spanish translation, and has currently worked through sections 1 - 5, and will work on section 6 soon I believe. Perhaps you cou

[2019-10-14 19:54] goldbergyoni commented on #574
@P1X3L0V4  - Welcome aboard 🎆

Having a Polish translation could be awesome

Let's go for this? Few basic guideliness:
1. Work on your own fork - fork, create a branch, translate & collaborate with other translators, then PR finally
2. Focus on translation, not content editing - the focus is on translation, should anyone want to modify the content or the graphics - let's PR first in English and th

[2019-10-14 20:09] goldbergyoni commented on #570
@js-kyle My 2 cent: seems like a solid improvement to the example, you may try this out in 5 min or I may also try on my end as well. You may use this opportunity to improve the TLDR a bit as it's hard to understand the context. Maybe just add an example: 'For example, typically app login route allows receiving custom URLs to redirect the user to upon successful login. Attackers then might exploit

[2019-10-14 20:19] goldbergyoni commented on #129
@gaspaonrocks @NTurchi One more try, maybe you can just share a status update? 🙏

[2019-10-16 05:50] NTurchi commented on #129
@goldbergyoni  Sorry for this late reply. A PR has been on the [French repo version] at the beginning of this year (https://github.com/gaspaonrocks/nodebestpractices/pull/1) but I didn't get any follow-up. Thus, I have not started to go deeper into the translation. @gaspaonrocks Any update?

[2019-10-16 15:16] kevynb opened #579 "TypeScript examples"
Hello,

I saw in the Readme that you're looking for Typescript examples. I think I'm up to the task.

What do you need? Is it just another code block under existing examples using Typescript types?

[2019-10-17 06:06] contributorpw commented on #454
Hi!

What's a rule for merge a lang branch to the master?

[2019-10-19 10:11] Anonyma commented on #95
Hi! Any pending translations?
Is anyone working on these already? (security section) https://github.com/goldbergyoni/nodebestpractices/commit/a4d3d0585e8d4b1b9db3237537a3f6f47f3a856e

[2019-10-22 18:38] desko27 commented on #95
Hi @Zybax @Anonyma! I'm sorry, I've been a little bit busy. I'll try to expose the current status of the translation project so you can decide what's the best way for you to contribute:

## One paragraph explainers
There's no much left to do with these ones. Anything is improvable by the community though.
- ✅ Sections 1 to 5 are translated and merged.
- 🔃 Section 6 is almost finished and I'll open

[2019-10-26 18:50] goldbergyoni commented on #95
@desko27 Awesome summary. Whenever you feed the Spanish translation is good enough to be published - let us know. I don't think it should be perfect, we're a community-based project so even if it's 85% ready - let spread the word

@Zybax @Anonyma Welcome abroad, we will be glad to have you hear on improving the content! 🎉

[2019-10-26 18:58] goldbergyoni commented on #454
@contributorpw That's awesome! Been waiting for this... :)

Ensure your local master is updated (pull latest), resolve conflicts if any (ping if need help), create a PR to our master. We will review shortly and merge. Then we would put a news announcement, add you to the contributor's list, tweet it and publish in few Node/js groups in Russia?

Make sure to put your name on the top of Russian lang

[2019-10-26 19:04] goldbergyoni commented on #579
@kevynb Welcome and sorry for the late reply, I was traveling recently and only now found some free time

Yes, your proposal sounds great. I would create one example, to see how the format looks like, and then discuss this with the team here @BrunoScheufler and @js-kyle and once we love the format we can go to the distance

Just an idea - we can maybe use HTML detail tag to place two examples (JS

[2019-10-26 19:07] goldbergyoni commented on #579
### Code example: deciding whether to crash

<details><summary><b>JavaScript</b></summary>

[code]
</details>

<br/>
<details><summary><b>TypeScript</b></summary>

[code]
</details>

[2019-10-26 19:12] goldbergyoni commented on #129
Thank you @NTurchi :)

@joaquinox, In that case, I suggest you just fork the French repo of @gaspaonrocks?

[2019-10-27 07:29] kevynb commented on #579
Yeah, that looks good to me!
I'll start converting some code while we wait for confirmation from the others.

[2019-10-29 08:49] goldbergyoni opened #586 "🎉🎉 Thank you contributors! 🎉🎉 (September & October 2019)"
🎉🎉 The Node.js best practices guide has gotten even better during September and October, thanks to the many awesome contributions made by the following folks 🎉🎉

📢 🇷🇺 Our guide is now also translated to Russian (+ other 8 languages)! This thanks to the AMAZING work of Alex Ivanov @contributorpw ❤️

The following folks suggested & contributed great new ideas and enhancements:
🌻 Adeel Imran @adeelib

[2019-10-30 13:25] joaquinox commented on #129
Thanks for the green light @goldbergyoni, I'll get to work this weekend 👍

[2019-11-02 20:41] #239 closed

[2019-11-06 09:26] goldbergyoni opened #588 "Suggesting new item format - with emojis"
# ✅ Use Async-Await or promises for async error handling

### 📝 One Paragraph Explainer

Callbacks don’t scale well since most programmers are not familiar with them. They force to check errors all over, deal with nasty code nesting and make it difficult to reason about the code flow. Promise libraries like BlueBird, async, and Q pack a standard code style using RETURN and THROW to control the pro

[2019-11-06 09:29] goldbergyoni commented on #588
@BrunoScheufler @js-kyle @idori @kevynb

What do you think?

[2019-11-06 17:04] kevynb commented on #588
Well, I'm not a big fan of all those emojis except the big ❌. That one could be useful for people who skim through the code.

However I don't have a strong opinion on that. Add to that the fact that I'm new here 😉

[2019-11-06 21:22] js-kyle commented on #588
I definitely like the expandable code snippets.

Maybe we could have

💬 Blog Quotes:

Rather than multiple headings for each, as that makes the page look too busy, in my opinion

[2019-11-07 10:53] goldbergyoni commented on #129
🎈 🎉

Let me whether I can help in any form

[2019-11-08 11:02] ZivErlich commented on #156
היי @goldbergyoni
אשמח לעזור בתרגום לעברית.
מבחינת זמינות, אעדיף לתרגם חלק חלק (אפשר לחלק בינינו מי מתרגם מה).

[2019-11-09 05:37] Rhenzy1293 commented on #156
Bisaya mode!

[2019-11-11 16:31] goldbergyoni commented on #156
נשמע על הכיפאק! עם איזה חלק בא לך להתחיל?

[2019-11-12 21:10] antony opened #590 "Why so express centric?"
Seems to be a decent guide which references a good spread of different libraries and such, but keeps mentioning express as if it's the only http server in existence.

Could it be more general? Drop the word expresss, drop the concept of "middleware" perhaps?

[2019-11-15 07:57] stalniy commented on #395
In progress. Sorry didn’t have time recently to proceed

[2019-11-16 00:40] l-portet commented on #129
Hey, if you need help I'd be happy to contribute! 😊

[2019-11-17 19:01] goldbergyoni commented on #395
@stalniy It's 100% cool, take your time :)

Shall we maybe seek someone to help you?

[2019-11-17 19:31] goldbergyoni commented on #590
Yes, it should and will. If you want to help with this it would be much appreciated, otherwise will get to it sometime (working on docker practices, boilerplate and others...)

The term middleware is relevant to most web framework, isn't it?

[2019-11-19 07:46] stalniy commented on #395
That would be great ! :) thanks

[2019-11-20 15:30] Calinou commented on #405
This issue is still relevant :slightly_smiling_face:

[2019-11-20 18:04] NilsWaldowski commented on #303
@goldbergyoni I would also appreciate an invitation for the example repo! 🙂

[2019-11-23 19:58] goldbergyoni commented on #395
@BrunoScheufler Can you kindly handle this? we can Tweet, publish in Ukraine newsgroups, put under our news ('looking for...'), other ideas?

[2019-11-23 20:02] BrunoScheufler commented on #395
Sure, we could also add this to our top README section as well, so if any users from Ukraine see it they can help out right away 👍

[2019-11-24 17:11] Andras-Simon commented on #407
Please keep it open for now, the last few months were busy, but I will try to find some time to finish the translation.

[2019-11-24 18:33] erezhod opened #596 "Structuring project by components - any real examples?"
Hi @goldbergyoni!
First of all, let me say thank you for sharing this amazing knowledge base, helps a lot.

I'm trying to re-structure a project that I'm currently working on for a client (Enterprise one) and it's a RESTful API using Node+Express which is currently structured the "classic" way (models, controllers, routes, etc...).

I tried following what you and the contributors mention [here](ht

[2019-11-26 10:58] syffs commented on #596
It would make sense to have a full sample (or even a starter) project or even implementing most of the guidlines described here.

[2019-11-26 16:47] webstacker opened #597 "Where else would the centralized error handler be used other than middleware?"
https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/errorhandling/centralizedhandling.md

I'm obviously missing something here...

What is an example of this?

How would the centralized error handler be used with Cron jobs and testing errors?

[2019-11-27 19:21] goldbergyoni commented on #390
Amazing idea!

@nourkilany & @AbdelrahmanHafez We will be happy to see you whenever you find the time

[2019-11-27 19:27] goldbergyoni commented on #596
@erezhod I don't have something self-explanatory but should I hold a (free obviously) webinar in December will you join?

@syffs Yeah, you're right. Just don't have the time... Have many parts of these practices spreaded around customers projects but need few days to assemble all of them together

[2019-11-27 19:33] goldbergyoni commented on #407
Sure thing! Take your time and hope to see you soon :)

[2019-11-27 20:07] AbdelrahmanHafez commented on #390
I'll have much more free time in exactly 3 months, planning to start on it then.

[2019-11-28 18:31] erezhod commented on #596
Of course!

[2019-11-28 21:30] #447 closed

[2019-11-29 01:12] #460 closed

[2019-11-29 06:12] #435 closed

[2019-12-06 11:47] taylankasap opened #601 "This sentence in 2.9 is missing something, not sure what"
At the beginning of [2.9 Discover errors and downtime using APM products](https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/errorhandling/apmproducts.md) it says:

Maybe it meant something like this?

[2019-12-06 12:18] dcsan commented on #556
what do you recommend instead?

[2019-12-06 22:30] halfzebra commented on #556
I like using Pino and I would recommend it to anyone doing Node.js servers.

[2019-12-07 19:06] MIKOLAJW197 opened #603 "Polish translation"
Have you thought about adding a Polish translation?
In the near future I could take care of that 🚀

[2019-12-11 21:22] js-kyle commented on #603
Hey @MIKOLAJW197 a start has been made on Polish! You can take a look at progress here, and help out if you would like to! https://github.com/goldbergyoni/nodebestpractices/issues/574

[2019-12-12 10:19] forresst commented on #129
@goldbergyoni Despite several attempts, the translation is no longer progressing.

So I started translating into French (taking up and adapting what had already been done). For this, I made a fork of the repository[`goldbergyoni/nodebestpractices`](https://github.com/forresst/nodebestpractices/) and I created a branch[`french-translation`](https://github.com/forresst/nodebestpractices/tree/french-

[2019-12-12 10:30] joaquinox commented on #129
@forresst Thanks for keeping this going. Apologies for not getting more involved in this yet, I have recently started a new role and have a little daughter that keeps me busy 🤦‍♂

I hope to get started asap!

[2019-12-13 11:17] corentindesfarges commented on #129
Hi
I'd be happy to contribute :-) Just tell me how I can help 👷

[2019-12-13 13:43] forresst commented on #129
@corentindesfarges First of all, thank you for your help. The simplest:
1. Choose the file you want to translate from those that are not assigned in thise [issue](https://github.com/forresst/nodebestpractices/issues/1) and leave me a comment in this [issue](https://github.com/forresst/nodebestpractices/issues/1) so that I can assign you the translation of a file.
2. Then fork my own [fork](https:/

[2019-12-16 11:26] goldbergyoni commented on #129
❤️

[2019-12-16 11:36] goldbergyoni commented on #603
@MIKOLAJW197 Could be awesome to have Polish translation!

[2019-12-16 11:37] goldbergyoni commented on #601
Yes! Much better wording, could you PR? 🎉

[2019-12-17 15:30] syffs commented on #596
In the same spirit, there's [this repo](https://github.com/santiq/bulletproof-nodejs/), but it apparently does not implement all the best practices mentioned here.

For instance, the app is well layered, but by technical roles, not by components.

[2019-12-19 21:08] Stayfi commented on #596
If you can check my sample and give me any feedback

Didn't implement everything but what it's needed to a simple server bootstrap

https://github.com/Stayfi/nodejs-server

[2019-12-19 22:33] Whitefox98 commented on #95
I already translated until point 7.2 . I'm spanish native

https://github.com/goldbergyoni/nodebestpractices/pull/607

[2019-12-20 07:11] desko27 commented on #95
That's awesome @Whitefox98 :clap: :clap: I've been struggling to get some time for this and I was expecting to use holidays. I'll help with the review ASAP! Thank you!

[2019-12-20 08:12] Whitefox98 commented on #95
No problem, Thanks to you to help the comunity! @desko27

[2019-12-20 09:04] skt1598 opened #608 "Framework suggestion like express.js, hapi.js, koa.js etc."
Please add suggestions for frameworks also. As it's the very basic and most important thing for project.
For example frameworks like hapi.js, express.js, koa.js, loopback etc.

[2019-12-21 03:46] AbdelrahmanHafez opened #609 "[Conflict] Use only the built-in Error object"
In bullet _2.2 Use only the built-in Error object_ [Read More](https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/errorhandling/useonlythebuiltinerror.md) the [code example](https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/errorhandling/useonlythebuiltinerror.md#code-example--doing-it-even-better), _doing it even better_, we're defining an `AppError(...)`

[2019-12-21 05:25] quynhdinh opened #610 "Bản dịch cho Tiếng Việt"

[2019-12-21 15:50] MickaelNeves commented on #596
There's a very basic starting point [here](https://www.youtube.com/watch?v=NAd7TjfTk2I) I guess.

[2019-12-21 16:34] syffs commented on #596
@MickaelNeves this is only my opinion, but I don't think this is an example anyone looking for best practices should follow:
- it is way too basic to provide enough material for structuring an app
- it's not well layered or structured: business logic is arranged in a very questionable way in api/resource folder

@goldbergyoni imo, all these different approaches and interpretations well demonstrate

[2019-12-22 11:50] MickaelNeves commented on #596
@syffs ok, so...

based on Uncle Bob's Clean Architecture, [here's](https://github.com/jbuget/nodejs-clean-architecture-app) an example of NodeJS and [here's](https://www.youtube.com/watch?v=CnailTcJV_U) an example with NodeJS + Mongo + Express.

[2019-12-29 10:21] #601 closed

[2019-12-29 10:47] goldbergyoni commented on #609
It's not clear enough indeed.

Good practice - extend the Error object ONCE for all of the application exceptions. That is to say, create one and only one 'AppError'

Doubtful practice - extend the Error object for EACH application error like HttpError, DbError

Is the difference clear?

[2019-12-29 10:55] goldbergyoni commented on #608
@skt1598 Welcome. I'm not sure we should do this as this changes frequently and not really related to best practices. What @BrunoScheufler and @js-kyle think?

[2019-12-29 10:56] BrunoScheufler commented on #608
@goldbergyoni this sounds like an opportunity for a side project we can refer to in the best practices since you're completely right, those libraries change more or less frequently but can be decoupled from bare Node.js

[2019-12-30 03:38] AbdelrahmanHafez commented on #609
The difference is clear to me now, thank you!

I put in a PR that makes the difference a little bit more clear.

[2019-12-30 11:29] #608 closed

[2019-12-30 11:37] skt1598 commented on #608
@goldbergyoni @BrunoScheufler @js-kyle I know that framework changes with time but this repo is a great source to learn how to build a good nodejs project and to get help in choosing various things for projects. And the framework is a very important part of any project. So I think it should be there whether as a separate project or in this repo only. But if you'll start a new project it'll take a

[2020-01-02 12:46] yonatankarp commented on #156
גם אני יכול לעזור בתרגום :)
אני חושב שלפי חלקים יהיה הכי קל ויאפשר הכי הרבה גמישות

[2020-01-09 10:50] goldbergyoni commented on #156
@yonatankarp

נשמע טוב

[2020-01-09 10:52] goldbergyoni commented on #608
@skt1598 The need is there, I clearly see the value. I'll try to kick this off some time, we have 1-2 other initiatives that I'd like to explore first

[2020-01-09 10:56] #609 closed

[2020-01-12 07:02] #564 closed

[2020-01-13 03:58] MustafaBalila44 commented on #570
Sure

On Sun, 12 Jan 2020 at 11:03 PM stale[bot] <notifications@github.com> wrote:

[2020-01-16 06:54] skt1598 commented on #608
@goldbergyoni Thankyou. Please let me know if you start this project anytime.

[2020-01-20 16:23] goldbergyoni commented on #610
Translation for the people? 😄

[2020-01-20 16:25] goldbergyoni commented on #603
@MIKOLAJW197 Including here some further instructions 🎆

Having a Polish translation could be awesome

Let's go for this? Few basic guideliness:

Work on your own fork - fork, create a branch, translate & collaborate with other translators, then PR finally
Focus on translation, not content editing - the focus is on translation, should anyone want to modify the content or the graphics - let's PR fi

[2020-01-21 12:30] #579 closed

[2020-01-21 15:54] sadokmtir opened #617 "Catch unhandled promise rejections best practice"
I think it is worth mentioning that the solution stated **Catching unresolved and rejected promises** is not always valid. what I mean is that if a promise is caught on a later turn of the Node.js event loop, then probably throwing an error on this global catch is not a good idea. I am wondering how this is counted as **best practice** while obviously from the node official documentation it should

[2020-01-22 21:00] Baterka opened #618 "Czech translation"
Hi folks!
I would like to contribute to this amazing repository by translating it to my language (Czech) :)

[2020-01-24 16:21] brillout opened #619 "Add API practices"
Hi!

What do you think of adding API practices?

When to use GraphQL, REST or RPC. I'd gladly contribute.

I'm the author of [Wildcard API](https://github.com/reframejs/wildcard-api).

[2020-01-25 09:32] contributorpw commented on #454
@slale All fine. Waiting a new PRs.

[2020-01-26 01:31] goldbergyoni opened #620 "Docker best practices - call for ideas"
Given the immense popularity of Docker and the need to harden it different per platform (see ideas below) - we'd like to start writing a Docker best practices section.

You're welcome to contribute ideas and write best practices - writing and brainstorming will people is an amazing way to deepen your Docker understanding.

At first, we want to collect ideas for best practices, solidify a list of 1

[2020-01-26 01:35] goldbergyoni commented on #620
Title: Start the production process with 'Node' command, avoid 'npm start'

What is this about: 'npm start' won't pass KILL signal to the process which is very frequent at environments with dynamic scheduling like k8s, this will prevent a graceful shutdown

Why is this important: Highly (only) related to Node.js

[2020-01-26 01:39] goldbergyoni commented on #620
Idea: Set Docker memory limits which are in-par with v8 memory limit

What is this about: In recent version s,v8 memory allocation is configurable, Docker & k8s also allows setting quotas, this should now be synchronized (I have to research on this better, for now it's just an idea)

Why is this important: Highly related to Node.js/v8

[2020-01-26 19:21] lirantal commented on #620
Many things I can think of :-)
1. Don't use "latest", use a digest
2. Use multistage builds
3. Scan your image for vulnerabilities
4. Prefer smaller images

I have many more of these here: https://snyk.io/blog/10-docker-image-security-best-practices/ and don't let the title fool you, even though I have discussed them as the security angle, they are nonetheless all important practices to take on.

[2020-01-27 15:51] VinayaSathyanarayana commented on #316
@goldbergyoni @js-kyle

PII=personally identifiable information
Personally identifiable information (PII) is any data that can be used to identify a specific individual.

Data Privacy laws globally ask that the PII data is kept safe by encryption

Reference laws
European Union:  GDPR - https://ec.europa.eu/info/law/law-topic/data-protection_en
India: https://meity.gov.in/writereaddata/files/Person

[2020-01-28 06:14] VinayaSathyanarayana commented on #316
Link to PII Data: https://en.wikipedia.org/wiki/Personal_data

[2020-01-29 12:00] goldbergyoni commented on #620
Thank you the all-mighty @lirantal

Adding one more:

Idea: Graceful shutdown

What is this about: When dockerized runtime kills a container, exiting efficiently makes the difference between disappointing ~1000 users vs zero errors

Why is this important: The implementation (code examples) are highly related to the webserver

[2020-01-29 12:46] kevynb commented on #620
I've got one more. Actually not sure if we have to add it to the docker best practices for node or to node best practices (I did not find it with a quick read)

**Idea**: Install packages for production

**What is this about**: When running npm install in the docker image, we should make sure to only install needed packages by running with the `--production` flag.

**Why is this important**: Do no

[2020-01-29 12:49] kikar commented on #620
Idea: Use the node user
What is this about: before the CMD make sure you have a line with USER node.
Why is this important: It restricts the permission of the app running not in root, better for security.

[2020-02-01 11:24] #574 closed

[2020-02-02 09:07] goldbergyoni commented on #620
@kevynb Sounds important, seems to me like a great BP for the production list, what do you think?

@kikar Yes, absolutely. Any example of a specific security issue it might prevent?

[2020-02-02 09:22] kikar commented on #620
By looking at https://github.com/nodejs/docker-node/issues/1 they bring the following articles:
http://blog.zeltser.com/post/104976675349/security-risks-and-benefits-of-docker-application
http://thenewstack.io/docker-addresses-more-security-issues-and-outlines-plugin-approach
http://www.slideshare.net/jpetazzo/docker-linux-containers-lxc-and-security
blog.xenproject.org/2014/06/23/the-docker-explo

[2020-02-02 09:22] goldbergyoni commented on #316
@VinayaSathyanarayana Great to see you here again

This is an important design consideration, I would put it in the 'Common Node.js security best practices':
[Common Node.js security best practices](https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/security/commonsecuritybestpractices.md)

Makes sense?

cc @js-kyle

[2020-02-02 09:27] goldbergyoni commented on #618
@Baterka  - Welcome aboard 🎆

Having a Czech translation could be awesome!

Let's go for this? Few basic guideliness:

Work on your own fork - fork, create a branch, translate & collaborate with other translators, then PR finally

Focus on translation, not content editing - the focus is on translation, should anyone want to modify the content or the graphics - let's PR first in English and then tr

[2020-02-02 09:53] goldbergyoni commented on #617
@sadokmtir Welcome and thanks for bringing this point

To which bullet are you referring? did this guy mention somewhere that 'then probably throwing an error on this global catch' is a good idea?

If I get the point straight, catching global errors is just a measure of safety, last chance to do something useful with an error. Obviously not to re-throw it but make it visible for the developer/ops.

[2020-02-02 11:21] kevynb commented on #620
@goldbergyoni True, I'll try to write something about it this week 😃

[2020-02-03 04:47] VinayaSathyanarayana commented on #316
Created Pull request #626

[2020-02-04 10:58] bi0morph commented on #620
@goldbergyoni The best summary that I saw in 2019 about Nodejs and Dockerfiles best practices is from @BretFisher in the ["Docker and Node.js Best Practices from Bret Fisher at DockerCon"](https://www.youtube.com/watch?v=Zgx0o8QjJk4) (https://github.com/BretFisher/dockercon19). In most cases, I would write what he said in that talk.

However, I would like to emphasize here some interesting items:

[2020-02-06 09:54] #586 closed

[2020-02-09 13:47] yonatankarp commented on #156
@goldbergyoni נראה שאין לי הרשאות לדחוף לבראץ' הקיים - סורי שלקח לי זמן להתחיל לעבוד על זה...

[2020-02-14 22:38] #588 closed

[2020-02-16 18:16] goldbergyoni commented on #590
Keeping this open as it should be on the top of our list

[2020-02-16 18:17] goldbergyoni commented on #588
Yes, we're on the same page. I'll create a template soon and run by you

[2020-02-16 18:20] goldbergyoni commented on #156
הכל טוב, בזמנך כמובן.

אתה צריך לעשות פול ריקווסט. אם יותר נוח לך אתן לך הרשאות

מה מעדיף?

[2020-02-16 18:22] antony commented on #590
I agree. Apologies for not providing more detail or a PR. Been a bit buried
for a while.

In reference to middleware being universal, no. As an example, the Hapi
maintainers see middleware as an anti-pattern, and the Polka architecture
for middleware is importantly different to express.

On Sun, 16 Feb 2020 at 18:16, Yoni Goldberg <notifications@github.com>
wrote:

--
_____________________________

[2020-02-17 07:39] goldbergyoni commented on #620
@bi0morph Thanks for bringing this gold stuff, I watched this video and would call it 'best Node video of 2019' :)

What title would you propose here? Keep test and production images as close as possible? Do you see a need for dev stage? I didn't see many developers who enjoy developing with Docker (for their own code)

Yes, great idea. What is the title here? don't leave secrets within images?

W

[2020-02-17 07:42] goldbergyoni commented on #620
@kikar

Couldn't spot there an example of a specific attack, did I miss it?

[2020-02-17 14:48] helen119 opened #629 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 14:50] #629 closed

[2020-02-17 19:36] yonatankarp commented on #156
לא באמת משנה לי,

אני מניח שפול ריקווסטים קטנים עדיפים על אחד ענק :)

[2020-02-17 19:46] yonatankarp commented on #156
לצערי נראה שאני לא יכול גם לדחוף בראנץ חדש - אז אני אצטרך לקבל הרשאות בכל מקרה ואז אצור פול ריקווסט לבראנצ' המקורי

[2020-02-18 08:39] BretFisher commented on #620
@bi0morph a few things. I've been following the thread, thanks for the plug and everything's looking good, and I have some ideas:

1. On Multistage, there's some good examples from my [last Dockerfile example](https://github.com/BretFisher/dockercon19/blob/master/5.Dockerfile) from my DockerCon19 repo.
2. Using Private NPM Repo can likely upgrade from the oldschool method of squash and likely use

[2020-02-20 13:15] nweiser1 commented on #156
happy to help with translations if its still needed

[2020-02-23 20:19] goldbergyoni commented on #620
One more idea - usage of .dockerfile linter like:
https://github.com/hadolint/hadolint

[2020-02-25 05:52] ilanbenyona-dev commented on #156
Let’s do it

[2020-02-26 20:21] stalniy commented on #395
still in progress

[2020-02-27 19:52] gromovadarya90 opened #635 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:01] renata2216 opened #636 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:22] renata7738 opened #637 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:34] helen798 opened #639 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:26] helen78989 opened #641 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-02-28 19:20] #405 closed

[2020-03-04 15:59] pawelangelow commented on #620
Maybe something applicable from here http://docs.projectatomic.io/container-best-practices/

[2020-03-05 18:36] #597 closed

[2020-03-06 19:09] houssem-yahiaoui commented on #390
Hello @goldbergyoni , I would love to work on this one if the others are still busy and translate as much as I possibly can and why not finishing the whole repo, what's the status on it yet? do we have anything ? or I can fork it and start from scratch!

[2020-03-07 19:50] #407 closed

[2020-03-08 15:04] goldbergyoni commented on #390
Hey @houssem-yahiaoui , great to have you here.

I would first ask @nourkilany @AbdelrahmanHafez about the progress?

[2020-03-08 15:11] goldbergyoni commented on #597
Sorry for missing this question, somehow noticed only now.

I'm putting testing aside and exemplify with CRON + Serverless: a centralized handler is a plain JS object that handles error for any type of application. It can emit metric error, log, etc

Does this make sense?

[2020-03-08 15:24] goldbergyoni commented on #619
Wildcard looks cool!

What for example should we include in this list given that we try to write on Node.js related things? It shouldn't be too abstract and language-agnostic. I'm afraid that most of the API practices are framework-related

[2020-03-09 19:31] bobaaaaa commented on #620
@BretFisher My two cents:

- Multistage docker only for **install** and **build**. I don't see why I need a lint & test stage. Thats part of a CI pipeline.
- Is tini still important? The docs say:  *NOTE: If you are using Docker 1.13 or greater, Tini is included in Docker itself.*
- Anyway, I like your DockerCon examples :)

[2020-03-09 19:46] BretFisher commented on #620
* For many teams, part of CI is moving into the container build, just like security scanning (microscanner, etc.). You can always add comments that their optional stages, but don't assume *no one* will want to see how it's done.
* All that means is that Docker has it for optional use, with --init during a docker run. The advice is that if you need tini for proper node shutdown, then it should alwa

[2020-03-09 20:37] kevynb commented on #620
@bobaaaaa I kind of think the same of the purpose of multistage docker. I don’t really like using a build step to run tests.
However I couldn’t find a good and easy alternative to that problem. How do you handle testing and linting in those cases?

Do you have a separate docker build to run tests and linting ? Or do you run them outside of a docker (which for me ruins the interest of using docker)

[2020-03-09 21:45] bobaaaaa commented on #620
When your CI is called Jenkins than multistage docker with lint and test makes sense (maybe). I prefer some container based CI solution like TravisCI, CircleCI or currently github actions. I used all of them in different projects and I'm quite happy.

From my current project:
- CI is github action with ubuntu images
- PR: lint, test, build, coverage
- Master commit: lint, test, build (prod), build

[2020-03-10 08:19] anediaz opened #648 "Basque translation"
I'll try to translate it into Basque language.
Technical words will be hard to translate but I'll do my best :-)

[2020-03-12 14:56] Stayfi commented on #596
Hi,

I want to share my repository, if you could have a check abd give me feedback about my "Uncle Bob" clean architecture implementation.

This schema show how i implemented it.

![uncle_bob_implementation](https://user-images.githubusercontent.com/6870442/76532496-f9e9f780-6476-11ea-99e3-066bd44c5aa8.png)

[2020-03-14 19:48] goldbergyoni commented on #648
@anediaz  - Following our email chat, welcome and appreciate your contribution.  Having a Basque translation could be awesome!

Let's go for this? Few basic guideliness:

Work on your own fork - fork, create a branch, translate & collaborate with other translators, then PR finally

Focus on translation, not content editing - the focus is on translation, should anyone want to modify the content or

[2020-03-15 08:22] sujeet-agrahari opened #650 "Should I do module.exports = foo(){} directly?"
Sometimes I need a module to do just one thing.<br><br>
Like, I have a `auth` middleware and its job is to verify that user is authenticated. <br><br>
I don't think any reason there to do follow.
[code]
Instead I like to do

[code]
What's the problem with my approach?<br><br>
One problem that I have faced. I can't stub `auth` middleware if I do `module.exprts = function(){}`<br><br>
In this case I

[2020-03-16 10:04] forresst commented on #129
This subject is still in progress, I'm behind schedule but the translation is progressing well. Moreover I received help for translation and proofreading. And that's great.

[2020-03-18 08:04] songe commented on #94
Not sure who's in charge of reviewing the PRs for Korean translations anymore.
@goldbergyoni  @hinco114  @uronly14me Mind reviewing https://github.com/goldbergyoni/nodebestpractices/pull/651?

[2020-03-19 14:17] houssem-yahiaoui commented on #390
Hey Guys anything new on this one ? maybe nothing is done yet ? cc @goldbergyoni

[2020-03-19 14:23] AbdelrahmanHafez commented on #390
@goldbergyoni
My schedule is currently full of higher priority tasks, and I don't think I will have enough time to have a significant contribution to the translation in the foreseeable future.

@houssem-yahiaoui feel free to take the lead on this.

[2020-03-19 21:12] houssem-yahiaoui commented on #390
@AbdelrahmanHafez wonderful, thanks for that  @goldbergyoni I think i will be in good shape to start this weekend, anything I should be aware of?

[2020-03-27 10:40] sylvainar commented on #620
Those are some things I've seen in my company:

- To download packages from a private repository, don't hardcode your credentials in the Dockerfile, use build args and https://www.npmjs.com/package/npm-cli-login
- Use dotenv and dotenv-cli to manage your environments variables when you develop, this way your code is already "environment variables ready" for docker
- It seems obvious, but you shoul

[2020-03-27 12:12] lirantal commented on #620
This is not a good advice actually since build-args are cached in the store where the image is built. Instead you should use multi-stage builds (see number 9 here: https://snyk.io/blog/10-docker-image-security-best-practices/)

Just please don't make it a habit of putting secrets there 🙏

👌

[2020-03-29 03:27] nicoqh commented on #405
I was also curious about this example, but the PR seem to have stalled.

The original concern was that only non-operational errors (i.e. programmer errors) will be passed down the middleware stack. I'm too new to Node to make any claims here, but shouldn't it be the other way around, like @Calinou suggested? The example doesn't seem to do what the "One Paragraph Explainer" says: "the middleware is

[2020-03-29 09:04] #95 closed

[2020-03-30 00:22] nicoqh commented on #405
* I don't want to send 404 Not Found errors to an external reporting service

[2020-03-30 06:07] goldbergyoni commented on #650
No improvement suggestions, everything you described resonates with me:

When the file is very short, it will be anyway readable and we can take shortcuts. That's fine. I personally keep the same structure (exports last) only for uniformity but that's nitty-gritty. Did we recommend something else in this guide?

About test doubles on direct function export - Proxyquire is indeed the way. I rarely

[2020-03-30 07:04] goldbergyoni opened #662 "Credit to @mindock"
@all-contributors please add @mindock for content

[2020-03-30 07:04] #662 closed

[2020-04-03 17:17] brillout commented on #619
I believe the most important would be to teach users which tool to use.

Most devS out there are not sure whether to use REST, GraphQL, or RPC. Anything that shines some light on this would significantly benefit, I believe.

What do you think?

[2020-04-06 16:43] goldbergyoni commented on #619
I think that this absolutely valuable piece of knowledge, but outside the scope of this guide. Mostly because there is no best practice for this, it's a big architectural decision that is also not Node related

[2020-04-10 13:45] abhishekshetty commented on #620
**Idea**: To use ```FROM node:12-alpine```
**what is this about:** To keep the final docker image small, a small base image can be used.
**why is this important:** A smaller base images contains less vulnerabilties by avoiding unnecessary programs that come buitin. Smaller images also helps in managed docker services, where during appstart up or restart images are often pulled from central registr

[2020-04-10 14:11] abhishekshetty commented on #256
Although Promise.all is better than sequential non-dependent promises in most of the cases, It works best only when the number of calls/promises are known before hand or atleast few. In case of dynamic number of promises, e.g. batching in runtime and if the number of calls increases significantly it might endup exhauting all the connection pool or create deadlocks or if it http calls then spam the

[2020-04-10 14:44] abhishekshetty commented on #256
Maybe have a section for in-memory cache and best practices around implementing and maintaining cache. There are few packages that supports this functionality. Also it seems there is no shared in-memory cache implementation possible in cluster mode.

[2020-04-20 15:46] heyfirst opened #670 "Thai translation"
Hello folks,

I would like to ask you, contributors. Could I help to translate in Thai?

because NodeJS is quite popular in Thailand, especially, in beginner because it's javascript(easy to learn) and advanced users as well.

by the way, I can find my 2-3 friends to help me translate together.

[2020-04-20 18:17] tulathorn commented on #670
Hey friends @heyfirst

I have found your issue accidentally. By the way, I just want to drop the message that if it happen, I'm in.

I think to translate this repo to Thai will create huge benefit to the tech industry. Now, NodeJS is one of the most popular programming in Thailand, from newbies to professional. In addition, some of people in Thailand have a very big misunderstanding in NodeJS deve

[2020-04-21 07:07] kevynb commented on #670
Hello @heyfirst @tulathorn , that seems like a wonderful idea! Thanks for taking the time to submit it.
You are more than welcome if you want to translate nodebestpractices in thai! Just create a fork and start your translation on it.
You will be able to manage multiple contributors directly on your fork.

For every file that you translate, copy it and add `.thai` before the `.md` extension (like

[2020-04-21 15:54] houssem-yahiaoui commented on #390
@goldbergyoni can you please asign this to me as I'm working actively on it ? Thanks!

[2020-04-25 18:34] goldbergyoni commented on #570
@js-kyle Any interest in this? I find this to be a decent idea to show one way of mitigating this attack. If not including the entire code example, at least few words on 'You may check that any...'

[2020-04-25 18:36] goldbergyoni commented on #390
@AbdelrahmanHafez  Sure thing, appreciate your effort thus far!

@houssem-yahiaoui You are the lead! How can I help?

[2020-04-25 20:10] goldbergyoni commented on #670
@heyfirst @tulathorn Welcome aboard! Great to have you here with us

@kevynb Are you willing to accompany the Thai translation (Search Thai)?
https://github.com/goldbergyoni/nodebestpractices/blob/master/.operations/operations-manual.md

p.s. If you need further instructions template, visit here:
https://github.com/goldbergyoni/nodebestpractices/blob/master/.operations/.common-answers.md

[2020-04-25 20:27] goldbergyoni opened #674 "Polish flag in the homepage"
@mbiesiad Did we forget to add Polish flag to homepage?

[2020-04-25 21:33] mbiesiad commented on #674
@goldbergyoni Good question. Here #631 : https://github.com/goldbergyoni/nodebestpractices/pull/631#issuecomment-606041471 is more info about this. And there is also a snippet for paste. The flag is added to the assets https://github.com/goldbergyoni/nodebestpractices/tree/master/assets/flags and used at the "Completed translations" section (at the end)

[2020-04-26 13:59] houssem-yahiaoui commented on #390
@goldbergyoni Thanks! all good for now! I will ping you if any comes!

[2020-04-27 14:51] heyfirst commented on #670
@goldbergyoni Thanks!

[2020-04-27 22:38] murataksu740 commented on #139
I want to translate it to Turkish. What should I do?

[2020-04-28 20:10] syffs commented on #596
@Stayfi once again this is only my opinion... I think that this "architecture" introduces way too much complexity for the value its adds.

**I'd say keep it simple !**

If you pay attention, that's one of the main purpose of the architecture best practices described in this repo... For instance, why [layering your app](https://github.com/goldbergyoni/nodebestpractices#-12-layer-your-components-kee

[2020-04-29 18:19] #610 closed

[2020-04-29 18:19] #603 closed

[2020-05-03 12:47] kevinstevanus opened #675 "Indonesian translation"
hello, are there any Indonesian translation out there in progress?

[2020-05-05 11:57] #454 closed

[2020-05-05 13:34] Yunkou commented on #675
Not yet.

[2020-05-06 16:45] torongu commented on #596
Hi,
In this structure example, it's okay if I use the `userService` inside the `productController`

![image](https://user-images.githubusercontent.com/39832761/81204589-994ce600-8ff3-11ea-947b-aed9a9f21056.png)

[2020-05-06 21:01] kevynb commented on #670
Yes, so let's do it following the operations manual 😉

It seems that I missed some points, so here are some more guidelines:
   * Focus on translation, not content editing - the focus is on translation, should anyone want to modify the content or the graphics - let's PR first in English and then translate to other languages. Also the format of the text should remain intact (same design)

* Collabo

[2020-05-06 21:05] kevynb commented on #675
- Selamat datang @kevinstevanus  🎆 !

Having an Indonesian translation could be awesome

Do you want to go for this? Few basic guidelines:

 - Work on your own fork - fork, create a branch, translate & collaborate with other translators, then PR finally
 - Focus on translation, not content editing - the focus is on translation, should anyone want to modify the content or the graphics - let's PR fi

[2020-05-06 21:11] kevynb commented on #674
Would you mind creating a PR to add it at the top of the homepage like for 🇨🇳 , 🇧🇷 , 🇷🇺  ?

[2020-05-07 09:22] mbiesiad commented on #674
Sure, done: #677 -> [changes here](https://github.com/goldbergyoni/nodebestpractices/pull/677/files)

// if the problem occurs again, I will try with the https://emojipedia.org/flag-poland/

[2020-05-07 09:23] kevynb commented on #674
Great, thanks @mbiesiad!

[2020-05-07 09:23] #674 closed

[2020-05-10 08:35] goldbergyoni commented on #390
@houssem-yahiaoui Sounds great!

[2020-05-10 10:25] goldbergyoni opened #679 "Kevyn in Steering Committee"
@kevynb  After speaking with the team, since we all highly appreciate your contributions, tech skills and judgment, we appreciate if you want to join the 'Steering Committee'.

What does this mean for your routine? not much, same type of involvement, we just think this the right definition of your role (since you're already involved in all discussions and decisions)

What do you think? If resonate

[2020-05-12 12:59] #618 closed

[2020-05-12 12:59] #617 closed

[2020-05-13 07:28] goldbergyoni opened #682 "Docker best practices - bullets and assignee"
We've gathered a comprehensive list of ideas for docker best practices in Node.js, see #620 . We should be ready to start writing now! 🎉

In order to harmonize our work, see below a list of practices and assignees. If you're interested in writing a bullet or more, please respond to this thread and I'll update the list.

The work process:

[ ] Choose authors - In this thread, we assign bullets to w

[2020-05-15 09:28] kevynb commented on #679
@goldbergyoni and the team, thanks for the offer! It would be a pleasure for me to join the 'Steering Committee'. 😃

I'll gladly put up a PR to make the change. I might need some time to add the same green circle around my profile pic as you all have 😄

[2020-05-15 09:31] kevynb commented on #682
I'll take `Bootsrap the code using 'node' command, avoid 'npm run' scripts` and `Utilize caching for better build time`.

[2020-05-15 22:01] kibertoad opened #684 "Consider dropping obsolete loggers"
Bunyan wasn't updated for 3 years and can be considered dead.

On a somewhat more arguable note, new version of Winston wasn't published for a year, and there are known issues with handling heavy load, so I wonder if it should still be recommended.

pino, consola and log4js are probably _the_ loggers to recommend in 2020.

I can provide a PR if approved.

[2020-05-15 22:03] kibertoad opened #685 "Recommend contract testing on top of having OpenAPI spec and tests"
If you have OpenAPI or Swagger spec, and tests for you endpoints, you can have contract testing at virtually no cost.

I can provide a PR for this practice if approved.

[2020-05-15 22:06] kibertoad opened #686 "Include MikroORM in the list of recommended ORMs"
https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/security/ormodmusage.md

could benefit from including Prisma client (https://www.npmjs.com/package/@prisma/client), which is a popular auto-generated query builder that enables type-safe database access and reduces boilerplate.

[2020-05-15 22:08] kibertoad commented on #590
@goldbergyoni I can push this one forward. To clarify, is the preference to cover more alternatives (e. g. when talking about `helmet`, cover main major options (e. g. `helmet-fastify` and `helmet`)) or just remove all direct references to Express?

[2020-05-16 00:25] js-kyle commented on #679
Thanks for your contributions so far @kevynb !

[2020-05-17 06:29] goldbergyoni commented on #682
@kevynb Perfect, updated the list.

@BrunoScheufler @js-kyle @sagirk See if you want to take some bullet? I'll write the rest

[2020-05-19 01:53] kevinstevanus commented on #675
okay I will try do my best, it is my first time to contribute in open source, will try to translate the readme.md first (i forked this project onto my own).
thank you for the help.

[2020-05-22 13:46] coreysnyder04 opened #694 "Question regarding your `AppError` example"
When I read your `AppError` [example here](https://github.com/goldbergyoni/nodebestpractices/blob/master/sections/errorhandling/useonlythebuiltinerror.md#code-example--doing-it-even-better) I was super pumped to give it a go. But then I noticed that the errors that were previously being returned to my FE like `"`User doesn't exist`"` were coming to the FE as `An unknown error occurred.`

Here's my

[2020-05-22 14:42] coreysnyder04 opened #695 "Accidental post"
Accidental post, please delete

[2020-05-22 14:43] #695 closed

[2020-05-23 02:57] js-kyle commented on #682
Assigned myself a couple

[2020-05-23 07:57] omarryhan opened #696 "For brevity, best practices that are enforced by Eslint should not be mentioned here"
It's always better to keep guides like this short and straight to the point.

Beat-practices like:

https://github.com/goldbergyoni/nodebestpractices/blob/master/README.md#-38-require-modules-first-not-inside-functions

And

https://github.com/goldbergyoni/nodebestpractices/blob/master/README.md#-37-prefer-const-over-let-ditch-the-var

Are already being enforced by Eslint here:
https://eslint.org/

[2020-05-24 11:41] goldbergyoni commented on #696
This makes sense, on the other hand highlighting here remarkable practices and mistakes might be valuable.

What @BrunoScheufler @kevynb @js-kyle think?

[2020-05-24 11:44] goldbergyoni commented on #694
Hey @coreysnyder04, welcome.

Do these examples help?

[https://github.com/goldbergyoni/nodejs-course/blob/master/examples/error-handling/main-error-flow/error-handler-final.js](https://github.com/goldbergyoni/nodejs-course/blob/master/examples/error-handling/main-error-flow/error-handler-final.js)

[https://github.com/goldbergyoni/nodejs-course/blob/master/examples/error-handling/main-error-flow/

[2020-05-24 11:47] goldbergyoni commented on #686
Hey @kibertoad, welcome!

Does it stand to our vendor guidelines 👇

![image](https://user-images.githubusercontent.com/8571500/82753344-8006b080-9dcd-11ea-8c6c-57d63120d691.png)
https://github.com/goldbergyoni/nodebestpractices/blob/master/.operations/writing-guidelines.md

[2020-05-24 11:50] goldbergyoni commented on #685
I love this.

Can you elaborate a bit on specific tooling? do you refer to consumer-driver or provider-driven contract tests?

[2020-05-24 11:52] goldbergyoni commented on #684
@kibertoad Winston is still damn popular, isn't it? Any reputable benchmarks on its performance issues?

Which of the loggers that you mentioned qualifies according to our vendors recommendation guidelines?

![Uploading image.png…]()

https://github.com/goldbergyoni/nodebestpractices/blob/master/.operations/writing-guidelines.md

[2020-05-24 12:06] goldbergyoni commented on #679
😆

@js-kyle You gotta teach us this trick

[2020-05-24 12:46] BrunoScheufler commented on #679
This does sound like automation is needed 😄

[2020-05-24 12:48] BrunoScheufler commented on #696
While ESLint should definitely be used, I feel like it still makes sense to take some time to explain why these rules have been added and are common place by now, so I think this content still has a reason to exist. On the other hand, I can also see why it might come over as repetitive 🤔

[2020-05-24 14:49] kibertoad commented on #684
@goldbergyoni First of all, Winston no longer qualifies within original criteria, since last version published a year ago. Popular - yes, but it's the same story as it is with Express - it was there for a long period of time, so people use it out of habit, but it's something that has no observable benefits over newer alternatives, hence it is questionable whether it should be recommended officiall

[2020-05-24 15:05] kibertoad commented on #685
In this case I mean provider-driven testing, when you are simply comparing your responses to your spec to see that they are always compliant; this is different from more heavyweight (but complete) fully end-to-end contract testing Pact-style, but Pareto likely applies here as well.

There's a bit of a problem with available tooling, though. I only see two options that do not require you to setup y

[2020-05-24 15:10] kibertoad commented on #686
@goldbergyoni Fair point. Going by these criteria, https://www.npmjs.com/package/@prisma/client sounds like a better option, and I wonder if Waterline should be on the list, it's been a year since it was updated, and I think it is used almost exclusively by Sails.js users.