[2017-10-23 08:08] benjamingr opened #4 "Error handling for promises outdated by a little :)"
Hey, in https://github.com/i0natan/nodebestpractices/blob/master/sections/errorhandling/catchunhandledpromiserejection.md and in the README you mention that exceptions are swallowed by default - but that hasn't been the case for a while :)

I can dig up the PR where we changed the default to log if you'd like - I think it was in 7.6

[2017-10-23 08:19] i0natan commented on #4
@benjamingr yap, this section was written a year ago and is now outdated. Will be honored if you'll PR the change but I can do that as well. Thanks.

[2017-10-31 16:39] i0natan commented on #4
@benjamingr fixed, thanks for the notice

[2017-10-31 16:39] #4 closed

[2017-11-03 11:54] phra opened #11 "add async await error management example"
it would be nice to have also an example with async/await in the error management section.

[2017-11-03 13:39] pie6k opened #13 "Wow!"
**Thank you! Thats so awesome!**

---

I guess it's off-topic. I promise I dont write off-topic issues often! But this time I did. It's great repo!

[2017-11-03 19:40] i0natan opened #15 "Contradicting content: named functions vs anonymous arrow functions"
The code style suggests two contradicting advice: (a) "Name Your Functions" - avoid anonymous functions VS (b)  "Use => Arrow Functions".

Both make sense, the first is easier to diagnose, second is more fluid when prototyping. Given that trade-off, this repository mission is recommending the better option. Would love to hear the community take and make a vote/call

[2017-11-03 19:47] refack commented on #15
There were several discussions in node core about this. It is mostly solved in recent V8 versions by the engine deducing a name for "anonymous" function based on their initial reference. i.e. see top stack frame:
[code]

[2017-11-03 19:48] benjamingr commented on #15
It was actually added at the ES level

[2017-11-03 19:50] refack commented on #15
There is one limitation:
[code]

[2017-11-03 20:02] i0natan commented on #15
Sounds indeed like an issue that should get addressed by tools and not by slowing down developers.

Question is how efficient is the deduction in real world scenario (function assignement seems like an easy case)

[2017-11-03 20:43] florentulve opened #17 "Errors handling example why not subclassing Eror ?"
Why not subclassing error ?

[code]

[2017-11-03 21:38] i0natan commented on #15
@refack what do u mean 'name mapping'?

[2017-11-03 21:51] refack commented on #15
That `Immediate.setImmediate [as _onImmediate]` is the name of the callback argument for `setImmediate`

[code]

[2017-11-04 09:49] i0natan commented on #13
@pie6k really happy to hear that you like it. would love to accept PRs and other ideas

[2017-11-04 09:50] i0natan commented on #11
@phra noted that you PRed nice examples, lets continue the discussion over there

[2017-11-04 09:50] #11 closed

[2017-11-04 16:31] kudapara opened #22 "Use gitbook or hexo style of documentation."
I was thinking that if someone with experience in using [gitbook](https://www.gitbook.com/) or[ hexo](https://hexo.io/) could make a version of this repository and use github pages to host it then it would be easier to navigate and read the guide.

## Checkout these websites for inspiration

### Example with gitbook
 * [redux documentation](http://redux.js.org)

### Example with hexo
 * [vuejs doc

[2017-11-04 20:27] #13 closed

[2017-11-04 20:42] i0natan commented on #15
@refack your example provides a decent clue to the developer.

How about this one:
[code]

Error: Foo
    at Timeout.setTimeout [as _onTimeout] (c:\code\playground\node_9ff4789d77136.tmp:5:32)
    at ontimeout (timers.js:469:11)
    at tryOnTimeout (timers.js:304:5)
    at Timer.listOnTimeout (timers.js:264:5)

Note: no Boo and Loo in stacktrace

[2017-11-04 20:52] i0natan commented on #17
@florentulve the example does subclass Error object in JS old fashion style:
//centralized error object that derives from Node’s Error
[code]

https://github.com/i0natan/nodebestpractices/blob/master/sections/errorhandling/useonlythebuiltinerror.md

It absolutely makes sense to include some modern subclassing example, would you like to PR your nice example?

Wouldn't the catch clause imply handlin

[2017-11-04 20:53] i0natan commented on #22
@kudapara interesting opportunity, does gitbook/hexo support PR?

[2017-11-05 00:59] refack commented on #15
@i0natan that is because the timeout callback (`Timeout.setTimeout [as _onTimeout]`) is run in a new async-context. That's one of the bigger banes of node's existence, and is why `async-hooks` were developed (in all their previous incarnations). There are npm modules that patch this, such as @AndreasMadsen's [`trace`](https://www.npmjs.com/package/trace), another guy's [`asynctrace`](https://www.n

[2017-11-05 04:39] refack opened #25 "Pick a license"
I recommend [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/) which AFAIK is equivalent to what Wikipedia use.

[2017-11-05 07:34] benjamingr commented on #15
@refack all of that is true - but the advice is still correct in that naming functions in that case makes things easier.

Question for @i0natan though:

Why does that not point to a real file? @i0natan Can you run it with `--inspect` and see what the results are like with a debugger attached?

[2017-11-05 09:22] i0natan commented on #25
@refack sounds good, can you update?

[2017-11-05 09:23] i0natan commented on #22
@kudapara any chance you kindly check whether it allows collaborative editing so the community can PR changes? any idea about the required effort to migrate all the info we have?

+ thanks again :)

[2017-11-05 09:35] kudapara commented on #22
I suppose it does support PR. I might have to do some research and work on the feature if someone with the experience doesn't.

[2017-11-05 13:06] kudapara commented on #22
Both ***gitbook*** and ***hexo*** support markdown which is the format this repository is currently using so collaboration is going to be easy.

But I think we could go with ***hexo*** as it is free and open source whereas ***gitbook*** only allows 5 collaborators on its free tier.

[2017-11-05 15:29] i0natan commented on #22
@kudapara great idea. I'm not familiar with both so plz allow few days to experience how hexo feels like and will get back to you soon @idori

[2017-11-05 15:45] i0natan commented on #15
@refack I'm aware of the difficulty in deducting the virtual stack the code has gone through (though I understand only 80% of it :), my point was not related to node/vs internals rather to the question - are the tools good enough to provide visibility into anonymous arrow functions. Should the hypothetical developer had named that callback with a named function, I believe he had a much better visi

[2017-11-05 15:46] i0natan commented on #25
@refack found it, doing that myself (keeping you for a bit more strategic challenges...)

[2017-11-05 15:49] benjamingr commented on #15
Interesting, so there is impact but only if there is no debugger.

[2017-11-05 15:52] i0natan commented on #15
@benjamingr probably I miss something - what differences do you see between the stacks? they all look similar to me

[2017-11-05 16:19] benjamingr commented on #15
[code]

Correct file name, line and column which lets me know where the error originated (vs. not having one)

[2017-11-05 16:55] kudapara commented on #22
Awesome :fire: @i0natan @idori

[2017-11-05 18:02] refack commented on #15
So IMHO this sums down to personal preference.
* Being verbose can help you deduce the identity of the callback by name - is the following example `iNamedThisCBSoIcoundFindIt`:
  #### named_callback.js
[code]
[code]
* Keeping the function anonymous still provides enough information via the location in the code:
  #### unnamed_callback.js
[code]
[code]

[2017-11-05 18:17] benjamingr commented on #15
@refack yeah, the name thing advice is the most useful in client side apps where minification (without source maps) interferes with it a lot.

[2017-11-06 12:36] rochejul opened #26 "3.4 Don't Forget the Semicolon"
Hi

I saw your section "3.4 Don't Forget the Semicolon"

Don't forget that the semicolon "cannot save you".

Indeed, look at this code:

[code]

If you run it, you will have ... undefined !!
Because the "{" of the json response is not on the same line of the return statement.

So, prefer using Eslint with adapted rules to avoid this kind of issue.

A cool video too to show more: https://www.youtub

[2017-11-06 14:45] idori commented on #26
Hi @rochejul and thanks for the input!
Please note that the issue you raised it explained in the previews point (3.3 Start a Codeblock's Curly Braces in the Same Line)
We might need to make it more clear though, as the example is inside the link to Stackoverflow

[2017-11-06 15:17] rochejul commented on #26
Hi @idori

Sure, but my point is: I am not sure that a rule like "Don't Forget the Semicolon" is revelant, because the ecmascript engine is not hardly based on this "feature".

I could understand that this is more readable. But it cannot avoid some side issues.

I would suggest a warning more a use case like that:

[code]

Because on various languages, I have resolved a lot of big bugs because peo

[2017-11-06 16:19] fox1t commented on #26
I agree that this rule doesn't make any sense today. This is a just personal taste, with no influence on the readability of the source code: omitting semicolons is only a matter of preference. In addition to that, ESLint has specific rules to avoid multiline expressions mistakes. https://eslint.org/docs/rules/semi and https://eslint.org/docs/rules/no-unexpected-multiline
I think that would be bett

[2017-11-06 20:03] i0natan commented on #26
@refack what do you think?

[2017-11-06 20:39] refack commented on #26
[ASI](http://www.ecma-international.org/ecma-262/7.0/index.html#sec-rules-of-automatic-semicolon-insertion) is a [flamable](http://blog.izs.me/post/2353458699/an-open-letter-to-javascript-leaders-regarding) [issue](http://inimino.org/~inimino/blog/javascript_semicolons). IMHO semicolumns are a style choice, so I wouldn't be opinionated about usage.
I'd call that section `Respect the Semicolon` put

[2017-11-06 20:48] refack commented on #26
P.S. we could ask @feross why he picked `no-extra-semi` for [`standard`](https://github.com/standard/standard)?

[2017-11-06 21:30] refack commented on #26
P.P.S. - ASI = **A**utomatic **S**emicolon **I**nsertion
From the spec:

[2017-11-06 22:53] fox1t commented on #26
On the https://standardjs.com/ site there is a section that explains why no-extra-semi is the default choice using 3 links:
http://blog.izs.me/post/2353458699/an-open-letter-to-javascript-leaders-regarding
http://inimino.org/~inimino/blog/javascript_semicolons
https://www.youtube.com/watch?v=gsfbh17Ax9I

[2017-11-07 00:21] gerardmrk opened #31 "Some of the performance items"
I've written these simply (at work atm), so you'd have to reword them if you're going to add it to the README.

- There is significant overhead when accessing environment variables during runtime, so avoid referencing `process.env` per HTTP request in your server code.

- Don't transpile your code in-memory at runtime (e.g. with transpilers like `babel-register` or `ts-node`), as they have to tran

[2017-11-07 00:51] Ginden commented on #31
Provide source on this statement please. Because as far as I know `process.env` is just plain objects without any getters.

[2017-11-07 01:29] gerardmrk commented on #31
It was an article I read years back. I'll look for it in a while, don't wanna look like I'm going off task at work haha

[2017-11-07 02:15] gerardmrk commented on #31
I can't find the original article, but here's some sources:

- [React v16 announcement blog post](https://reactjs.org/blog/2017/09/26/react-v16.0.html)
     "And thanks to a new packaging strategy that compiles away process.env checks (Believe it or not, reading process.env in Node is really slow!)"
- [Express's docs on performance](https://expressjs.com/en/advanced/best-practice-performance.html)

[2017-11-07 05:09] code-spring opened #32 "How to automated test node JS API with WisdomTool REST Client?"
[WisdomTool REST Client](https://github.com/wisdomtool/rest-client) supports automated testing RESTful API and automatically generating RESTful API documentation.

Is that tool is better to test nodeJS API?

[2017-11-07 05:56] BrunoScheufler commented on #31
Apart from the articles you posted already, there are performance implications wenn using process.env directly hence the usage of dependencies that wrap process.env to ensure to overcome these implications

[2017-11-07 08:29] BrunoScheufler commented on #17
the custom error as a subclassed version would be awesome but as @i0natan said, if we were to handle errors centralized the catch clause would have to be removed!

[2017-11-07 10:29] i0natan commented on #31
@gerardmrk sounds like a great start for the performance section. Maybe create a new branch, start writing that section and get your name on the credit wall once we upload it?

[2017-11-07 10:33] i0natan commented on #17
@BrunoScheufler @florentulve are you up for replacing the example with one that uses modern class inheritance + simple client invoking and catching? not sure whether we should see client calling and catching, at least not a complex client with function one + function two

[2017-11-07 10:42] i0natan commented on #25
@refack can't see that license on the templates list
![image](https://user-images.githubusercontent.com/8571500/32489584-2607fec2-c3b9-11e7-9c6b-1b5e2d1cb069.png)

[2017-11-07 11:21] Ginden commented on #31
I checked [right now](https://gist.github.com/anonymous/cb64256134fb6354ce8e0b94d4a2e490). Reading process.env is five times slower than reading copy. You can do it only 3600 times per milisecond.

[2017-11-07 11:34] BrunoScheufler commented on #31
that's definitely an important point for the performance section!

[2017-11-07 11:38] BrunoScheufler opened #33 "Security best practices section"
I'd like to work on the security best practices section. Apart from independent modules/npm solutions already stated in the main README what do you think would be further important aspects? I think of adding important tips for the crypto core module first.

[2017-11-07 11:40] BrunoScheufler commented on #33
Oh and if somebody is already working on it we could share some ideas here

[2017-11-07 16:39] BrunoScheufler commented on #17
What about using the [custom Error class](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error#ES6_Custom_Error_Class) MDN provides? The try/catch could be striped out or handled differently.

[2017-11-07 17:17] BrunoScheufler commented on #33
I've added a (security guideline)[https://github.com/BrunoScheufler/nodebestpractices/commit/3297912e6626adc0d65aacede979158b5164874a] for comparing objects timing-safe using default Node.js functions

[2017-11-07 18:15] mscdex commented on #31
FWIW `process.env` is *not* a simple object. It has getters, setters, etc. that call out to OS-specific environment retrieval and setting APIs, so that means it has to venture into C++ land and back, which is expensive (or at least the return trip is -- I do not remember offhand).

[2017-11-07 20:27] shelmire commented on #26
I concur with @refack . Semicolons are a style choice.  And one option requires writing less code!

[2017-11-07 20:32] Calinou commented on #25
You can add [this file](https://github.com/idleberg/Creative-Commons-Markdown/blob/master/4.0/by-nc-sa.markdown) as `LICENSE.md` from [Creative-Commons-Markdown](https://github.com/idleberg/Creative-Commons-Markdown).

[2017-11-07 20:59] TimonLukas commented on #26
I'd argue that since they are a style choice they should not be included in a guide like this. No site really has advantages, and there is a reason why projects like semistandard are successful next to projects like standard.

[2017-11-07 22:06] i0natan commented on #33
@BrunoScheufler what ideas we have for other security bullets? can we fill a section of ~7-10 items? have friends with a security-related startup, maybe join forces and ask them to write come or consult?

[2017-11-07 22:07] i0natan commented on #31
@BrunoScheufler @mscdex what other ideas we have for performance bullets? can we fill a section of ~7 items?

[2017-11-07 22:11] i0natan commented on #26
@refack based on all of the above, it seems to be too opinionated for our guide. If you and @idori agree, let's drop

[2017-11-07 22:14] mscdex commented on #31
Performance (micro optimizations or otherwise) can vary between versions of V8. So for example, some optimizations for versions of node using V8's Crankshaft optimizing compiler will be very different than those optimizations for V8's TurboFan. Even between V8 versions using the same optimizing compiler there can be dramatic changes in performance.

So if you were to include such things, you might

[2017-11-07 22:17] gerardmrk commented on #31
@i0natan I'll do it after 5pm NZ time, but I'd rather you reword any points I add in the pull request because I am bad with forming coherent statements that is easily understandable and to the point

[2017-11-07 22:23] gerardmrk commented on #31
Another one I'd add is, avoid pure functional programming in *very* performance-critical services (e.g. chaining multiple `map`, `filter`, `reduce` on heavy data-structures at API entrypoints). This is a no-brainer (I mean this in the least offensive way possible, but I can't think of another way to rephrase that), but I'll try to find non-anecdotal sources later to back it up if needed.

[2017-11-07 23:53] mscdex commented on #31
I heard some time back V8 might be able to optimize the functional stuff to essentially be a regular loop, at least in some scenarios. Until then, I would also advocate non-functional (array) methods for hot code.

[2017-11-08 06:14] BrunoScheufler commented on #33
@i0natan that would be awesome! I thought of maybe adding guidelines to prevent access tokens or db passwords to be pushed to the internet but rather using dotenv. They can join and help out of course!

[2017-11-08 11:58] kbariotis opened #36 "Code style practices: Add required current folder notation"
After [3.9](https://github.com/i0natan/nodebestpractices#-39-do-require-on-the-folders-not-directly-on-the-files) I suggest to put required current folder notation:

Node.js required the `./` notation when you are requiring a module that is in the same folder. With multiple requires from different folders, you can easily put your self into writing it differently every time.

Always put the `./` no

[2017-11-08 12:14] idori commented on #26
I do like @refack's definition, but I agree to take if out completely if it's a too opinionated subject for a style guide.

[2017-11-09 01:00] j-f1 commented on #26
How about “3.4 Be Consistent With Your Semicolons?” (i.e. it doesn’t matter if you pick semicolons or no semicolons, as long as you’re aware of the pitfalls of each and stay consistent)

[2017-11-09 09:43] EvgenyOrekhov opened #43 "SyntaxError: Unexpected token throw"
https://github.com/i0natan/nodebestpractices/blob/c0e1264dfe2161986a8c91e3df7df8d1d51b8785/sections/errorhandling/asyncerrorhandling.md#code-example--using-promises-to-catch-errors

This example has a syntax error:

[code]

`throw` is a statement, it should be wrapped in `{}`:

[code]

[2017-11-09 10:17] EvgenyOrekhov commented on #43
Another one here: https://github.com/i0natan/nodebestpractices/blob/c0e1264dfe2161986a8c91e3df7df8d1d51b8785/sections/errorhandling/failfast.md#code-example-validating-complex-json-input-using-joi (it also has a missing `new` before `Error`).

[2017-11-09 11:06] j-f1 commented on #33
How about a stern warning about `new Buffer(...)`?

[2017-11-09 14:29] 0x80 opened #46 "File naming best practices"
What about adding best practices for file naming? I have recently been struggling with it a bit and went with all lower-case for my recent projects.

The most common practice I think is to have the name of the file reflect the javascript function or class name that is being exported. But I believe the filesystem should be seen as a separate domain from code. Especially since some OS implementation

[2017-11-09 14:41] 0x80 opened #47 "Commit messages best practices"
Since commit messages are an important part of coding practice, I think it would be useful to include that too.

I go by [these rules](https://github.com/erlang/otp/wiki/Writing-good-commit-messages)

[2017-11-09 15:10] idori commented on #22
hey @kudapara, thanks for the input! Had a busy week but I'll go over Gitbook and Hexo as soon as possible and update on progress

[2017-11-09 15:10] BrunoScheufler commented on #33
So although this is important, constructing Buffer objects is explicitly marked as deprecated in the Node.js docs for some time now. I am not entirely sure whether we would need this as a best practice, @i0natan what would you say?

[2017-11-09 17:00] BrunoScheufler commented on #33
I also thought of maybe adding a description and possible solutions against directory/path traversal attacks for node web servers. Although this is [against 5.11](https://github.com/i0natan/nodebestpractices#-511-get-your-frontend-assets-out-of-node), so I'd like your opinions on this @i0natan @idori @refack before starting this.

[2017-11-09 20:18] i0natan commented on #47
@0x80 this is very true and truly important yet this guide is focused on Node.JS topics only or topics that need specific examples in Node.JS. GIT flow is platform agnostic so I think shouldn't include it. I'd love to see other ideas from you

[2017-11-09 20:18] #47 closed

[2017-11-09 20:25] i0natan commented on #46
Important topic, thanks.

What do you mean by "standard in NPM module"? what about including the file role in its name, angular-style - e.g. user-service, user-api, user-dal, user-cold-testing, etc?

We try to avoid topics that are highly subjective/aesthetic, I'm not sure we can reach a definitive BP here but lets try!

[2017-11-09 20:26] i0natan commented on #43
@EvgenyOrekhov nice catch! can you kindly PR it? thanks for improving this guide

[2017-11-09 20:34] i0natan commented on #36
@kbariotis thanks for joining the battle :)

can you kindly clarify why is this an issue? you also wrote 'always put ./' but in the //DO section the example doesn't contain ./:
module.exports.ModuleInAnotherFolder = require('../ModuleInAnotherFolder');

[2017-11-09 20:48] i0natan commented on #33
@BrunoScheufler take the lead on that list.

Time-wise we won't publish it the next 3 weeks as we just uploaded a mass content and should focus on improving it. Take your time to gather at least 7-10 items from multiple sources (blogs, youtuve, NPM packages) and once we're ready with a comprehensive list - let's push forward toward publication.

Makse sense?

[2017-11-09 20:52] 0x80 commented on #46
If you have your files grouped wouldn't user-service and user-api then already live under /user ? I always leave the context out of the file name if it is apparent from the location.

[2017-11-09 20:59] i0natan commented on #26
@refack @idori @j-f1 I think we should contain only definitive guidelines which includes verbs (do that, drop this, include these) and not general piece of information (you should now that).

Hence, I would combine @refack and @j-f1 suggestions into something like: Be consistent and mindful about semi-color + @refack text and examples.

@idori u lead this issue

[2017-11-09 21:05] i0natan commented on #31
what v8 does now when I chain array utils like map, filter? why is it worst than looping over it myself?

@gerardmrk we are now very focused on improving the current sections, let's publish the performance section in few weeks. In the interim, we can collect many ideas (e.g. fast logger, express-cache, node_env=production, detect sync API usages using the flag warn-async, etc), form a solid list a

[2017-11-09 21:14] i0natan commented on #25
done

[2017-11-09 21:14] #25 closed

[2017-11-09 21:15] i0natan commented on #22
@idori maybe @kudapara can exemplify how one section look like using Hexo

[2017-11-09 21:17] i0natan commented on #17
@BrunoScheufler CustomError looks cool, is it supported in Node LTS?

[2017-11-09 21:47] BrunoScheufler commented on #17
I have to try that out - I'm using it on a daily basis but I have to check for LTS

[2017-11-09 21:48] gerardmrk commented on #31
@i0natan immutable `Array` methods like `map`, `filter`, `reduce` returns a new array when they're called. So for instance:
[code]
the example creates a receipt object but in between that would've create 5 arrays total.

This is readable, maintainable, and less prone to bugs. But if your receipts array is huge and gets called very often (i.e. heavy-traffic), it's worth thinking about sacrificing t

[2017-11-09 21:53] gerardmrk commented on #31
@i0natan also feel free to create the branch yourself and add the points, I am not fussed about not taking credits for all these, I'm just doing this cos I want to highlight important performance tips for the Node community because it's usually a second class citizen

[2017-11-09 21:56] kbariotis commented on #36
I am sorry @i0natan. They were upside down :/. So the issue is just a visual preference. IMO it enhances readability when you know that every `require` will start with `./`.

[2017-11-09 22:07] i0natan commented on #31
@gerardmrk your explanation was great, I think u belong here :)

[2017-11-09 22:11] BrunoScheufler commented on #33
Totally, also takes out some pressure 👍 . I'll wait and look for good items internal (so in this repository through issues and other community interaction) and external by looking at some common risks

[2017-11-10 02:57] nwwells opened #50 "should probably suggest `rc` for 1.5"
[`rc`](https://www.npmjs.com/package/rc) is a more popular config tool than `nconf` and `config`, is used by many rock-solid tools out there, and checks all the boxes you require. I'd suggest recommending it for config management.

[2017-11-10 04:30] yonjah opened #51 "Issues with Use tools that automatically detect vulnerabilities"
The entire page seems like it was kinda copy pasted out of a template  and does not provide any meaningful information.

The one paragraph explainer is mostly a quote but the next section is almost the same quote
with no working links to the original article.

There is no links to the actual tools being recommended

The last paragraph is not an nginx config as the title suggests nor relevant to th

[2017-11-10 04:57] deksden commented on #26
IMHO, usage of semicolons itself is not enough to make code error-proof.

Only combination of several factors like block style, linter usage make code much safer even without semicolons.

[2017-11-10 05:12] yonjah commented on #33
Maybe we can create a branch and work on it together.

I can think of a few topics that are security related (other than the one mention in issue #51)

- Validating and sanitizing all inputs (POST/GET/HEADER/COOKIES)
- Setting secure headers
- OWASP TOP 10 (INJECTION/CSRF/XSS maybe each need a different topic)
- Using ssl
- Securing cookies (httpOnly/secure)
- Rate limiting
- Authorizing (Use 3rd

[2017-11-10 05:56] BrunoScheufler commented on #33
Yeah we could totally do this! I'll create a branch for us to work on and push to, later when I've got time!

[2017-11-10 06:08] BrunoScheufler commented on #33
@yonjah I've also thought about these. So for the crypto best practices I've already prepared a section about timing safe equality comparison using the crypto core module. We could share the other ones and work on them together!

[2017-11-10 07:13] pritammobisoft commented on #33
Hi Guys, Here is one suggestion for NPM package: [helmet](https://github.com/helmetjs/helmet). Helps with many topics which come up in tool based security reviews.

[2017-11-10 07:16] pritammobisoft commented on #33
Also here is one [blog post](https://nodesource.com/blog/nine-security-tips-to-keep-express-from-getting-pwned/) which goes into details on some topics listed by @yonjah. Hope this helps a bit in your research.

[2017-11-10 07:38] davesnx opened #53 "Add const array/object note"
Hey, I wanted to propose a simple note on this section: `3.7 Prefer const over let. Ditch the var`

Using `const` for arrays and objects doesn't mean that those can't change. Indeed, you can `push/concat/whatever` (doesn't matter if it's a mutable or immutable method) an array being a const.

Happens the same on objects, you can update the keys inside an object declared by a const.

[2017-11-10 07:40] davesnx opened #54 "Architecture by components is called in mi mind: Screaming Architecture."
Wanted to add this resource and the name:

https://8thlight.com/blog/uncle-bob/2011/09/30/Screaming-Architecture.html

[2017-11-10 07:45] davesnx opened #55 "Suggestion on testing"
Hello,

The section about Testing: `4. Testing And Overall Quality Practices`.

I would explain what's wrong with mocks and when you should only use stubs.
and probably add the **Testing pyramid**, where canaries covers prod and runs like a cron, e2e covers everything but are slow, integration tests and unit tests.

[2017-11-10 08:21] BrunoScheufler commented on #53
Yeah the const will only disallow reassignment. Invoking anything else will work by default. This is although more a language thing but we might reconsider it!

[2017-11-10 08:55] kudapara commented on #22
@idori and @i0natan let me make a prototype

[2017-11-10 10:59] benjamingr commented on #15
@i0natan flame graphs contain a reference to the actual function and if source maps are set correctly the inspector will handle it (I did it last week) but it does add more overhead.

[2017-11-10 12:32] i0natan commented on #53
@BrunoScheufler I believe that many developers not aware of this subtle pitfall

[code]

It's mostly a question of real estate - is it important enough to fit in the TL&DR? hmm not sure :)

@davesnx thanks

[2017-11-10 17:36] BrunoScheufler commented on #33
So I've created a [branch](https://github.com/i0natan/nodebestpractices/tree/security-best-practices-section) for the initial security best practices. This will be merged and deleted later on when the most important content is integrated into the section. All security section updates via pull requests should be into this branch.

[2017-11-10 20:11] idori commented on #22
@kudapara sure, thanks for contributing!

[2017-11-10 23:33] jasonkarns commented on #36
Personal opinion, but I feel it _harms_ readability because at first glance, it appears that the required file in question is one additional level away.

Using the distance test: from a distance `./` and `../` are indistinguishable, which approximates "at a glance" visual parsing. One should be able to count the `/`s to know how many directory levels away a file is.

[2017-11-11 14:48] kbariotis commented on #36
@jasonkarns I really don't want to argue about that cause it's really a matter of preference and opinion and it's only a suggestion. I like the paths to be similar, much like others aligning their `=` signs. :)

But, I would argue that `./` and `../` should be distinguishable especially to people coming from a *nix background. You don't count the `/`'s but rather the `..`'s to find how many folder

[2017-11-11 20:09] kudapara commented on #22
You can have a look at this draft I made https://kudapara.github.io/nodepractices. Its still work in progress but it should give you an idea of how this site could be like. @i0natan @idori

[2017-11-11 20:16] #43 closed

[2017-11-11 20:34] i0natan commented on #22
@kudapara Ido will probably take a look soon. Thanks again.

Side question - r u interested in being part of our core team and help manage this project?

[2017-11-11 20:41] kudapara commented on #22
Sure I am interested. :smile:

[2017-11-11 20:46] i0natan commented on #22
cool :)

can u drop me an email to 'me' //at// 'goldbergyoni' .com?

[2017-11-12 22:14] #53 closed

[2017-11-12 22:16] i0natan commented on #55
@davesnx thanks for the idea. Can you share some link/paste of a quote that nicely describes the downside of mocks + the *specific testing pyramid that you refer to?

[2017-11-12 22:22] i0natan commented on #46
` I always leave the context out of the file name `

Agree. Pulling back my suggestion.

My concern about this topic is that there is simply no best practice. We strive to keep this guide 'opinionated just enough' and avoid being decisive where things are not that clear or critical. Do you suggest that kebab-case-naming pass through this filter? maybe separate/tag best practices that are more cont

[2017-11-12 22:23] i0natan commented on #17
@BrunoScheufler isn't it duplicated? I believe I saw PR related to this

[2017-11-12 22:26] i0natan commented on #36
@kbariotis I personally adore those aesthetic improvements. I'm not sure whether we should focus on 'widely agreed best practices' vs 'suggestions for better programming'. I tend to believe that the first fits our DNA better.

Anyway, would love to discuss other ideas :)

[2017-11-12 22:27] #36 closed

[2017-11-12 22:28] i0natan commented on #50
@nwwells good point!

can you elaborate how it stacks against those two? any differences/downside?

[2017-11-12 22:31] i0natan commented on #51
@yonjah you're right, content is not optimized there. Absolutely should be treated soon. Would you like to PR?

We're about to release milestones plan soon, security is planned for December end (to ensure the content is highly curated). Would love to see you part of that team.

[2017-11-13 08:28] 0x80 commented on #46
Yes it might be difficult to define a best practice for this, since a lot of people will label it as opinionated.

I started this topic because I am curious what others use, if they gave it much thought at all, and if there are convincing arguments against using an all kebab file naming scheme.

I alone have spent quite a bit of time thinking about this, and I can't find any good resources on the

[2017-11-13 08:56] nwwells commented on #50
I've never used the other two, tbh, but it supports everything I saw in the brief look that I had at the other two, including:

file (with recursive up-tree search)
option parsing
env vars
programmatic defaults and overrides

[2017-11-13 09:24] davesnx commented on #55
Those are different topics around testing.

About mocking, I can't explain it in a short amount of time. But I think most of us we experienced before, that mocking a piece is just isolate from the real implementation. You can fall into the temptation to mock everything and you woudn't have a nice test.

[https://medium.com/javascript-scene/mocking-is-a-code-smell-944a70c90a6a](https://medium.com/j

[2017-11-13 09:57] syzer commented on #26
I was in favour of manual semi insertion.

Could come up with code examples when `js` would fail if not for the manual semi insertion.

But then, some 6-7 years ago on some hackaton, during 30+ th hour of coding (2am  or so),
my friend had put `,` instead `;` and we wasted half an hour debugging...

Since then I tried ASI (automatic semi) , first on some small projects, then on big enterprise proj

[2017-11-13 15:48] carlcheel opened #63 "Best practice for managing dependencies and mocking them"
It would be nice to include information about the best practice regarding managing dependencies in a node app.

Either by using dependency injection, a dependency injection utility or just using CommonJS.

[2017-11-13 17:40] deksden commented on #26
@syzer : exactly!

I never miss any semi in my code - ESLint make code safer, i always have some tricky bug eliminated only by working out some eslint issues (sure you have to configure it to your style).

So - semi is not mandatory, imho

[2017-11-14 00:38] yonjah commented on #51
Submitted a PR -
https://github.com/i0natan/nodebestpractices/pull/52

I hope I'll have time to contribute at least one or two points mentioned in #33

[2017-11-14 10:34] MartinMuzatko commented on #26
I agree. I would say "use a coding style" is important than following none at all. But using semicolons or not is very opinionated. However, I hope that standardjs will be more wide-spread used and adopted in the future.

[2017-11-14 11:32] BrunoScheufler commented on #51
I think I'll prototype some of the ideas this week and finish the first point I already made! You can simply add your additions to the branch I created via PRs!

[2017-11-14 19:34] oshalygin commented on #33
I have some suggestions, I'll probably have to find articles or write my own on SSL and crypto.  Let me know if anyone already started.

Not a fan of helmet but I can cover why :)

[2017-11-14 19:53] BrunoScheufler commented on #33
Just cover the things you want to 👍 Also it would be awesome to mark what each of us is working on and don't switch topics on the fly so we don't work on the same topic!

[2017-11-14 19:55] i0natan commented on #63
Cool topic. Managing in terms of testing only? management can encompass the entire NPM domain, we should narrow this scope

[2017-11-14 20:18] i0natan commented on #54
@davesnx great resource and great idea: "When you look at the top level directory structure, and the source files in the highest level package; do they scream: Health Care System"...

This is why I formed this project, to learn such things.

It should absolutely be within the examples of bullet 1.1, maybe half-sentence in the TL&DR. Can you PR it?

[2017-11-14 20:20] BrunoScheufler commented on #54
This is actually a very good article, indeed. I think this is an important point often missed in web development.

[2017-11-14 20:22] i0natan commented on #50
it also more popular, makes sense to add it, can you kindly PR?

[2017-11-14 20:28] i0natan commented on #46
I so much agree with the necessity for practice on this matter. At the same time, we must keep our reliability and suggest items that score high on at least two dimensions: (a) undoubtedly correct, (b) critical and (c) conventional.

I believe we should sadly drop this in the name of content curation and not technical correction.

Unless we can prove that most people think the same, maybe reddit/F

[2017-11-14 20:34] i0natan commented on #15
@refack @benjamingr what do u suggest here as a reasonable and practical advice? we can't keep contradicting content

[2017-11-14 20:37] i0natan commented on #17
@BrunoScheufler ping

[2017-11-14 20:38] benjamingr commented on #15
A little complex but:

 - Use arrow functions where the function is assigned to a variable or a property (which names it).
 - Use arrow functions in very short functions (`map` `filter` `reduce` etc) but keep them on separate lines if they might throw.
 - Name functions that are passed into callbacks (prefer promises) or event handlers so that they appear more easily in the profiler or stack trace

[2017-11-14 20:38] BrunoScheufler commented on #17
Do you by any chance have that PR? I think this issue might be older than the PR, but I haven't checked.

[2017-11-14 20:38] i0natan commented on #22
@idori @kudapara to me it doesn't seems like it allows PR and collaborative editing like 'code', am I correct?

[2017-11-14 20:42] i0natan commented on #31
Performance section will be added to our milestones in the next couple of days, there will group all the performance advice

[2017-11-14 20:44] i0natan commented on #33
@BrunoScheufler we shall publish improvements milestones soon with a timeline, 'security' seems beefy enough to be released soon

[2017-11-14 20:46] BrunoScheufler commented on #33
@i0natan a timeline with milestones would be good, the question would be which points we could do in a timely manner, when do you plan on releasing the security section?

[2017-11-14 22:36] nwwells commented on #50
Will do. Hopefully tonight

[2017-11-14 22:49] nwwells commented on #50
Closed with #66

[2017-11-15 00:35] #50 closed

[2017-11-15 01:38] snypelife commented on #33
Perhaps some info on implementing a [content security policy](https://www.troyhunt.com/locking-down-your-website-scripts-with-csp-hashes-nonces-and-report-uri/)?

[2017-11-15 01:47] snypelife commented on #26
This is a fantastic thread and was one of the things that made me go 🤔  in terms of best practices. I fully support dropping the section recommending semicolons while strongly advocating the use of a linter.

Also giving explicit examples such as [standardjs](https://standardjs.com/), [prettier](https://prettier.io/) or even [AirBnB config](https://www.npmjs.com/package/eslint-config-airbnb) I fee

[2017-11-15 02:01] snypelife opened #67 "Performance section"
I've found that working with JS data structures in an immutable way has significantly improved application performance.

Oversimplified example:
[code]

While it may seem counter-intuitive in terms of working with completely new objects/values, when operating inside of complex loops/algorithms it has made both understanding what's happening to the data far easier to comprehend, as well you avoid s

[2017-11-15 02:04] snypelife commented on #67
derp, i'm an idiot and just saw #31, can probably just close this.

[2017-11-15 02:05] #67 closed

[2017-11-15 02:14] snypelife commented on #31
Not sure if hijacking this issue is the right approach, but I'll start here and move if that makes more sense.

---
This may sound silly and pretty obvious, but upgrading your apps to the latest LTS as soon as possible to take advantage of V8 improvements. Teams often get so bogged down by bugs/features, that doing something like this is always back burnered.

---
With respect to the functional/im

[2017-11-15 02:17] snypelife commented on #55
While not explicitly testing related, having an area that explains how to implement dependency injection for things like lib functions and middleware I think would be useful as it would open a nice segue into better stubbing and writing more thorough tests.

[2017-11-15 07:58] 0x80 commented on #46
@i0natan Fair enough. I agree with you. I'll think about starting a topic on reddit (or hackernews maybe?) about this.

[2017-11-15 08:30] AdityaAnand1 opened #69 "How about an example project?"
I'd love to see a simple todo or a chat web app made with these best practices in mind 😄

[2017-11-15 09:26] BrunoScheufler commented on #69
That would illustrate our points in a practical way, so that would be a good idea!

[2017-11-15 09:40] i0natan commented on #69
@AdityaAnand1 great idea, it's already on our milestones and work in progress.

What should be our example use case: char or complex multi-component app?

I suggest demonstrating a complex web app that has many services (chat might one of them), this would allow showing real-real-world scenario and not rather simple example. Practically I suggest to show e-commerce site with orders, customers, dis

[2017-11-15 10:01] elouizbadr commented on #69
@i0natan I agree with, that would be very useful since a great amount of us "Node & JS developers" will work on medium to large web applications.

[2017-11-15 10:10] elouizbadr opened #71 "Best practice to virtually "delete" data in Node.JS Applications!"
@i0natan Working on a large Node.JS project lately, I'm facing an issue of "deleting" data feature of my web application.

Since every piece of data is valuable, it wouldn't be physically/completely deleted from database, but instead "cached", "archived", "hidden" or so on ...

My struggle is what is the best practice to handle this situation, and I'd love to see a section on this great repository

[2017-11-15 10:22] BrunoScheufler commented on #71
Well I think that really depends on the data source you're using. Whether you use SQL or NoSQL like MongoDB etc. greatly changes the result

[2017-11-15 10:38] elouizbadr commented on #71
@BrunoScheufler I am using the MEAN Stack so it's NoSQL with MongoDB.

[2017-11-15 10:52] i0natan commented on #71
@elouizbadr interesting and relevant case.

can you elaborate on your specific use case: what data, why not simply delete physically, what constraints (e.g. have 5B records, deleting will overaload the system)

Milestone added

[2017-11-15 11:14] elouizbadr commented on #71
@i0natan Thank you for considering this matter.

I am working on project that automatically deploy applications that were developed by company teams, to a private cloud hosted on a 3rd party provider. I have data objects like Servers, Infrastructure, Applications, Instances ... etc. The issue here is that I want to protect data from being deleted accidentally and for further restoration. Even thou

[2017-11-15 14:01] syzer commented on #63
@i0natan its not only about testing.

Most frameworks have already DI injection micro framework in them.
So that would be very framework dependent

Personally I like how  (JSR330) is doing
[code]
Angular 2 does very similar annotation based approach.

Other good Idea is using registry with all dependencies lazy resolutions,
via (anonymous functions/arrows) or getters `get() { .. }`

All above allo

[2017-11-15 14:08] syzer opened #72 "3.6 Naming conventions for variables, constants, functions and classes"
[code]
I would like to mention that this is legacy since first versions of fortran.
It didn't have const's!
So for all registries/variables that we didn't wanna ppl to change we started using UPPERCASE notation.
Again: it was just because language didn't support `const`!

It's not `nice` to see that this legacy lives on 30+ years, even when most major languages/compilers understand `const` word.

[2017-11-15 14:16] syzer commented on #71
@elouizbadr
The historical tables for mongo collections are quite common solution for that case.
there are plugins for most mongo object mappers that do that automatically

The downside is that adds so much IO overhead.. but it might not be important in that particular case.
Example if your organisation uses ruby python it would not notice performance difference.

Also I would highly recommend rea

[2017-11-15 14:40] AdityaAnand1 commented on #69
@i0natan Yes! This would be amazing 😄

[2017-11-15 14:56] vorpalhex opened #73 "Who is this geared for?"
First of all, thanks for compiling this list. However, it's not clear quite who you are targeting since much of this advice is specific to some situation.

Take for instance 1.1 Structure your solution by components. That makes sense for large enterprise codebases, or codebases with a lot of components that are heavily re-used, but there are also a lot of codebases where that makes no sense (a tod

[2017-11-15 15:00] vorpalhex opened #74 "Node isn't single threaded"
This is a common mistake but your guide on point 5.3 says

While the general advice is good, this is not correct to the Node engine fundamentals. Node uses a single thread for event busing (libuv) but is still running multiple threads in the threadpool for assigning out events. See:

https://www.codingeek.com/tutorials/nodejs/is-nodejs-single-threaded/

https://www.quora.com/Is-Node-js-single-thre

[2017-11-15 15:20] i0natan commented on #74
@vorpalhex welcome aboard.

To my understanding, and I'd be glad to have @refack take here too, Node is in most of the cases single threaded. Quote: "Today’s operating systems already provide asynchronous interfaces for many I/O tasks (e.g. AIO on Linux). Whenever possible, libuv will use those asynchronous interfaces, avoiding usage of the thread pool"

So practically, the event loop might get bl

[2017-11-15 15:38] elouizbadr commented on #71
@syzer Very grateful for your comment and suggestions.

I'll check on every one of your suggestions in order to choose the one that fits my project requirements.

[2017-11-15 15:54] syzer commented on #71
Generally functional approach to Undo is trivial.
OOP is quite complex.
Do not forget about transaction support if its required.

[2017-11-15 23:32] onury commented on #17
See [custom-error-test](https://github.com/onury/custom-error-test) module.

Extending `Error` is a decision. It should not be marked as bad-practice altogether. I can only agree that, if you don't need it, you shouldn't complicate things.

But it can be very useful if done right. For example, `HttpError` and `DbError` might both throw a message about a "connection loss". In cases like this, best

[2017-11-16 07:22] RaduCl opened #77 "Modular project structure examples"
Regarding project structure in chapters 1.1. and 1.2. , are there any article links or public repos where we could witness such implementations?

[2017-11-16 15:15] huquduy opened #78 "Component prefix"
Do we really need to use specific component's name as a prefix, for example: ' user/userAPI', is that essential? could we use ' user/API'?

[2017-11-16 15:38] refack commented on #74
I'll elaborate more later, but the tl;dr is that while node is not "pure" single threaded. All JS code runs in the same thread, so doing CPU bound operations in JS will degrade performance.

[2017-11-16 15:48] i0natan commented on #73
Good point @vorpalhex, Let me try.

Writing a practice per scenario signfincantly reduces the simplicity and readability. Instead, I would prefer to define a scope - medium-sized applications and above (=where people struggles most in Node ). That said, I would recommend practicing these principles in almost any app. Many of the tips deal with preventing complexity and handling size.

Most of the

[2017-11-16 15:58] i0natan commented on #71
@syzer covered it perfectly. Simply put event sourcing or any kind of append-only (doc per-version, no updates, avoid calcualting deltas) seems like the sweet spot between implementation complexity and performance (sacrifice storage but you can work around this with periodical deletion).

This post summarizes it well:
http://www.askasya.com/post/revisitversions/

[2017-11-16 16:04] i0natan commented on #63
@syzer I have thoughts whether DI should remain in the handly developer toolbox in 2017. I saw 3-4 huge NG applications in the last 2 years and none really needed DI.

can you exemplify a typical scenario in backend app that is well modularized into services where one need a *framework to make the decision which provider to instantiate?

Disclaimer: I used a lot DI framework in the past

[2017-11-16 16:07] i0natan commented on #55
@davesnx the testing pyramid seems related to 4.1 as it deals with testing focus. Would you like to PR it?

About avoiding mocks - I'm not sure whether we should provide general testing advice that don't change the way you code Node.JS, or maybe it does?

@snypelife middleware testing is indeed a challenge to write about, Would you like to lead that? what are lib functions?

[2017-11-16 16:08] i0natan commented on #51
@BrunoScheufler this one was merged and can get closed, right?

[2017-11-16 16:09] #46 closed

[2017-11-16 16:13] i0natan commented on #17
@onury the provided table within the link is awsome. Must find its way into our error section (if you like to PR it would be great).

We agree that - At the very least, one must have an implementation of an Error object that has a name/code so callee of functions can identify various issues. The exact technique is subject to various preferences?

[2017-11-16 16:23] BrunoScheufler commented on #51
@i0natan yeah!

[2017-11-16 16:47] davesnx commented on #54
I didn't find any case where the frameworks are opinionated where your filesystem must look. A lot of them, suggest a structure for baby steps that usually goes against Screaming Architecture.

[2017-11-16 16:50] davesnx commented on #55
I will try to get some time to write about testing pyramid, I'm not a native english speaker soooo It would take a little extra time. Thanks.

Instead of creating a topic about avoiding mocks, we could get deep into what kind of tests you can make, what are the patterns or anti-patterns that may appear into your test suit.

[2017-11-16 19:33] i0natan commented on #51
@BrunoScheufler feel free to close issues :)

[2017-11-16 19:33] #51 closed

[2017-11-17 03:32] deksden commented on #26
Title for 3.4 can be changed to something like "Don't forget about proper statement separation" and describe some side-effects of not using explicit semicolons and following ASI. ASI itself is not bad. Main threat is not omitting semicolons itself, but problems with run-time separation of different statements.

Samples from this thread can make some wiki page with details.

[2017-11-19 20:34] vorpalhex commented on #73
That makes sense, and yes, I think just changing the wording resolves the web framework specificity.

[2017-11-19 20:34] #73 closed

[2017-11-19 21:45] i0natan commented on #78
It's a matter of style and there's probably no clear cut here but I personally suggest using the fully contextual object name, userService, because it's sometimes accessible not via file system. For example, when navigating through the code and arriving some code, the class name "API" won't tell you much and switching to file system view is not always convenient. The same can be said about generat

[2017-11-19 21:49] i0natan commented on #77
I'm not familiar with one besides all my personal projects. It's pretty amazing: almost all Node.JS boilerplate/starters use MVC style partitioning (controllers, models, tests, etc), someday I visited 5 Node.JS forums and pasted two file structure options: MVC style vs components, 99% of the participants voted for the later. And still, there are no examples around.

See our milestones for example

[2017-11-19 21:53] i0natan commented on #72
Great anecdote.

I would vote for removing that - a best practice should provide some practical value, it seems pointless in this case. Let's let it park here for few days and see if there are other thoughts. Case not, let's PR it.

[2017-11-19 21:53] #71 closed

[2017-11-19 21:55] i0natan commented on #69
Should it be conservative (Express, Rest, Winston, manual context, etc) or innovative (GraphQL, Pino, CLS with async hooks, etc)?

[2017-11-19 22:15] BrunoScheufler commented on #69
I think we may mix that up a bit. We could use some shiny new tech and also some proven software that is really used by many people and built to be solid for projects!

[2017-11-20 09:52] syzer commented on #72
Also i would change single quoted strings to strings literals:
[code]
to
[code]
It had a performance impact on old versions of node... but that's not an issue anymore.

[2017-11-20 18:55] BrunoScheufler commented on #33
@snypelife that would be a good addition to the XSS prevention guideline for the top OWASP attacks!

[2017-11-20 19:27] BrunoScheufler commented on #33
I'll start off with the crypto best practices for now. Anyone else already working on a point? Just for organizing this milestone.

[2017-11-21 17:28] duard commented on #77
I prefer to separate the project by functionality => Clients, Products, Orders

[2017-11-23 08:04] dushao103500 opened #80 "Multilingual version"
Can you give a multilingual version by your freedom such as Chinese？

[2017-11-23 16:50] #78 closed

[2017-11-23 16:51] i0natan commented on #78
like here:
https://github.com/i0natan/nodebestpractices/blob/master/sections/projectstructre/breakintcomponents.md

[2017-11-23 16:52] i0natan commented on #72
@syzer why not PR it? I can do myself if you're busy

[2017-11-23 16:54] #63 closed

[2017-11-23 17:50] syzer commented on #72
i will PR it tomorrow

[2017-11-23 18:08] refack commented on #72
It may not be noticeable, but it's there. It also implies a different semantic. Do you have any references to preferring only ` over the combination with '?

[2017-11-23 18:30] syzer commented on #72
I can replace ` with ' if you want , however:
template literals allow string interpolation

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals

When one add two objects: `obj1 + obj2` it works in different way than one might think.
consider this object:
[code]
now:
[code]
When ppl see `value`, they expect to have a `string` type, however adding with `+` will leave

[2017-11-23 18:34] BrunoScheufler commented on #72
I would prefer using normal strings by default and template literals only for parts where interpolation is needed. Many style guides also use this pattern, so I think we should really take another look at this change.

[2017-11-24 13:19] huquduy commented on #78
Yeah, you are right, i got some problems with my ideal

[2017-11-24 16:55] NameFILIP opened #84 "ESLint info is duplicated"
Two sections mention ESLint with similar text. This is redundant.

[2017-11-24 17:10] TheForgotten69 commented on #69
Like Hapijs ? There isn't much love for this framework unfortunately.

[2017-11-24 17:15] BrunoScheufler commented on #84
Hi! Would you like to add a PR to remove the wrong/duplicate one?

[2017-11-24 17:17] BrunoScheufler commented on #69
Well not as much as for Express and other frameworks I guess but Hapi really is awesome, just depends on the team and the use case.

[2017-11-25 21:08] i0natan opened #87 "New best practice: avoid backward relative path"
I'm suggesting a new best practice under the code style practices:  Avoid backward relative path

Context: it's common to see developers referring code in far-away folders - require('../../othercomponents/file.js')

Problem: encapsulation code smell + maintainability issue

What do you think?

[2017-11-25 23:22] BrunoScheufler commented on #87
Well the question there would be how to solve this issue. Maybe enabling relative path resolve from the project root, for example not writing `../somecomponent/component.js` but instead writing `somecomponent/component.js`, might help.

[2017-11-26 14:15] i0natan commented on #84
@BrunoScheufler if you touch, assign to yourself so others know that this issue is in good hands

[2017-11-26 14:16] i0natan commented on #80
@dushao103500  we shall start work on a Chinese version in the next 2-3 days, would like to be part of the process?

[2017-11-26 14:22] i0natan commented on #87
Good point, I don't think that there is an agreed best practice for the technique, rather it should just be avoided:
1. Redesign - if the project was correctly partitioned to components, there's no reason for any file to approach files in other components. One solution is to consider a redesign
2. Share utilities as NPM package - if the referred file is a common utility that many needs, consider d

[2017-11-26 14:34] i0natan opened #90 "Credit section - refer blogs that contributed to this list"
@refack  @idori @BrunoScheufler

I suggest adding a section below - 'Credits' with logos of all the companies and blogs which unconsciously contributed ideas. This is not only a fair act but also a great way to (a) communicate that the knowledge here summarizes a lot of sources (b) brand it as de-facto best practices list that aggregates any other

what do you think?

[2017-11-26 14:43] i0natan commented on #33
You may consider few items from this list as well:
https://blog.risingstack.com/node-js-security-checklist/

[2017-11-26 15:05] BrunoScheufler commented on #90
Sounds like a solid idea! This can also help users to find new blogs and places where Node.js resources are available!

[2017-11-26 15:13] BrunoScheufler commented on #33
This is a really good resource! Some points mentioned in the post are already listed above, but we can try to add the other ones too.

[2017-11-27 00:21] EdwardDrapkin commented on #87
Let's say I've got a folder called `models` and there's a lot of them, so I partition that folder into `models/User` for user-related models and `models/Product` for product-related models.  There are, of course, relationships between the two, so I'd have to `require('../User/Cart')` to get at it from the Product model.  If I don't have relative requires setup, and many projects don't, this create

[2017-11-27 06:01] BrunoScheufler commented on #87
I guess splitting up the application into node/npm modules might be the best way to avoid the backwards relative paths, really. But apart from that I do think that `require('foo/bar')` would look better than `require('../../foo/bar')`, simply because it's cleaner. There are ways to set up these relative requires from a root directory but this involves a somewhat hacked-together logic. I think the

[2017-11-27 13:17] XoDNr opened #91 "Can i translate to korean?"
Sorry for miss label. [question]

[2017-11-27 13:19] XoDNr commented on #91
Sorry for miss label. **[question]**

[2017-11-27 20:14] i0natan opened #92 "Chinese translation 祝你好运"
https://github.com/i0natan/nodebestpractices/tree/chinese-translation

@mattjin - Chinese translation can be officially kicked-off. You're the lead! I'll be at your disposal should you need anything. A branch was created (link below), you should have permissions to it, everyone else must PR before changing anything there.

I would ask/recommend only 2 important guidelines:
1. Keep the same content

[2017-11-27 20:17] i0natan commented on #91
@XoDNr that would be our pleasure. Once you do that, you can have your name with bold mentioning on top of the Korean page + added to the core team here.

we already have a procedure for that ([Chinese](https://github.com/i0natan/nodebestpractices/issues/92) and Spanish translations are undergoing), would you like to do that alone or gather few collaborators?

[2017-11-28 04:56] XoDNr commented on #91
Thanks! and i do alone !

[2017-11-28 17:18] refack commented on #90
+1

[2017-12-01 21:50] sepehrvakili commented on #69
I think this is good idea too. Would be nice if the sample application included patterns for role-based authorization as well.

[2017-12-02 15:58] BrunoScheufler commented on #33
✔️ Security-related headers are added to the security section

[2017-12-02 20:49] i0natan commented on #90
@idori can u handle this? in overall it probably includes just 10 logos, on your spare time within weeks, is it possible?

[2017-12-02 21:12] i0natan commented on #87
@EdwardDrapkin it's not about the visual noise rather what it reveals.

I would split into two cases:
1. Dependencies within a business module -  if you have a business module/component that must create multiple models folders in different locations, there are great chances that this module is too big, have too many inner dependencies and will get too complex. A simple enough module should not hav

[2017-12-02 21:13] i0natan commented on #84
@BrunoScheufler what is missing to close this ticket?

[2017-12-02 21:14] i0natan commented on #80
@dushao103500 see #92, there is already a team working on that. Ping if you like to join!

[2017-12-02 21:14] #80 closed

[2017-12-02 21:15] i0natan commented on #77
@duard do you have an example?

[2017-12-02 21:15] i0natan commented on #74
@refack u have suggestions on how to re-phrase the text?

[2017-12-02 21:16] BrunoScheufler commented on #84
The [PR](https://github.com/i0natan/nodebestpractices/pull/89) has to be merged by @idori

[2017-12-02 21:20] #84 closed

[2017-12-02 21:22] idori commented on #84
PR merged

[2017-12-02 21:26] i0natan commented on #69
@TheForgotten69 Hapi is great (and Joi is amazing) but it just not too... different. I mean, for a conservative example I would show Express because this is what most people use and struggle with. For early adopters I would prefer to use something that demonstrates a new paradigm (GraphQL) and now just 'better Express'.

[2017-12-02 21:33] i0natan commented on #54
@davesnx see your contribution here: https://github.com/i0natan/nodebestpractices/blob/master/sections/projectstructre/breakintcomponents.md

🌻your name is now on the front page :)

[2017-12-02 21:33] #54 closed

[2017-12-02 21:37] i0natan commented on #31
@snypelife I can see why working with immutable can make the code more simple, but isn't [1,2,3].map(...).reduce(...) slower than imperative code?

[2017-12-02 21:42] #22 closed

[2017-12-02 21:53] i0natan opened #94 "Korean translation 행운을 빕니다"
https://github.com/i0natan/nodebestpractices/blob/korean-translation/README.md

@XoDNr - Korean translation can be officially kicked-off. You're the lead! I'll be at your disposal should you need anything. A branch was created (link below), you should have permissions to it, everyone else must PR before changing anything there.

I would ask/recommend only 2 important guidelines:

Keep the same con

[2017-12-02 21:57] goldbergyoni opened #95 "Spanish translation (buena suerte)"
https://github.com/i0natan/nodebestpractices/blob/spanish-translation/README.md

@eduardomontalvo - Spanish translation can be officially kicked-off. You're the lead! I'll be at your disposal should you need anything. A branch was created (link below), you should have permissions to it, everyone else must PR before changing anything there.

I would ask/recommend only 2 important guidelines:

Keep

[2017-12-04 15:41] demid5111 opened #98 "Russian translation"
Hey, I am quite new to this initiative. However eager to participate and translate to Russian. What should I do next?

[2017-12-06 02:17] i0natan commented on #98
@demid5111  that would be our pleasure. Once you do that, you can have your name with bold mentioning on top of the Russian page + added to the core team here.

we already have a procedure for that (Chinese and Spanish translations are undergoing), would you like to do that alone or gather few collaborators?

[2017-12-06 02:17] i0natan commented on #91
@XoDNr see #94

[2017-12-06 02:17] #91 closed

[2017-12-06 16:01] XoDNr commented on #94
Thank you so much! i'll do my best! Good luck to all you guys, 행운을 빕니다!

[2017-12-06 20:07] demid5111 commented on #98
Yes, I will try to complete it till EO January. So, I just fork it or there is some guide how to properly set up my translation repo?

[2017-12-07 23:05] i0natan opened #105 "Russian translation удачи"
https://github.com/i0natan/nodebestpractices/tree/russian-translation

@demid5111 - Russian translation can be officially kicked-off. You're the lead! I'll be at your disposal should you need anything. A branch was created (link below), you should have permissions to it, everyone else must PR before changing anything there.

I would ask/recommend only 2 important guidelines:

Keep the same content

[2017-12-07 23:06] i0natan commented on #94
Our pleasure to have you here, LMK whether you need anything to push forward.

I suggest pushing a short version (e.g. one bullet), solicit feedback whether all is done right and then proceed

[2017-12-08 00:15] i0natan commented on #98
@demid5111 see #105 , good luck :)

[2017-12-08 00:15] #98 closed

[2017-12-08 01:07] i0natan commented on #77
Moved to #69

[2017-12-08 01:07] #77 closed

[2017-12-08 01:14] i0natan commented on #74
PRed a fix here #106

Note that the advice was to avoid gzipping and other tasks that are CPU intensive. The word networking wasn't meant for libuv/IO tasks rather tasks on the network stream

[2017-12-09 14:01] BrunoScheufler commented on #33
✔️ Best practice for using HTTPS with Node.js is added too

[2017-12-19 20:22] i0natan commented on #105
@demid5111 no rush, just checking whether everything is clear and if I assist in anyway

[2017-12-19 20:22] i0natan commented on #95
@eduardomontalvo no rush, just checking whether everything is clear and if I assist in anyway?

[2017-12-19 20:23] i0natan commented on #94
@XoDNr  no rush, just checking whether everything is clear and if I assist in anyway?

[2018-01-11 05:55] demid5111 commented on #105
@i0natan yep, it is all clear  - it is WIP, hope to create first PR till EO ww3. Thank you so much for assistance!

[2018-01-16 20:25] i0natan commented on #105
Sounds great and looking forward

[2018-01-17 08:16] zacol commented on #69
When it comes to the example, do you know any resources about [structuring project by components](https://github.com/i0natan/nodebestpractices/blob/master/sections/projectstructre/breakintcomponents.md)? I really like the idea but I can't find any example or even article about that. Each project that I found was build with MVC pattern. It seems to be a great solution but nobody uses it...

[2018-01-24 15:29] gaspaonrocks opened #129 "French translation"
If you want i can help with french translation...

[2018-01-25 08:42] i0natan commented on #129
@gaspaonrocks sounds amazing, would you like to lead this work and find together others that will help you?

p.s. your name will be added to the core contributors + will be on top of the French page

[2018-01-25 22:53] leonardovillela opened #130 "Maybe change a term in "read more" link of practice 1.3"
Hello Guys.
I'm reading the practices and I'm really enjoying it, congratulations to the work. But I came across an interesting case: "well, there is a framework for that, it's called NPM"

Would not it be more correct and more understandable to use the term tool? "well, there is a tool for that, it's called NPM"

[2018-01-25 22:54] leonardovillela commented on #130
If you think it right, I can send the PR.

[2018-01-26 08:26] gaspaonrocks commented on #129
@i0natan I'll start a readme.french.md then and wait for your instruction for the pull request.

[2018-01-26 15:58] BrunoScheufler commented on #130
You're right! If you want to take care of that, just send a pull request :smile: :+1:

[2018-01-26 16:06] leonardovillela commented on #130
Ok, i will send the PR now.

[2018-01-26 16:10] BrunoScheufler commented on #130
You can also add your name to the thank you section on the bottom of the main README file if you want to!

[2018-01-26 16:12] leonardovillela commented on #130
Ok, I will add and send the PR. Thanks.

[2018-01-26 16:17] leonardovillela commented on #130
I open the PR, after review you can close this issue?

[2018-01-26 16:18] BrunoScheufler commented on #130
Yes, I'm already at it! Thank you!

[2018-01-26 16:19] #130 closed

[2018-01-26 16:19] leonardovillela commented on #130
You're welcome :+1:

[2018-01-26 22:50] i0natan commented on #129
@gaspaonrocks  - French translation can be officially kicked-off. You're the lead! I'll be at your disposal should you need anything. Please create a branch for this work and PR to master once it's 100% done.

I would ask/recommend only 2 important guidelines:

Keep the same content & formatting - the focus is on translation, should anyone want to modify the content or the graphics - let's PR firs

[2018-01-29 22:06] i0natan opened #133 "Security best practices - kicking off"
@BrunoScheufler @lirantal

I'm excited to Kick-off the security best practices section. Our goal is to reach a 20+ bullets security checklist that is highly comprehensive and curated. We work on [this branch that already contains 14 titles](https://github.com/i0natan/nodebestpractices/tree/security-best-practices-section#6-security-best-practices)

I suggest the following workflow:

**A. TOC first

[2018-01-29 22:12] BrunoScheufler commented on #133
@i0natan awesome stuff! I'll have a look at it tomorrow and will also select some points to work on the TL;DRs and content, if nobody has picked their bullet points until then 👍

[2018-01-29 23:20] lirantal commented on #133
Sounds great, thanks for reaching out @i0natan. I'll probably get around to it tomorrow evening.

@BrunoScheufler looking forward to working together on this.

[2018-01-31 00:17] lirantal commented on #133
@BrunoScheufler let's take the discussion about the actual content/title in #33 and leave this thread for high-level status/roadmap plan.

[2018-01-31 00:25] lirantal commented on #33
@BrunoScheufler about the content, I would like to make the following changes, let me know what you think:

- Modify `6.12. Avoid eval statements with unsanitized inputs` to avoiding eval statements with user input, or avoid all eval function invocations with any variable altogether.
- Remove `6.6. Hide 'X-Powered-By=Express/Koa/etc' headers` and push it to the generic `6.14. Using common methods

[2018-01-31 09:23] i0natan commented on #33
@lirantal about 6.6 - I just afraid that if we push any minor/cross-platform advice under the generic bullet will end up with very few tips. So I thought that (A) any advice that has Node interpretation (e.g. X-Powered-By=Express) where we can provide some insights how it should be implemented in Node -
 should get its own bullet and (B) any advice that has no Node interpretation (e.g. use VPN) sh

[2018-01-31 12:13] BrunoScheufler commented on #33
@lirantal I'd also agree to rephrase it to avoiding eval in general

We'd all have to agree which points we classify as generic advice and which we use as Node.js-specific points

[2018-01-31 23:50] lirantal commented on #33
@BrunoScheufler I'll begin pushing a PR soon with some changes and we can collaborate on it then with the relevant context, it should be easier.

@i0natan don't worry, there is going to be enough content :-)
the server fingerprinting advice for express is really generic and common sense. It's one of these things that is obvious and you would like to cover more important items instead of it.

Let's

[2018-02-01 09:01] BrunoScheufler commented on #33
@lirantal awesome, I'm on a trip right now, will look into it occasionally though!

[2018-02-03 19:25] i0natan commented on #33
@lirantal sounds great

[2018-02-06 18:29] i0natan commented on #133
@lirantal @BrunoScheufler

I think we're almost done with A, right?

How about adding 2-3 more bullets (marketing-wise, 20+ is important), we can scratch our heads to find few more, and in the interim collaborate on B. Then in few days, we can be ready for phase C (writing the content). What do you think?

[2018-02-06 18:39] BrunoScheufler commented on #133
@i0natan it seems we mixed up some of the points but nonetheless it's getting closer to what we expect from the section, I think the next step might be revising and adding content where needed and also searching resources to share with the topics.

[2018-02-06 22:33] lirantal commented on #133
Great progress indeed!

@BrunoScheufler maybe you want to handle B with some research?
@i0natan regarding C and the content, it's a bit tricky for me specifically since most if it is in the book, but of course the information itself is out there and not a secret. How about it if I re-use some level of contents and examples from the book and would link to it in the different sections?

[2018-02-07 05:53] BrunoScheufler commented on #133
@lirantal I'd be happy to do the research and gather some resources!

[2018-02-07 08:16] i0natan commented on #133
@BrunoScheufler let's have a thread/issue with security resources, then we can pick the Top X

@lirantal my only concern is keeping the same formatting and principles, can we try 1 bullet to see how it looks like? note that the pages have a format for quoting resources and it includes a link to the source

anyway, will put a bold link to your book + I meant to write myself more than few bullets (i

[2018-02-07 12:33] BrunoScheufler commented on #133
@i0natan I'll open an issue for the resources myself later, will look for resources specifically matching our bullets and maybe some general resources for web application security

[2018-02-07 18:54] BrunoScheufler opened #135 "Resources for the security best practices section"
## Guideline-based resources for web application security
- [Twelve-Factor-App Config](https://12factor.net/config)
- [JWT Blacklisting](https://auth0.com/blog/blacklist-json-web-token-api-keys/)
- [Unsafe RegEx](https://nodejs.org/en/docs/guides/dont-block-the-event-loop/#blocking-the-event-loop-redos)
- [Avoid Eval](http://2ality.com/2014/01/eval.html)

## General web application security resour

[2018-02-07 20:39] lirantal commented on #133
@i0natan formatting is ok, I meant about content being same/very similar to content from the book. See this: https://github.com/i0natan/nodebestpractices/pull/137

[2018-02-08 08:15] i0natan commented on #133
@lirantal got it. I think it looks good and serve our purposes well

[2018-02-08 08:18] i0natan commented on #135
another comprehensive work from @BrunoScheufler

@lirantal let's focus here in the next 1-2-3 days, pick best 5-10 resources so we can have bibliography and inspiration for our content writing

[2018-02-08 08:19] i0natan commented on #33
@lirantal @BrunoScheufler what do you think about sharing the current draft with the community (not a mass campaign, just share in few forums) to solicit feedback and ideas for other bullets?

[2018-02-08 08:54] BrunoScheufler commented on #33
@i0natan We could at least create some links to the upcoming changes (for example link to the security-best-practices branch in the ToC) for users to get an impression of the new section. Would be the question whether we share the section on social media and places alike.

[2018-02-08 09:03] i0natan commented on #135
@BrunoScheufler I meant quite the opposite. For efficiency purposes, I would pick 5-7 best sources (3 great blog posts, 1 book, 2 principles site like OWASP). Our goal IMO is to reduce, not to add

[2018-02-08 11:46] BrunoScheufler commented on #135
@i0natan this is not what I meant either. However I want to have a good collection of resources we can collect from

[2018-02-08 22:03] lirantal commented on #135
Definitely a great list, you're doing wonderful stuff @BrunoScheufler

Agree with @i0natan about being focused rather than providing too much information where readers tend to "get lost". There are probably enough awesome lists out there for security as well that will cover these (and if not we can create one :-))

[2018-02-08 22:08] lirantal commented on #33
I'm good with a fast feedback loop 👍
Adding more 'inner content' for the rest of the bullets would be a great enhancement.

[2018-02-08 22:22] lirantal commented on #133
I'm gonna be somewhat busy for the near-term (couple of weeks) so will try to be responsive as possible but probably won't be able to invest a lot of work into the documentation of things, or will be delayed until weekends and such. I think we're good on the overall bullet list, and the read more sections can be based off of my book if we're good with that or other resources that you guys come up

[2018-02-09 06:07] BrunoScheufler commented on #133
@lirantal oh that's why I got the book :smile: thanks for your great work over all, I'll look into reading the book to find additional content options! :+1:

[2018-02-09 06:26] lirantal commented on #133
Oh gotcha! Apologies for not thinking about it sooner :-)

[2018-02-09 10:11] i0natan commented on #133
@lirantal

Cool & good luck, I suggest whenever you have that short time in the next week, focus on A&B (finalizing the bullets list, we need 2-3 more and deciding on the final resources). Try to think what Node-related items we can add to reach 21 items + what are the canocial resources that should drive our writing

Afterward, we can all take the writing very slowly. Maybe even Bruno & I can wri

[2018-02-09 10:14] i0natan commented on #33
@BrunoScheufler let's do both.

Let's share the current branch link (direct link to the security items) in few FB/reddit groups + Twitter?

[2018-02-09 10:15] i0natan commented on #135
@BrunoScheufler I plan going over these resources soon and suggesting which should be on our final list

[2018-02-09 13:12] lirantal commented on #133
don't worry, I'm not going anywhere, just less active for a short bit :-)
will focus on A&B as suggested 👍

thanks guys, this is really progressing well!

[2018-02-09 14:22] BrunoScheufler commented on #133
@i0natan we can share the state of the section here, think of additional points and content together and work on it!

[2018-02-09 14:23] BrunoScheufler commented on #135
@i0natan okay, if you have any suggestions or questions about the list, feel free to share them here!

[2018-02-09 14:25] BrunoScheufler commented on #33
@i0natan sounds good! This way we can pull in feedback from other readers and maybe excite new people about the project!

[2018-02-12 15:59] i0natan opened #139 "Turkish translation Hoşgeldiniz"
@grafiktr - Turkish translation can be officially kicked-off. You're the lead! I'll be at your disposal should you need anything. Please create a branch for this work and PR to master once it's 100% done. Once we load it, will put your name on top of the Turkish page

I would ask/recommend only 2 important guidelines (if something isn't clear - please let us know and will be glad to do it for you)

[2018-02-12 17:14] grafiktr commented on #139
@ionatan - thank you for the support and the permission. the final version of the project will not let you down.
Your highlights will be checked and rearranged as soon as possible, they will be borne in mind for further translations.

I have a request from you in order to keep the project easier and more regular. I would like to carry out the project on CrowdIn if you do not mind.

[2018-02-13 17:48] adaube commented on #129
I would love to be able to help on this PR. I see that @gaspaonrocks has the lead.

How can I help?

[2018-02-13 18:32] i0natan commented on #139
@grafiktr sure, whatever platform makes your life easier.

You plan to work on this with other people or alone? if desirable, we can ask in Node.JS Turkey FB group for contributors

[2018-02-13 19:09] grafiktr commented on #139
@i0natan thank you for your understanding. would you like me to transfer the project to CrowdIn or can you take care of it?
I prefer to work alone when it comes to Turkish but for other languages, of course I will need help from other contributors. But as I said, I can handle the Turkish part by myself.

[2018-02-14 08:18] gaspaonrocks commented on #129
@adaube If you want we can split the work. Each of us having his pages to translate.

I started with the main page but I didn't realise it was massive. Maybe start with the smaller sections ?

[2018-02-14 11:40] adaube commented on #129
@gaspaonrocks that sounds great. Your approach of breaking the work down into smaller chunks is exactly how I like to roll! I'll fork and dive deeper this weekend, or sooner if I can carve out time.

[2018-02-15 16:38] i0natan commented on #139
@grafiktr I think we can start with Turkish first and then when it's ready move to others. What does it mean technically to transfer a project to CrowdIn? will appreciate few words about it works

[2018-02-15 16:39] i0natan commented on #129
sounds great. You may share in some French groups (FB, etc) to see whether other would like to join

[2018-02-15 17:05] i0natan commented on #33
@lirantal @BrunoScheufler to differentiate ourself from few security practices lists on the web, would be great to add 2-3 bullets more. Currently, our list contain ~2-3 items that don't exist in common list. Any ideas? scan base docker images? replace bcrypt with argoni (see link)? install NPM without sudo?

[2018-02-15 17:13] i0natan commented on #135
@BrunoScheufler sorry for the delay, have some milestone soon that doesn't leave much spare time... :(

Pasting some resource I like, I think we should focus on OWASP, Liran's book, and few best practices list:
Great resource about user management mistakes - https://hackernoon.com/your-node-js-authentication-tutorial-is-wrong-f1a3bf831a46
Casual lists:
https://expressjs.com/en/advanced/best-practi

[2018-02-15 18:40] BrunoScheufler commented on #135
@i0natan

I think that sounds good, said resources should include the most important points for us to use in a detailed form!

[2018-02-15 19:17] i0natan commented on #135
@BrunoScheufler can u plz identify whether those list has any (non-generic, rather node-related) item that we don't

[2018-02-15 19:33] grafiktr commented on #139
@i0natan https://support.crowdin.com/github-integration/ here is the detailed answer to your question

[2018-02-15 19:49] BrunoScheufler commented on #135
[This one](https://nodewebapps.com/2017/01/03/13-security-best-practices-for-your-web-application/) seems to contain some generic points matching the content we collected for our general security guidelines checklist. And [this post](https://medium.com/@rajapradhan08/best-practices-for-securing-node-js-web-applications-3b69909b2a2a) contains multiple points we already selected, which might help us

[2018-02-15 20:11] i0natan opened #141 "1st result on Google search for 'best practices'"
@idori @refack @BrunoScheufler @lirantal

good work :)

https://twitter.com/nodepractices/status/964228269208981509

p.s. 20 first Node.JS GitHub packages (in terms of stars)

[2018-02-15 20:59] lirantal commented on #141
Nicely done Love it!
Excellent work you guys! 🎉

[2018-02-15 21:58] lirantal commented on #33
I'm not sure about those options as they are very generic and I think we already have variation of the sudo thing on the list already.

Hopefully will come up with some more soon.

[2018-02-15 23:37] js-kyle commented on #133
I have an idea to contribute to this section - what is the best way to go about this? PR?

[2018-02-15 23:58] lirantal commented on #133
@js-kyle just for the repo, checkout locally the security-best-practices branch and send a PR to merge to this repo of the same branch

[2018-02-16 00:01] js-kyle commented on #133
@lirantal Awesome, thanks

[2018-02-16 15:04] grafiktr commented on #139
Okay, just let me know when it is done. Thank you!

[2018-02-16 19:29] i0natan opened #143 "Repo analytics using a pixel"
@idori I don't think GitHub have Google-analytics style features, maybe we can use a pixel-analytics by putting an opaque image on our home page and then connect it with some analytics platform? any chance you can lead this check?

[2018-02-16 19:33] i0natan commented on #139
@grafiktr anything you need from my part before starting?

[2018-02-16 19:45] i0natan commented on #33
@lirantal @BrunoScheufler see here:
https://www.reddit.com/r/node/comments/7xrpj8/20_node_security_best_practices_draft/

I would embrace the idea about error handling

[2018-02-16 19:59] grafiktr commented on #139
@i0natan  That’s it for now, thank you for everything. If you just upload the project as soon as possible to crowdin, I can start the translation immediately. And one thing to ask, would you mind if you do not let anyone to participate as a proofreader to this project? I prefer to work alone that’s why

[2018-02-16 21:40] lirantal commented on #33
Yep, saw it and that's indeed a good advice, but it again falls on the border of being true for every language and platform, not unique to Node.js. Maybe we can tie it up to express generic error handler and this way to connect it to the story.

[2018-02-19 13:58] #141 closed

[2018-02-19 13:59] i0natan commented on #139
You lead... whatever is more convenient to you

[2018-02-19 14:00] i0natan commented on #135
@BrunoScheufler can you include here a final list with OWASP + Liran's book + 3-5 node.js best practice articles

[2018-02-19 14:02] idori commented on #143
NP, I will look into it

[2018-02-19 14:13] i0natan commented on #133
@lirantal @BrunoScheufler @js-kyle

Just a heads-up: We now have a resources list and finalized our bullets list. I want to re-arrange the list (priority) and slightly adjust the titles to be more node-related. I'll do that by Thursday.

Then, we can start writing the inner pages based on the resources. You may start thinking which topics you wanna right. We can assign 2-3 weeks for the writing ph

[2018-02-19 17:20] BrunoScheufler commented on #135
@i0natan I'd say the most important OWASP resource might be the [Web Application Security cheat sheet](https://www.owasp.org/index.php/Web_Application_Security_Testing_Cheat_Sheet) in addition to the [RisingStack security checklist](https://blog.risingstack.com/node-js-security-checklist/). Other resources might be the [official express security best practices section](http://expressjs.com/en/adva

[2018-02-20 05:31] js-kyle commented on #133
Cool, I will pick some once you've sorted our the priority ordering

[2018-02-23 09:09] js-kyle commented on #133
Hey all

I've got some spare time now so I am keen to get started on a couple of these - not sure if the priority order is set yet, however, first up I am keen to take:

- Hide 'X-Powered-By' Express/Koa/etc headers
- Protect your application endpoints using security-related headers
- Limit concurrent requests using rate limiting balancer or a middleware

After that I'll check in on how we're goin

[2018-02-23 09:25] lirantal commented on #133
Super!
I think we have some contents for the security headers text already in-place, but still maybe worth going through it and closing it.

[2018-02-23 15:44] BrunoScheufler commented on #133
@js-kyle awesome, but I have already worked on the [secure headers](https://github.com/i0natan/nodebestpractices/blob/security-best-practices-section/sections/security/secureheaders.md) point but you might find something to add 😄

[2018-02-24 21:09] i0natan commented on #133
@lirantal @BrunoScheufler @js-kyle

Only now I found the time to sort the list and adjust the titles. It's done, let me know what you think.

Let's all pick items to write about?

Please read the [writing-guidelines to keep a consistent content style](https://github.com/i0natan/nodebestpractices/blob/master/writing-guidelines.md).

2 more thoughts:
1. Prefer the reading experience over the tech de

[2018-02-25 00:55] js-kyle commented on #133
Based on those changes, I'm keen to take the below first up:

6.2. Limit concurrent requests using a balancer or a middleware
6.7. Constantly and automatlically inspect for vulnerable dependencies
6.20. Hide error details from client (e.g. default Express behaviour)

[2018-02-25 10:06] grafiktr commented on #139
@i0natan Is there any progression about transferring the project to CrowdIn?

[2018-02-25 20:34] i0natan commented on #133
@js-kyle cool. you may share the first for feedback before writing the rest. your call.

I'll wait for @lirantal and @BrunoScheufler to pick few then I'll take the rest (will need probably 3 weeks to accomplish my part)

[2018-02-25 21:08] samrocketman opened #146 "Dependency caching is a good practice"
Probably most appropriate under `Going To Production Practices`.  Dependency caching is using an on premise caching proxy such as Artifactory or Nexus in which to pull NodeJS dependencies for production pipelines.

Real world scenario where this has actually saved my company from halting productivity: [leftpad being unpublished affected many companies where caching would have insulated them from t

[2018-02-25 21:25] BrunoScheufler commented on #133
I'd keep and update [6.5 (Common security best practices)](https://github.com/i0natan/nodebestpractices/tree/security-best-practices-section#-65-collection-of-common-generic-security-best-practices-15-items), [6.6 (Secure headers)](https://github.com/i0natan/nodebestpractices/tree/security-best-practices-section#-66-adjust-the-response-http-headers-for-enhanced-security) and in addition to those p

[2018-02-25 22:31] lirantal commented on #133
I'm good with any topic. So which titles does it leave me with?

[2018-02-27 12:34] i0natan commented on #146
@samrocketman  Welcome! Great idea.

Only having thoughts if today, when unpublish is not allowed anymore and npm-registry is a bit more reliable + yarn + shrinkpack as an alternative, not sure how critical it is. But definitely has a value + better performance for developers/ci/cd

Maybe we should pack into this other benefits of professional artifacts management? what other benefits does nexus/a

[2018-02-27 17:31] samrocketman commented on #146
I tend to insulate critical processes from the internet as much as possible.  Artifact repositories have other benefits (depending on your infrastructure) but my best practice recommendation is focused on dependency caching.  Feel free to close this issue if you don't want to include this recommendation.

Dependency caching applies to all where as other benefits a typically good for some and not o

[2018-02-28 09:45] i0natan commented on #146
@samrocketman I just want to discuss and clarify what exactly we recommend. 'Isolate critical process from the internet' is pretty debatable in the age of cloud computing: most of the CI/CD vendors (critical process) are on the internet, the run-time itself is on the internet cloud.

So it this more about the speed, resiliency (prevent downtime), untrust small vendors (NPM inc < AWS)?

[2018-02-28 10:49] i0natan commented on #146
@samrocketman just to clarify - I feel that it's the right thing to do, just need help in distilling the essence of it

[2018-02-28 19:19] samrocketman commented on #146
I understand.  After rereading my response it looks a bit terse.  That was not my intent.  I work a lot with running Nexus as a dockerized service so perhaps I could update my code to reflect my existing practices.

ref: https://github.com/samrocketman/nexus3-ssl

[2018-03-05 23:12] Annouar commented on #129
Hey !
If you guys need some help with French translation, let me know

[2018-03-06 10:15] i0natan commented on #139
@grafiktr really sorry, missed your message somehow. I think that we had some miscommunication - I understood that you are going to use Crowding, do you u need me tell perform anything?

[2018-03-06 11:02] grafiktr commented on #139
@i0natan no problem, i just do not want to postpone the work. only thing i need from you is that to download the project on crowdin

[2018-03-07 11:24] gaspaonrocks commented on #129
@Annouar
Hey ! Sure, you can translate any parts. Any help is appreciated.

I have almost done the `/sections/projectstructure` folder, but i see that thincomponents.md and breakintocomponents.md is the exact same file. Any idea why @i0natan ?

I fixed some minor typos in the english files as well.

I'll PR once I'm done with this folder.

[2018-03-08 13:57] i0natan commented on #129
@gaspaonrocks @adaube @Annouar sounds great, really anxious to see it live

[2018-03-08 13:58] i0natan commented on #139
@grafiktr OK, I thought that you're doing this. LMK check how to perform this

[2018-03-08 14:01] i0natan commented on #133
@lirantal oppss, missed your message, I suggest you pick any topic/s, I'll do some other, just let me know which are your preferred?

@lirantal @BrunoScheufler @js-kyle - let's each write 2-3 items and then will get in sync and plan the rest? can we do it by Match 25th?

[2018-03-08 15:56] BrunoScheufler commented on #133
@i0natan that should work out. Will report back when I've got progress up 👍

[2018-03-11 08:06] js-kyle commented on #133
Hey all, I've checked in a PR to get some feedback early on, https://github.com/i0natan/nodebestpractices/pull/153

This is for 6.7. Constantly and automatically inspect for vulnerable dependencies

[2018-03-12 03:47] iqfy-kyle commented on #133
Thanks for the comment @BrunoScheufler, and @i0natan your comments make sense too, so i'll address those ones before this one gets moved along. Cheers!

[2018-03-12 04:11] js-kyle commented on #133
Thanks for the comment @BrunoScheufler, and @i0natan your comments make sense too, so i'll address those ones before this one gets moved along. Cheers!

[2018-03-13 08:00] i0natan opened #154 "March 2018 maintenance list"
**Updates**
* Update top badges with Node version and last update date
* Ensure all translations are aligned with the English version

**Flowers**
@ymhtut
@cwar

**Stars**
@js-kyle

[2018-03-13 08:06] i0natan commented on #146
@samrocketman I think it's a great idea for a new practice.

I would only restrict in the explanation text that it mostly fits big project that constitutes frequent npm installations in production (scaling-out, rolling version) and repository downtime cannot be tolerable

would you like to write and PR your idea?

[2018-03-13 09:47] i0natan opened #155 "Simplified chinese vs traditional chinese"
@MattJin

@idori who's putting the translation links in the home page asks which Chinese did we translate: simplified chinese \ traditional chinese?

[2018-03-14 09:00] goldbergyoni opened #156 "Hebrew translation תירגום לעברית"
Call for Hebrew translator who are willing to contribute and translate the guide to Hebrew.

Branch was created here:
https://github.com/i0natan/nodebestpractices/blob/hebrew-translation/README.hebrew.md

cc @idori

[2018-03-16 08:24] i0natan commented on #135
@BrunoScheufler maybe you can put here a list of the top 5-6 source you found (Liran's book, 4 best practices, OWASP) so anyone who writes bullets like @lirantal @js-kyle can copy quotes easily?

[2018-03-16 16:03] BrunoScheufler commented on #135
@i0natan of course! So below are some of the most popular resources:

- [OWASP Web Application Security Cheat Sheet](https://www.owasp.org/index.php/Web_Application_Security_Testing_Cheat_Sheet)
- [RisingStack Node.js Security Checklist](https://blog.risingstack.com/node-js-security-checklist/)
- [Express Security Best Practices ](http://expressjs.com/en/advanced/best-practice-security.html)
- [Li

[2018-03-19 05:59] js-kyle commented on #133
I've addressed those comments, and added a new PR. Keen to merge that to the working branch once that has had another look over it 👍

[2018-03-19 08:46] BrunoScheufler commented on #133
@js-kyle will have a look at it!

[2018-03-19 13:58] MattJin commented on #155
@i0natan simplified Chinese.

[2018-03-20 05:55] js-kyle commented on #133
Which bullets have you guys self assigned? I'm interested to look at 6.11 if no-one else has started this

[2018-03-20 06:41] BrunoScheufler commented on #133
@js-kyle I've got 6.5, 6.6 and 6.14 assigned

[2018-03-20 18:10] TheHollidayInn opened #160 "Is there interest in the following topics: Refactoring, Architecture or System Design"
A few things that come up on projects I have in multiple languages are listed above, but more on them below:

1. Refactoring: I honestly hardly see any of this in the "newer" languages, but there are several books on Java refactoring as well as some on PHP and Python. Here is a good list: https://refactoring.guru. This could fit well in the Code Quality section. There are also good tools like: htt

[2018-03-20 18:42] i0natan commented on #160
Welcome aboard! These topics are highly relevant and important and at the same time, 'flamable' and debatable so should get handled with extra care.

The first section (project structure) deals with multiple architecture topics (e.g. microservices, screaming architecture, domain driven design), we definitely can include some wisdom from clean/hex (I personally don't appreciate MV*). For example, b

[2018-03-20 18:44] i0natan commented on #133
I'm starting on Thursday and will take any bullet that you didn't. Just plz share here which bullets you handle to avoid duplications @js-kyle @BrunoScheufler

[2018-03-20 18:44] i0natan commented on #155
@MattJin cool, did u see the flags and the credit? is it good enough?

[2018-03-20 20:18] BrunoScheufler commented on #133
Will take up the points and start working as of tomorrow and the next days.

[2018-03-21 14:34] MattJin commented on #155
@i0natan  Yes. I think it's wonderful!

[2018-03-23 00:05] lirantal commented on #133
I wish I could further help guys but looks like it's going to be a bit busy in the next couple of months.
I won't be able to pick up items to review but if there are specific items/questions that need addressing I'd love to help.

[2018-03-23 09:17] i0natan commented on #133
slight delay on my part but absolutely plan to start writing in the next few days

[2018-03-23 22:54] js-kyle commented on #133
Going to pick up 6.11 & 6.17 today

[2018-03-25 03:57] js-kyle commented on #133
Submitted another PR for a review - 6.11, 6.15, 6.17.

6.17 is a bit light, keen to add a link to another blog but couldn't find any good articles for that bullet

[2018-03-25 03:57] js-kyle commented on #133
Submitted another PR for a review - 6.11, 6.15, 6.17.

6.17 is a bit light, keen to add a link to another blog but couldn't find any good articles for that bullet

[2018-03-25 07:48] BrunoScheufler commented on #133
@js-kyle awesome!

I'll be picking up work with my points again today if everything works out, due to being ill the last few days.

[2018-03-27 07:44] i0natan commented on #133
@js-kyle @BrunoScheufler

I'm doing 6.10 (validation) and 6.13 (avoid root) now. Noneone is writing this now, right?

I suggest everyone aim to pick some bullet will notify in advance

[2018-03-27 07:48] i0natan commented on #133
@lirantal @js-kyle @BrunoScheufler

Thoughts for new best practices:
* DNS rebinding (because node processes are often accessed with http while some external balancer is doing the SSL termination): https://github.com/brannondorsey/host-validation
* Multifactor authentication with passport

[2018-03-27 11:57] BrunoScheufler commented on #154
@i0natan we might create another issue or list for ensuring the translations are up-to-date because this seems like another type of work compared to the regular chores like adding the flowers/stars and keeping the badges updated.

[2018-03-27 11:58] i0natan commented on #154
YUP!

[2018-03-27 13:19] hinco114 commented on #94
@i0natan It looks like doesn't progress... Can I participate in this project?

[2018-03-27 13:26] i0natan commented on #94
@hinco114 our pleasure to have you hear, I suggest we first ping @XoDNr and ask for his advice?

[2018-03-28 05:34] js-kyle commented on #133
Really interested to see Burp Suite!

Agree on DNS rebinding, unless we decide to add it as a smaller clause to bullet 5.3, but it could also warrant it's own article as part of this section

[2018-03-28 14:11] i0natan commented on #133
Yeah also not sure if DNS rebinding worth its own bullet.

Hacking tool benchmarks (Burp Suite) seems interesting enough

[2018-03-28 19:18] js-kyle commented on #133
Going to pick up 6.8 in the next couple of days.

We're making some good progress here!

[2018-03-30 04:01] hinco114 commented on #94
@XoDNr 저도 같이 작업을 하고 싶은데 어떻게 참여 할 수 있을까요?

[2018-03-31 22:38] js-kyle opened #167 "New bullet suggestion - Use an LTS release of Node.js"
I'd like to suggest a new bullet:

- Use an LTS release of Node.js

TLDR; Ensure you are using an LTS version of Node.js to receive critical bug fixes, security updates and performance improvements.
Otherwise: Newly discovered bugs or vulnerabilities could be used to exploit an application

There are a few areas where I feel it could sit - but most likely production or security.

[2018-04-01 08:11] BrunoScheufler commented on #167
I'd say it might fit perfectly into both sections but just for naming purposes the production section might still be a better fit. Awesome idea though!

[2018-04-02 08:27] i0natan commented on #133
@js-kyle absolutely!

@lirantal do u suggest adding warning about "vulnerabilities like XSS, Parameter Pollutions" to 6.9 (sanitization) or 6.10 (validation)?

[2018-04-02 08:29] i0natan commented on #167
Great idea!

I approved the PR but for some reason I don't see the read-more link, any idea why?

@js-kyle

[2018-04-02 08:31] i0natan commented on #160
@TheHollidayInn any follow-up thoughts from your part?

[2018-04-02 08:58] i0natan commented on #167
@js-kyle have Twitter account?

[2018-04-02 09:06] i0natan opened #169 "Interactive map of best practices (+architecture)"
@BrunoScheufler @idori @js-kyle @lirantal

played a bit with a tool that creates interactive/zoomable visual and placed 'best practices' over Node architecture map. Do you think that this kind of visual is helpful and appealing?

p.s. you have to enable Flash but I can also craft the same without Flash requirement

http://prezi.com/spebdqsv347g/?utm_campaign=share&utm_medium=copy&rc=ex0share

[2018-04-02 09:30] js-kyle commented on #167
@i0natan Oops, missed that in the main page, so I have added a quick second PR to add that in.

Twitter: kylemartin_93

[2018-04-02 10:14] BrunoScheufler commented on #169
This solution definitely looks interesting! The question would although be whether we can include our content in a helpful way, we might figure this out only if we actually create a version of this kind of presentation with our own content.

[2018-04-02 10:15] BrunoScheufler commented on #167
I might close this now as well due to the PR and hotfix being merged already, great work 👍

[2018-04-02 10:15] #167 closed

[2018-04-02 10:16] BrunoScheufler commented on #154
I think we're done for March 🙂 Closing this now, any updates can be added to the April 2018 maintenance list, which I'll happily cover!

[2018-04-02 10:16] #154 closed

[2018-04-02 19:39] lirantal commented on #133
I think they should be added to both in the order you listed them (i.e: xss to 6.9 and pp to 6.10)

[2018-04-02 19:40] lirantal commented on #169
Sounds like a good educational tool

[2018-04-07 17:48] sebs commented on #31
some ideas

* patterns for data with "undefined" length, preferably async/await cases.
* do not over use events if you can get away with a simple access of error
* patterns for degradation and detection of "overuse" (queues, runtime checks)
* emulate the event queue in node ;)

[2018-04-07 20:10] i0natan commented on #31
@sebs can u kindly clarify the first two? they both sound interesting but I'm not 100% sure I understood

[2018-04-07 20:48] i0natan commented on #133
@js-kyle @BrunoScheufler

sharing heads-up - I blocked the time this week to write 6.13 and next week 6.18

[2018-04-07 21:10] BrunoScheufler commented on #133
@i0natan awesome, I'll look into formulating some guidelines for our code sections, not too strict but a basic direction we should head to: modern, readable code.

[2018-04-09 06:03] pchc2005 commented on #69
Hello~ How is this going? I am trying to refactor my project to these practices, especially Section 1.1 & 1.2. However, I can't quite differentiate the usage of API and service. It will be nicer if there is a demo project as references.

[2018-04-09 06:30] zacol commented on #69
@pchc2005 I'm trying to follow those practices in my simple application. I've modified some of them but an effect is still better than MVC structure ;)

https://github.com/zacol/chronicler

[2018-04-11 09:01] i0natan opened #172 "April maintenance list"
Assignee: @i0natan

**Updates**
* Update top badges with Node version and last update date
* Ensure all translations are aligned with the English version

**Flowers**
@keyfoxth
@utkarshbhatt12

**Stars**

[2018-04-11 09:07] i0natan commented on #69
@pchc2005 @zacol

unfortunately, we haven't come to this yet but I can share with you my own draft, feel free to share any questions. Look at the service: ~/services/order

https://github.com/i0natan/nodebestpractices/tree/course/services/examples/microservices

[2018-04-13 19:11] TheHollidayInn commented on #160
Sorry for the delay!

Reading over the first section again, it does seem to include the principals of good architecture without explicitly choosing. I'm going to cross reference my material to see if there is more I can add.

I would like to add bullet to section 4 with a summary of creating a plan to refactor and use a tool like CodeClimate as a starting guide. Would that be okay?

Maybe in secti

[2018-04-16 10:50] FedericoBiccheddu opened #173 "Italian translation"
I can help to translate this repo in italian 😃

[2018-04-20 09:10] i0natan commented on #173
Hey @FedericoBiccheddu , welcome aboard!

Will be honored if you can lead this transation. You're the lead! I'll be at your disposal should you need anything. Please create a branch for this work and PR to master once it's 100% done.

I would ask/recommend only 2 important guidelines:

Keep the same content & formatting - the focus is on translation, should anyone want to modify the content or the

[2018-04-20 10:18] FedericoBiccheddu commented on #173
Sounds perfect.

I have already started working on it 😄

[2018-04-22 08:09] i0natan commented on #173
@FedericoBiccheddu anxious to see the results :)

[2018-04-22 08:34] i0natan commented on #160
@TheHollidayInn sorry for the delay, liked very much few of your ideas

Short intro - Everything, after all, is related to 'general sw development'. The main idea here is to write about topics where the nodejs interpretation/implementation are non-trivial with emphasize on the node related topics. The specific tools (e.g. redis, code climate) should not be the main topic rather the concept and the

[2018-04-24 14:16] i0natan commented on #133
@talentedandrew welcome and thank you. can u help us skim through the content and suggest specific bullets/ideas?

[2018-04-24 14:47] hinco114 commented on #94
@i0natan I tried to merge Master branch to korean-translate branch for update changes, but this operation cause conflict.
I think you renamed that file name and committed.
By the way, @XoDNr dose not respond, how do I to contribute? Just PR to this branch?
If dose, one solution is I manually merge this conflict.
And the other way is make new branch from current Master branch.

[2018-04-24 19:39] BrunoScheufler commented on #133
@i0natan I'd need to have an overview on who is currently working on which bullet. So you're choosing 6.18, I don't think any other bullet is currently being worked on, is there?

[2018-04-25 01:12] js-kyle commented on #133
Happy to take on a couple more bullets. I'll post here once I decide on which one

[2018-04-25 05:46] talentedandrew commented on #133
@i0natan thanks for considering it.  I find almost everything listed [here](http://nodegoat.herokuapp.com/tutorial) important. If you want me to list some, here are a few that I think should be included
-1. Server Side JS Injection
-2.SQL and NoSQL Injection
-3.Log Injection
-4.Session Management
 -4.1 Session timeout and protecting cookies in transit
 -4.2 Session hijacking
-5.XSS Attacks
-6.Secu

[2018-04-27 09:06] i0natan commented on #94
@hinco114 Yes, the way to go is PRing into the Korean branch, not master. Then once it's 100% ready PR the branch into master. Did you finish the entire translation work and want to merge into the master? on which files/branch do are you facing conflicts? I'll be glad to halp in resolving the conflicts

[2018-04-27 09:08] i0natan commented on #133
@talentedandrew absolutely looks like a resource worth quoting from. Do you want to suggest/PR practically new bullet or quotes to existing security bullets?

@js-kyle @BrunoScheufler I suggest you just pick 2 items, I'd declare 2 items and then we can do the math - how many left? :)

[2018-04-29 03:12] js-kyle commented on #133
From what I can tell, this is what we have remaining:

6.4. Prevent SQL/noSQL injection with ORM/ODM or any other DAL packages
6.9. Use middleware that sanitizes input and output
6.12. Avoid using middlewares that crash the process
6.19. Take extra care when working with child processes

Currently being worked on:
6.18. Run unsafe code in a sandbox - @i0natan
6.3 Extract secrets from config files

[2018-04-30 18:41] i0natan commented on #94
@hinco114 thanks for the update, I'll take a look at the conflict issue soon and share my thoughts. Does it block you now?

[2018-04-30 18:42] i0natan commented on #133
@js-kyle great list. I'll pick 6.9 as well

[2018-04-30 20:54] js-kyle commented on #133
Awesome, I updated the above list for current state, so all are now assigned.

Aiming to submit mine for feedback in the next few days

[2018-05-01 02:25] hinco114 commented on #94
Not really, I manually see the difference. But I will do the work faster if that problem is solved.

[2018-05-06 12:06] i0natan commented on #94
@hinco114 Fixed the merging issue, kindly pull latest korean-translation. Does it work for you now?

[2018-05-06 16:34] i0natan commented on #95
@eduardomontalvo

Greetings.

I met a guy in another project who's doing Spanish translation, he's just not technical/Node-developer. He's willing to translate all the sections (inner pages) so you're left to: (1) translate only the home page - which I noted you already did most of it (2) verify his work.

Are you available these days for this?

[2018-05-07 12:51] desko27 commented on #95
Hi @i0natan,

I was just checking again this project since its advices are being useful to me for my current project. I just noticed it's still not fully translated to my mother language, but I see that you already have plans for it.

Let me know if I may help in any way.

[2018-05-08 07:08] i0natan commented on #95
@desko27 Welcome aboard :]

Is your mother tongue language Spanish?

If yes, we will really appreciate some help - Already have the home page 70% translated and a guy who can translate all inner page. Just need someone who can coordinate this work.

[2018-05-08 08:49] desko27 commented on #95
@i0natan Thanks!

Yes it is, I'm from Barcelona, Spain.

Wow 70% translated at the home page, that's good news! So what do you mean by coordinating this work? Are you talking about setting some conventions/standards? By the other hand, I'll be happy to collaborate by reviewing the translations if that's helpful. Would that be ok?

[2018-05-11 06:33] i0natan commented on #95
Hey @desko27, Barcelona is good! :)

Coordinate = you lead the Spanish translation the way you like. You have 2 resources that you might or not use: (1) this PR translated part of the home page, it's around 50-80% completed (2) there is a guy who's willing to translate all inner-pages in few days, but he's not technical so probably have to go through this and ensure that the translation is appropr

[2018-05-14 13:35] desko27 commented on #95
@i0natan I see! I'll keep an eye on that PR then. Thanks!

[2018-05-15 13:52] i0natan commented on #95
@desko27 So you wanna take the Spanish translation and handle it? should I connect you with the guy who can translate all the inner pages (then you just need to go over it and approve)?

Your name of course will appear on top of the Spanish page + on the English repo main page

[2018-05-15 14:02] i0natan commented on #160
Closing -> Moved to a PR

[2018-05-15 14:02] #160 closed

[2018-05-15 14:06] i0natan commented on #133
@js-kyle @BrunoScheufler Just an heads-up - we've some holiday here, I'll be back on Monday and write my next 2 in a week.

2 thoughts:
1. Can we check if we cover all WASP 10 top threats? if yes, we may add some badge to the start of the security section
2. Who's handling the generic list? I've an Excel list with 50 security best practices, we might copy from there many items. Then we can publish

[2018-05-15 17:30] sagirk commented on #172
It seems we're behind on the April maintenance list.

Also, have we not opened a May maintenance list yet?

@i0natan @idori @refack @BrunoScheufler I'd like to help out, if that's okay.

[2018-05-15 17:43] sagirk opened #183 "May 2018 Maintenance"
Assignee: @BrunoScheufler

**Updates**

* Update top badges with best practices item count, last update date and Node.js version
* Ensure all translations are aligned with the English version

**Flowers**
@duartemendes
@js-kyle
@sagirk
@serv

**Stars**

**Core Team**
@js-kyle

[2018-05-15 17:45] sagirk commented on #172
Update: Filed an issue for [May 2018 maintenance](https://github.com/i0natan/nodebestpractices/issues/183).

[2018-05-15 17:58] BrunoScheufler commented on #172
@sagirk yeah you're right, if you're up to adding the flowers for this list and create a PR, that would be helpful!

[2018-05-15 17:58] BrunoScheufler commented on #183
👍

[2018-05-15 18:26] i0natan commented on #172
@sagirk Your help is much appreciated

[2018-05-15 18:29] sagirk commented on #172
Opened a [PR](https://github.com/i0natan/nodebestpractices/pull/185).

@i0natan @BrunoScheufler
Taken care of everything for April except this bit:
* Ensure all translations are aligned with the English version

What are the steps to ensure above?

[2018-05-15 19:27] BrunoScheufler commented on #172
This is rather complicated due to the need of staying in contact with the translation groups, don't worry, we'll happily take care of that. Great job however!

[2018-05-15 19:28] i0natan commented on #172
@sagirk If you're up to additional improvements, we've bunch of improvement ideas in our bag waiting for someone to push them forward

[2018-05-15 19:29] #172 closed

[2018-05-15 19:30] BrunoScheufler commented on #172
@i0natan do we? 😅

[2018-05-15 19:50] i0natan commented on #172
:)

Yeah:
1. Bibliography project - extracting all the sources we used into one list on the home page including books, bloggers, etc.
2. For each bullet, show list of top vendors with a comparison of the key metrics (e.g. monitoring solutions)
3. Others

I didn't ask from you to look into one of this because you seem busy but should you have time I'd be glad if you can handle some additional proje

[2018-05-15 20:04] BrunoScheufler commented on #172
Oh no worries 😄 I'll message you if I have the demand for these tasks!

[2018-05-16 03:58] sagirk commented on #172
@i0natan I can start with the Bibliography project. Where can I learn more? Any existing issue/repo/example?

Just to be clear, this is different from the planned [credit section](https://github.com/i0natan/nodebestpractices/issues/90), right?

[2018-05-16 06:57] i0natan commented on #172
@sagirk Thanks, this could be an amazing contribution. This includes the credits section but also other more strategic activities and goals.  I'll share full-details, thoughts and steps by tomorrow morning. To be clear, it doesn't mean that you have to handle all work alone, rather you lead

[2018-05-16 11:23] i0natan opened #186 "Limit login attempts"
@lirantal @js-kyle @BrunoScheufler Should we add this (login attempts limit) to our security list: it's a very common brute-force technique and addressing that requires understanding of Node tools (probably a middleware that uses some redis-like cache with sliding expiration)?

[2018-05-16 12:01] desko27 commented on #95
@i0natan Yeah, that would be fantastic, my skype/discord ID is desko27.

[2018-05-16 12:19] i0natan commented on #95
@desko27 Great! The guy will be available starting from Tuesday next week, I'll make sure to schedule a mutual session. He can carry the heavy lifting, make the first translation, and you as a developer can ensure that the technical lingo isn't lost in translation

[2018-05-16 13:42] BrunoScheufler commented on #186
@i0natan I think that's actually a good idea. I'd go for some sort of cooldown after a set number of failed login attempts, but I'm not sure whether to apply that to an ip address or somewhat more specific which would be better IMO.

[2018-05-16 14:12] i0natan commented on #186
More specific - Username. IP restirction is already covered on the LB rate limiting.

This package seems great:
https://www.npmjs.com/package/express-brute

[2018-05-16 19:53] i0natan commented on #172
@sagirk @BrunoScheufler See the project I just added here: https://github.com/i0natan/nodebestpractices/projects

Read the bibliography project description. The aim is to enrich our content, but prioritize it by popular and important sources.

Let me know what you think.

[2018-05-16 22:40] js-kyle commented on #133
Both sound good to me!

[2018-05-17 06:00] serv opened #187 "Suggestion 5.7. maintenance endpoint is dangerous when it becomes a target of DDOS"
Opening up an endpoint that generates MBs of Node dumps can be dangerous.
Once the endpoint is exposed, anyone can write a simple script that repeatedly hits on the endpoint and bring down the app server.
If this endpoint is exposed only for signed-in admin users, then this risk can be mitigated. You should mention this as a hard requirement for this suggestion.

[2018-05-18 05:47] lirantal commented on #186
In my book I cover this one: https://www.npmjs.com/package/limiter

[2018-05-20 20:10] i0natan commented on #95
@desko27 Cool, pinging on skype tomorrow

[2018-05-20 20:13] i0natan commented on #186
@lirantal I think it worth a bullet, what do you think?

The express-brute supports redis, couldn't see support for out-of-process cache on the later

[2018-05-21 13:11] i0natan commented on #95
@desko27 Added on Skype

[2018-05-21 19:54] i0natan commented on #187
@serv Welcome!

It's written that "A maintenance endpoint is a plain secured HTTP API" - maybe we should emphasize that his endpoint must be highly secured and besides typical authentication be opened to white-listed IPs only

Do you wanna PR something like this?

[2018-05-24 05:41] i0natan commented on #172
@sagirk Is this something you'd like to lead (with our support and working hands of course)?

[2018-05-25 06:41] serv commented on #187
I'll mention that this should be an endpoint that is not available to public. And if someone who is not authorized attempts to request the endpoint, they get 403.

I think white-listed IPs are too stringent of a requirement. People might be debugging from places (at home, cafe etc) that might not be whitelisted. Also at work network, they might have variable IPs for users.

[2018-05-28 15:35] LeoLoupos commented on #186
Do you mean something like that?

[code]

[2018-05-28 17:28] i0natan commented on #186
Or using express-brute:

`var ExpressBrute = require('express-brute'),
	RedisStore = require('express-brute-redis');

var store = new RedisStore({
	host: '127.0.0.1',
	port: 6379
});
var bruteforce = new ExpressBrute(store);

app.post('/auth',
	bruteforce.prevent, // error 403 if we hit this route too often
	function (req, res, next) {
		res.send('Success!');
	}
);`

[2018-05-28 18:13] i0natan commented on #172
@sagirk I see your point, we can start small and expand this as we go.

For example:
Step 1- create a simple bibliography list on the home page, and put there all the sources we used. We have a data entry guy who can help with the extraction work (getting the URLs of all blogs from all the bullets), he can give you a plain list of author-url-title and you just place it within the bibliography

Ste

[2018-05-28 18:32] LeoLoupos commented on #186
Thanks @i0natan , thats a very nice approach .

On the other hand , if we want a more globalized approach.

with the [Maxmind GeoLite2 database](https://dev.maxmind.com/geoip/geoip2/geolite2/) and [node-maxmind-db](https://github.com/PaddeK/node-maxmind-db)  for the IP geolocation portion.

[code]
The key is that you must differentiate the two rate limiters by using a custom prefix (see the RateLi

[2018-05-28 18:41] i0natan commented on #95
@desko27 Added to the Spanish branch the partial homepage translation that was previously done + a Spanish file for each inner page (e.g. sections/errorhandling/asyncerrorhandling.spanish.md) so you can paste the translation. Can I help in any other way?

https://github.com/i0natan/nodebestpractices/tree/spanish-translation

[2018-05-29 08:43] i0natan commented on #186
@LeoLoupos That looks interesting, can you elaborate why create two limiters or why create one per region? what is "ratelimit.js"?

[2018-05-29 11:05] LeoLoupos commented on #186
Ratelimit.js : https://github.com/dudleycarr/ratelimit.js/blob/master/README.md

By the time you have an international server, it is good to apply rate limiting practices for specific regions. Because ,if you can have more powerful machines , on for e.x UK rather than Slovenia, it is the only way to configure different limits.

[2018-05-30 09:04] desko27 commented on #95
@i0natan Hi, I took a look today and saw that the guy who is translating the inner pages translated a few of them. I have some personal issues to attend to this week. Next week on monday/tuesday I'll be updating this with the existing translations, and I may translate some of the remaining translations in the homepage.

Just a detail, [this spanish inner page](https://github.com/i0natan/nodebestpr

[2018-05-30 12:27] i0natan commented on #95
@desko27 Cool, you're the captain, do it on your convenient time and take the ship to Costa Brava. Just if possible, Seth has asked few questions in the Excel, can you answer him as he wishes to accomplish his work?

Sorry about the inner page issue, I guess it's only 1 and the rest are good

[2018-06-03 12:59] i0natan commented on #183
Performed the May maintenance checklist

@duartemendes @js-kyle @sagirk @serv - You were assigned flowers for the great contrubition. Hope to work together on other improvements

@js-kyle Can you kindly add yourself to the core team as you have to include a BIO about yourself?

[2018-06-04 12:14] i0natan opened #192 "Sanitizing user input - how?"
@lirantal @js-kyle @BrunoScheufler  I'm writing now about sanitizing user input (as part of our security best practices #133), having doubts about the recommended techniques. Ideally, I would love to have a single middleware that sanitizes the entire input (i.e. remove script tags, sql commands, etc). Practically, I can't find a library that acts that way + this approach has significant performanc

[2018-06-04 12:35] lirantal commented on #192
There are definitely some general purpose libraries out there, either by OWASP or the one provided by Yahoo but in general, I don't think you want to implement a one-fits-all kind of middleware that will always strip everything.

More than that, it is preferred that you either entirely disregard the request or accept it as is but then be sure to apply output encoding properly. This is due to the f

[2018-06-06 10:29] AbdelrahmanHafez opened #193 "Using named parameters in functions"
Inspired by this [awesome article](https://medium.freecodecamp.org/elegant-patterns-in-modern-javascript-roro-be01e7669cbd)
I've found it super useful to use named parameters when using functions instead of unnamed parameters.

The benefits are:
1- Order of parameters doesn't matter.
2- Default parameters.
3- Anyone who reads the code knows what this parameter is instantly.

[code]

[2018-06-07 01:37] hinco114 commented on #94
@i0natan I have been busy so reply late. It worked well. I'll PR for the results of my work so far soon. It's not completed version, only translated main important parts.

[2018-06-07 19:59] i0natan commented on #94
@hinco114 Sounds great, let's push it one bite at a time.  Maybe as a first version we can translate the home page only and leave the inner pages in English?

[2018-06-07 20:07] i0natan commented on #192
@lirantal Any particular libraries recommendations about output encoding? reference to other material on this?

[2018-06-07 20:18] i0natan commented on #193
@AbdelrahmanHafez Welcome! Interesting idea for a best practice.

I don't know if it isn't too subjective as it pollutes the code with overhead that theoretically could be augmented by the IDE (see below), maybe advice a clear strategy on parameter names + optionally use named parameters?

I'm not sure if this isn't the IDE/tooling job to show the param name for the caller of the function. For exa

[2018-06-08 08:57] i0natan commented on #133
@js-kyle @BrunoScheufler Hello from the middleeast. Hope everything is cool.

Just finished the 'sandbox' bullet. What's the status on your end?

I suggest releasing this list in the beginning of July, does this work for you? what do you think about releasing this in medium.com, only the title+otherwise, links for "Read more" refers to the repo here. This way, it looks like a brand new post and no

[2018-06-09 22:53] js-kyle commented on #133
Beginning of July seems like a good target to me - I'm still working on my two remaining bullets.

As for the Medium article, that sounds good,  I am guessing that will be paired with Reddit and Twitter posts?

[2018-06-11 06:37] i0natan commented on #133
@js-kyle Sure, Reddit + Twitter + NodeWeekly + Node official Twitter + FB groups and more

[2018-06-11 06:41] i0natan commented on #95
@desko27 Just a minor question - do we need anything else from Seth? did he did his job?

[2018-06-12 07:07] sagirk commented on #172
Sounds good.

A couple of follow-up questions:
1. How do I get in touch with the data entry guy?
P.S.: Its been a fortnight since our last conversation, so if the extracted list is ready already, I can get started.

2. Yes, having you do the influencers detection would be helpful. I can get in touch with them and check if they would want to appear on the list.

[2018-06-12 19:56] lirantal commented on #192
https://github.com/ESAPI/node-esapi
https://github.com/component/escape-html
https://github.com/mathiasbynens/cssesc
https://github.com/joliss/js-string-escape

[2018-06-15 06:48] #187 closed

[2018-06-15 06:51] i0natan commented on #192
@lirantal Thanks. I saw some of these libraries but none looked popular enough, hoped there is some dominator on this field

[2018-06-15 06:54] i0natan commented on #172
@sagirk Cool

1. I'll do this on Monday and it will be probably ready by Tuesday
2. Cool, let's open a dedicated issue to chat about this?

[2018-06-15 08:17] SandroMiguel opened #196 "Portuguese translation"
Can I help with portuguese (Portugal) translation?

[2018-06-18 07:59] ghost opened #197 "APM can't send metrics if the process was killed"
According to this this [rule](https://github.com/i0natan/nodebestpractices/blob/master/sections/errorhandling/shuttingtheprocess.md), we should shut down the process whenever an untrusted error happens. At the same time we should have an APM set up as described [here](https://github.com/i0natan/nodebestpractices/blob/master/sections/errorhandling/apmproducts.md).

The problem is that oftenly APM p

[2018-06-18 08:36] i0natan commented on #196
@SandroMiguel Welcome aboard! It can be amazing to have a Portuguese version

I'm sharing here instructions how usually we kick-off a translation, is this descriptive enough? do you want to take it alone or join others?

Open a branch - each translation is done on a dedicated branch that is PRed to master upon completion

Duplicate pages - the content should be translated over a page duplication.

[2018-06-18 09:02] i0natan commented on #133
@BrunoScheufler Can you handle your items by the beginning of July or you want to forward some?

[2018-06-18 09:18] BrunoScheufler commented on #133
@i0natan I'll work on these items this week, I think I'll get done by then!

[2018-06-18 10:07] #183 closed

[2018-06-18 21:50] SandroMiguel commented on #196
Great! I can do this myself, but if someone wants to help, it's better and faster.
Page duplication: I can create the Readme.port.MD but what do you think about README.pt-PT.md? It's more explicit with ISO 639-1 + ISO 3166-1-alpha-2. In future we can have README.pt-BR.md to Portuguese-Brazil translation.

[2018-06-19 11:33] i0natan commented on #196
Sounds like the right way to do it. Someone can help in copying all the pages, but as for the translation itself we have to seek Portugese speakers, I can ask on Twitter + open issue @SandroMiguel

[2018-06-19 20:11] desko27 commented on #95
Hey @i0natan !!

I only see around 25% of translations done in our shared document. Should I wait for Seth to complete his work or should I review & PR the existing translations?

By the other hand, last changes were made by Seth 20 days ago. We maybe should ask him if everything is ok?

[2018-06-19 22:04] SandroMiguel commented on #196
Hi @i0natan, I already started the translation for README.pt-PT.md
What do you think about create a PR for each .md file individually? Some translated content it's better  than nothing, like [MDN](https://developer.mozilla.org/pt-PT/docs/Web/JavaScript/Reference/Global_Objects/Array/includes).
Let me know about your tweet so I can retweet it.

[2018-06-20 07:00] i0natan commented on #197
@chicocode Welcome.

APM should not be the first line of defense and it doesn't replace traditional error handling and monitoring. So in case of an error that might, or not, lead to process exit, the error should be caught by the catcher (e.g. express middleware error handling) or by the unhandled rejection/exception and get logged to the reliable source that is being aggregated and monitored.

AP

[2018-06-20 07:05] i0natan commented on #196
In terms of UX, we don't have languages links per bullet rather per the whole repo, so when a visitor opts to read the Portugese version he will be disappointed if 90% is in English. If we continue with this model, we should translate at least the home page.

Maybe we should consider creating translation links per item than it will be easier for people to transalate shorter items? @idori what do y

[2018-06-20 07:18] i0natan commented on #95
@desko27 Let's approach him in Skype and ask about this... I was sure that we was done with the work

[2018-06-20 07:40] chicocode commented on #197
Thanks @i0natan !

Yes, that makes sense, and I also agree we shouldn't rely on 3rd party services.
But even if we log these error to a reliable source, the process of logging is usually asynchronous done, right?
If so, that could also lead to an unlogged error?
Unless we really make sure the error was sent to the source, but I've never heard of a logging library that has an api like that.

[2018-06-20 12:39] AbdelrahmanHafez commented on #193
How we name our parameters isn't the point here, we should have a section on naming variables in general if we don't already have one, but that's not what this is about.

I haven't done enough research on how IDEs show the parameter names, however, I use VSCode, and it is not consistent as it should be, specially if you require your functions using
[code]

Also, it's not just about writing the cod

[2018-06-20 12:53] i0natan commented on #193
The second. But the same value can be provided by some IDEs (see the image, it looks exactly like your second example without changing anything in the code...), other IDEs will follow soon. Making all app functions receive object is not a very trivial and highly-standard. Consequently, I find it to be a good idea but not sure if compelling enough to be a  "best practice"

[2018-06-21 01:57] AbdelrahmanHafez commented on #193
VSCode can't get some functions if they're hooked in the global object somewhere in the project, in order to get these functions parameters, it'll have to loop through all the project's files. There are functions where it simply can't know what this function is on the time of writing/reading, these functions are assigned somewhat dynamically.

I agree though, it may not be a "best" practice, howev

[2018-06-21 12:30] chanlito opened #198 "How to structure your solution by components for project that uses an ORM?"
Most project using popular ORMs like Sequelize, Mongoose, or Typeorm, typically has a models folder. How would go structure it by components?

[2018-06-21 19:00] SandroMiguel commented on #196
I think it's more confusing to create translation links per item.

[2018-06-22 06:16] i0natan commented on #196
@SandroMiguel Than does it resonate with you that at least the home page should be translated?

[2018-06-22 06:16] i0natan commented on #196
@SandroMiguel Than does it resonate with you that at least the home page should be translated?

[2018-06-22 06:29] i0natan commented on #198
Good one.

The major principle should be keeping your DAL as a data-mapper that maps domain entities into DB and NOT owning the canonical application entities. In other words, you have the domain models, simple JS objects that are agnostic to any DB concerns,  which are the heart of the system - the DAL is responsible to serialize this model into DB. If you use ORM than that DAL will use its own *

[2018-06-22 06:37] i0natan commented on #193
Sounds like a good idea, you may link to this issue from some groups or ask at reddit + we can also create a Twitter Poll

[2018-06-22 06:54] AbdelrahmanHafez commented on #193
Sure, a Twitter poll sounds like a good idea.
I'll post on Reddit as well.

[2018-06-24 07:03] js-kyle commented on #133
I'm starting on 6.12. Avoid using middlewares that crash the process

I might need some advice on direction for this one - I was going to mention validating/parsing input here but that is already covered as part of 6.10. Validate the incoming JSON - what was intended for this one?

Lastly, are there any objections to me removing bullet 4.4, as this is more appropriately covered with new bullet num

[2018-06-26 17:08] i0natan commented on #95
@desko27 I managed to catch Seth, it wasn't easy, he said that we disappeared... :]

Practically, he's willing now to finalize but have one concern: "As a note, in the excel it shows 46 articles or so but the links are 30 something, do you have the other links so we can translate those articles too? "

Let me know what should I answer?

[2018-06-26 17:13] desko27 commented on #95
@i0natan that's cool!

About the links, I'll check it when I get home. Some articles had no one-paragraph explanation, so it's probably that.

[2018-06-26 17:21] i0natan commented on #95
@desko27 Thanks for the vast answer, let's make him finalize this quick.

Maybe you can add more articles from the security branch which will get PRed soon (6.1-6.22):
https://github.com/i0natan/nodebestpractices/tree/security-best-practices-section#6-security-best-practices

[2018-06-26 17:28] i0natan commented on #133
@js-kyle Howdy!

6.12 seems indeed redundent, maybe you can convert it into "Prevent brute forcing your single threaded login routes" which is about limiting the number of allowed login/forgot password per username

See #186

About 4.4 - Not sure we should... Are the parts mutually exclusive or each is stand alone? what if someone is reading our testing practices only (e.g. setting his CI now) but

[2018-06-28 07:30] i0natan commented on #95
@desko27 I had hard time to get his attention, any chance we just push the links pasting so he can finalize his work?

[2018-06-28 09:23] desko27 commented on #95
@i0natan this is the report:

- He translated linked articles from 1 to 11 with some red marks which I'll take care of without any extra action required from him, so we can consider them as finished work from him.
- **There're untranslated linked articles from 12 to 34** which he can freely translate whenever he likes (it's been like this from the day I pasted them).
- I will be pasting new links

[2018-06-28 11:40] i0natan commented on #95
You're absolutely right in every word. He just wants to perform all in one shot, so he gets all the links and get down on it. He doesn't want to perform few iterations, so the "blocking" artifacts are the rest of the links.

[2018-06-28 12:29] desko27 commented on #95
@i0natan Ok, I understand. I'll be home in 2-3h from now, so I'll ensure to provide the new links from the security branch by then. With that done he can perform the one shot 👍

[2018-06-28 16:29] desko27 commented on #95
@i0natan All new links from the security branch are now inserted into the document. There's a total of 51 links. I'll be watching for any question he may have.

[2018-06-28 19:14] i0natan commented on #193
@AbdelrahmanHafez  https://twitter.com/nodepractices/status/1012413507667718146

[2018-06-28 20:28] lhorie commented on #193
Not a good addition IMHO. Here are a few (of numerous) examples that get awkward:

[code]

The "best practice" is to use named params when they make sense. But the whole point of a best practice is that you can generally follow a best practice blindly without understanding the reasoning and intricacies behind them, but even then there's a high chance you're doing the right thing.

Validating named

[2018-06-29 06:42] i0natan commented on #95
@desko27 Great, the ball is now in Seth's court.

Do we want Seth to handle the main page as well or do you wanna take this?

p.s. Good luck Spain in the 1/8 finals :]

[2018-06-29 12:36] AbdelrahmanHafez commented on #193
I agree, it's not a good pattern when a function takes only one parameter and returns only one thing, so there's no point in naming the parameters, like the getConfig, and withName example.

However, for the other examples, you don't need to repeat the parameters again, you can simply set the default to an empty object like so:
[code]

There's probably a typo in the variadicArgs example, I am not

[2018-06-29 23:05] js-kyle commented on #133
@i0natan Cool, I have added that into my current working branch which includes the secret management work (PR #178 ), feel free to take a look.

I just need to address the comments on that one about using a vault, then I think that is all my points addresses, unless we have more things to tidy on this section :)

[2018-07-01 09:36] mishaor opened #202 "What's the best way to handle adding modules/plugins/extensions/etc?"
Let's assume that I use a project that serves:
[code]
over HTTP.
I want to add a `<!DOCTYPE html>` and a title.
There's two plugins (`helloworld-doctype` and `helloworld-title`) and a custom made initialization file:
[code]
So, let's assume that I'm a Node.js developer.
I want to implement this functionality in my Node.js project.
What's the best way to do that?

[2018-07-01 12:31] i0natan commented on #133
@js-kyle What's your telegram uname? I'd like to open a chat for collaborative planning of the security finalization

[2018-07-02 01:02] js-kyle commented on #133
@i0natan just created on as js_kyle

[2018-07-02 11:55] chicocode commented on #197
Hey, sorry for being so late!
What I understood from this [rule](https://github.com/i0natan/nodebestpractices/blob/master/sections/errorhandling/shuttingtheprocess.md) is that the application is responsible for exiting the process with an error exit code (greater than 0), thus no one will kill the process externally, right?
[code]

Regardless of who kills the process, there is a very important inf

[2018-07-03 08:47] i0natan opened #203 "Badges are missing"
@BrunoScheufler Any chance you can have a look at the homepage badges which suddenly disappeared?

[2018-07-03 08:51] i0natan commented on #202
You want to render this on the server or on the frontend? any reason not to use robust, mature and popular 'rendering' frameworks like Angular/React/Vue (all support also server side rendering)? Or is this more of a general question on extensibility?

[2018-07-03 08:53] i0natan commented on #198
@chanlito The bottom line here is that each component has its own DB folder with all the DB concerns to keep the components autonomous and share nothing. Any further thoughts or can I close this issue?

[2018-07-03 08:57] chanlito commented on #198
@i0natan I feel that this way leads to repetitive code, right?

[2018-07-03 09:00] i0natan commented on #197
@chicocode The app can *try to exit with the desired code and capture a descriptive Error with the source. In most cases, this is doable, valuable and how to achieve this is described in greater details on the error handling section.

Sometimes the app is being killed from an external source. For example, where your cloud platform decided to scale-in or restart servers, in that case, there is no c

[2018-07-03 09:09] i0natan commented on #198
Does this [best practice](https://github.com/i0natan/nodebestpractices/blob/master/sections/projectstructre/wraputilities.md) address this concern?

[2018-07-03 09:18] chanlito commented on #198
Yeah but I don't think private npm is a solution for everyone, you can close this if you want.

[2018-07-03 09:56] i0natan commented on #198
You don't have two use a private npm, just put the reusable stuff in a shared/libraries folder outside the comoonents

[2018-07-03 10:14] mishaor commented on #202
@i0natan it's a more general question on extensibility

[2018-07-03 13:05] desko27 commented on #95
@i0natan I can take on the main page, I'll start this week.

Linked articles from the 12th one remain untranslated.

p.s. I'm sorry I'm not a big fan of soccer haha.

[2018-07-03 18:33] BrunoScheufler commented on #203
@i0natan sure thing!

[2018-07-04 00:57] AbdelrahmanHafez commented on #193
You got a point there, it's not a best practice that should be followed blindly without knowing the possible downsides.

[2018-07-04 00:57] #193 closed

[2018-07-05 15:48] i0natan opened #204 "*Vote here: how should our example solution look like?"
We want to start demonstrating all the best practices in a code solution. Should it be a minimal boilerplate/starter for new projects or rich example application?

Help us decide here:

https://twitter.com/nodepractices/status/1014851478580875265

@refack @idori @js-kyle @BrunoScheufler @lirantal @benjamingr @kevinrambaud @t1st3 @kudapara @kalitas @matheusrocha89 @ChangJoo-Park @mfine15 @squgeim

[2018-07-08 07:37] edvinkuric opened #205 "German Translation"
Hey guys,

i just stumbled upon this repo by looking at some github-issues for mongoose - awesome 👍

i would love to contribute to this repository by creating a german translation.

Should i start by creating the branch "german-translation"?

Best regards,
Edvin

[2018-07-09 14:59] herodrigues commented on #196
@SandroMiguel  @i0natan I'm Brazilian and I can help with the pt-BR translation. It'll be easier to translate from the pt-PT translation.

[2018-07-09 16:05] i0natan commented on #205
@edvinkuric Welcome aboard!

@BrunoScheufler, this must be your ticket, right? :]

[2018-07-09 16:36] BrunoScheufler commented on #205
@i0natan obviously! :smile:

@edvinkuric happy to help out if there's anything!

[2018-07-09 18:31] SandroMiguel commented on #196
Hello @herodrigues, you can start translate from here https://github.com/SandroMiguel/nodebestpractices/blob/master/README.pt-PT.md
Already translated up to 2.1

[2018-07-15 08:18] i0natan commented on #205
@BrunoScheufler You may copy instructions from #196

[2018-07-15 08:19] i0natan commented on #196
@SandroMiguel @herodrigues  Cool, let me know if I can help with anything

[2018-07-15 08:22] i0natan opened #209 "July maintenance"
Assignee: @BrunoScheufler

**Updates**

- [x] Update top badges with best practices item count, last update date and Node.js version
- [ ] Ensure all translations are aligned with the English version
- [x] Update 'thank you' stars & flowers

**Flowers**
- Max101
- SandroMiguel

**Stars**

**Core Team**

[2018-07-15 12:15] i0natan opened #211 "Is `new Function` insecured?"
@lirantal @js-kyle @BrunoScheufler As I go over the security content before we publish, I found this statement in bullet 6.15: "Another language feature that should be avoided is `new Function` constructor"

Is it so? I wasn't aware of that and would like to ensure that it means what it means

[2018-07-15 14:17] i0natan opened #212 "Uncaught exceptions as a security weakness"
@lirantal Sharing an idea for the security list - one of the most practical ways,IMO, to render a Node process irresponsive is by generating uncaught exceptions/rejections and letting the process crash (many just don't handle these events or handle improperly). If you agree, than catching+handling+monitoring+alerting on these events is a mandatory security protection measure. What do you think?

[2018-07-16 06:35] lirantal commented on #211
Yep, that's indeed the case.
These all belong in the same family of evil: `new Function`, `setTimeout()`, `setInterval()` for the reason that they all accept strings as input which is then interpreted and executed.

I'm covering that in my book for further explanation but I believe that's already straight-forward.

[2018-07-16 06:48] lirantal commented on #212
I would say that it is a good measure to generally restart the process if you're in an undefined state where an exception wasn't caught.

[2018-07-16 08:43] i0natan commented on #212
Yes, my point being is that many indeed do only that (no critical alerting on process crash), then typically some input leads to a process crash. If an attacker could identify that input - he could easily generate denial of service with infinite restarts. This a weakness that is unique to Node.js @lirantal

[2018-07-16 08:44] #211 closed

[2018-07-16 08:45] #209 closed

[2018-07-16 08:46] i0natan commented on #209
@BrunoScheufler Sure!

[2018-07-19 07:39] desko27 commented on #95
@i0natan Hey!

- Articles are translated from 1 to 11 (like before) AND from 35 to 51.
- Articles are NOT translated from 12 to 34.

I checked a few times and all links are working fine.

[2018-07-19 07:41] i0natan commented on #95
@desko27 Great catch. Asking for fixes. Can you remind me the link?

[2018-07-19 07:46] desko27 commented on #95
@i0natan I sent it to you via skype since everyone with the link can edit the document.

[2018-07-19 12:47] i0natan commented on #95
@desko27 Yeah, forgot that... thanks

[2018-07-25 05:51] i0natan commented on #95
@desko27 You were right, they forgot to translate this part... It's now all transalated. I verified myself

If you can easily define how to copy from the Excel to a GH file - I've someone who's doing data entry and can do this for us. Do you want to instruct her or do yourself?

[2018-07-25 08:39] desko27 commented on #95
@i0natan Nice! I would like to do it myself, since I wanted to review each translation as well so we make sure it sounds as natural as possible. Can I open a PR as soon as I get it? It shall be done between this and next week (I would like to do it sooner but I have some conferences this weekend I must attend to). I love to strive to perfection with this kind of stuff so I promise it's worth it 👍

[2018-07-26 06:43] i0natan commented on #95
Sounds like that perfectionism I couldn't resist 👍 👍 👍

Do you need anything else from my part? you can open a PR whenever you like

[2018-07-27 14:16] ilDon opened #220 "Static vs Constructor approach"
I've been looking on the web but I could not find any good advice on whether it could be considered a good practice to use constructors (`new MyClass(...params).myMethod()`) over classes with only static methods (`MyClass.myMethod(...params)`), or the opposite.

I would guess that the solution depends on the situation. If that is the case, could we draw some general guidance on when it is a good p

[2018-07-27 14:56] gsipos opened #221 "TypeScript"
Consider adding TypeScript as a recommendation. It improves code quality/maintainability, catches bugs, so it has a place in this list imho.

[2018-07-27 15:46] behcet commented on #139
@i0natan "أهلا بك" has nothing to do with Turkish

See: [Turkish alphabet](https://en.wikipedia.org/wiki/Turkish_alphabet)

[2018-08-01 08:25] i0natan commented on #139
@behcet Can you then help me translate "Welcome" or "Good luck" to Turkish?

[2018-08-01 08:36] i0natan commented on #220
@ilDon Welcome! Thanks for bringing this up. @BrunoScheufler @js-kyle @idori What do you think?

[2018-08-01 14:45] behcet commented on #139
Sure thing.

Welcome = Hoşgeldiniz

Good luck = Başarılar

[2018-08-03 13:34] MarkAdell commented on #204
What is the state of this?

[2018-08-05 15:52] i0natan commented on #204
@MarkAdell Still considering whether this is the right place to spend so many nights during the next year? :]

What do you think? would you use it as a starter or for learning? any other thoughts/recommendations will be great

[2018-08-05 17:33] ilDon commented on #220
@i0natan thanks for your thoughts, I also take a very similar approach :-)

Additionally, I find instantiation helpful when dealing with certain promises, or functions to be called by an event listener. By creating a new instance on each promise/event, I know that properties of each instance won't interfere with the others that might still be executing.

[2018-08-05 18:54] i0natan commented on #220
@ilDon Yes, sounds like a good example of interfering

[2018-08-06 05:40] i0natan commented on #220
Very concise way of defining it 👍

What about instantiation time?

[2018-08-06 07:00] benjamingr commented on #220
@i0natan

What about it?

[2018-08-06 08:03] i0natan commented on #220
@benjamingr

Scenario A - 5000 requests/sec, each web request is using static objects, no "new" instantiation

Scenario B - 5000 requests/sec, each web request instantiates 5 "new" objects (e.g. ProductService, ProductDAL, etc)

Wouldn't B spend more time on instantiation of objects and more memory (though negligible)?

[According to this jsperf ](https://jsperf.com/static-vs-prototype-methods-tes

[2018-08-06 08:48] benjamingr commented on #220
That jsperf is bonkers, I would recommend never believing a jsperf - in particular one that is susceptible to DCE like that one.

That said, allocations aren't free of course - regardless of stuff being static or instance methods.

There is no additional overhead in doing `stats.foo()` and not `MyService.foo(state)` - allocating `state` itself is of course not free.

I'm not sure I'd bother caring

[2018-08-06 13:43] i0natan commented on #220
That what I meant. Not using static has an additional *minor operation. The rest resonate with me as well 👍 :]

[2018-08-06 13:50] benjamingr commented on #220
@i0natan wait no! That fact has nothing to do with static/not-static it has to do with state. It doesn't matter if you're allocating a `UsersProvider { id='15' }` or passing an object `{id: 15}` to a static method in terms of memory. It's the extra state you keep around that takes the memory and not the static/instance stuff.

[2018-08-06 14:06] i0natan commented on #220
@benjamingr

CPU-wise - Can you share a link/other keywords on the allocation you refer to so I can do some further reading?

Memory-wise - going with the example above, are we in agreement that B will consume more memory (state being transferred across static or instance methods will have the same impact, however the instances themselves will consume a *bit more memory)?

[2018-08-07 07:56] antoniq opened #222 "Extending testing best practices"
Hi there,

Together with @janis91 we have been working on a detailed overview of Node.js Testing best practices. We have published them in a blogpost [https://blog.novatec-gmbh.de/modern-microservice-testing-concept-real-world-example/](url) and we provide a showcase project in github [https://github.com/nt-ca-aqe/blog-microservices-testing-nodejs-typescript](url). Would that be interesting for yo

[2018-08-08 06:46] i0natan commented on #222
@antoniq @janis91

Welcome.

This is very interesting. And very important. I added your post to my learning queue and will read soon. There are also some other important JS testing type that are not covered, also have some post waiting for finalization for many time (e.g. property based testing, chaos testing, etc)

Would you be able to format some of the content as bullets in our testing section?

[2018-08-08 13:29] antoniq commented on #222
Hi @i0natan ,

Sure, let us know once you have read the blogpost content. We have followed the testing types defined in the modern Agile Testing Pyramid.

Cheers,
Antoniya

[2018-08-09 18:22] marcelosdm opened #223 "Brazilian Portuguese translation"
Hello everyone!

I just saw that this project already has the [issue 196](https://github.com/i0natan/nodebestpractices/issues/196), that's about the **Portuguese translation**. But it's all about the Portuguese from Portugal.

Wouldn't it be nice to have the translation to **Brazilian Portuguese** too?

If it's ok, could I help with it?

[2018-08-09 19:18] i0natan commented on #222
@antoniq, sure thing, plan to do it over the weekend

[2018-08-12 15:09] i0natan commented on #204
@MarkAdell Curious to hear, which are your favorites boilerplates?

p.s. had a look at your starter, looks very nice. Consider not putting DB logic in an "api" as they server different purposes and layers

[2018-08-12 15:11] #212 closed

[2018-08-12 15:14] i0natan commented on #223
Hey @marcelosdm, welcome aboard!

Will be honored if you can lead this translation. If you're up for the challenge - I'll be at your disposal should you need anything. I can create a branch for this work.

I would ask/recommend only 2 important guidelines:

Keep the same content & formatting - the focus is on translation, should anyone want to modify the content or the graphics - let's PR first in

[2018-08-13 14:17] marcelosdm commented on #223
Hello @i0natan !!

Wow!! I'm really excited and honored with your feedback!

I agree with those guidelines and I'd like to say that I'm ready to start!

So, I await for the new branch so I can start the translation.

Thank you very much!

[2018-08-13 19:41] i0natan opened #224 "On what topic should be our next best practices list?"
Dear maintainers, contributors, and followers,

We need your advice: We've just met a significant milestone - [our security best practices section ](https://github.com/i0natan/nodebestpractices#6-security-best-practices)was released and was ranked [2nd most read medium.com ](https://medium.com/@nodepractices/were-under-attack-23-node-js-security-best-practices-e33c146cb87d)Node article on July. At

[2018-08-13 22:26] simon2k commented on #224
@i0natan Interestingly would be to get and establish standard practices for our already opened issues. One of them, quite common: https://github.com/i0natan/nodebestpractices/issues/198 - I think that most of us use some ORM or DAL that is shared between components. It would be good to have a recommended way of dealing with it. One idea is to inject ORM/Models as a context through a middleware whe

[2018-08-14 11:07] syzer commented on #224
@simon2k you talk about REST, there are GraphQL endpoints in the wild, that solve this particular problem.

[2018-08-14 14:55] sagirk commented on #224
Voted for API practices as the next topic on Twitter (though, looks like performance practices are the current winner by a small margin).

I'm interested in lending a helping hand with maintenance.

I'd like to float a few ideas for discussion that may help reduce maintenance burden:
1. Introduce a linter for markdown ([markdownlint](https://github.com/DavidAnson/markdownlint) seems to be the comm

[2018-08-14 15:11] BrunoScheufler commented on #224
I agree to @sagirk, moving to an organization would be a good task for future plans of this project.
Reducing the effort of maintaining the chores by automating specific workflows sounds like a good plan, too.

My main task for the next time will be to create code-style guidelines (maybe building on top of popular guidelines like standard/airbnb), to enforce a uniform style for new and existing co

[2018-08-14 18:35] i0natan commented on #224
@simon2k - These are absolutely tasks that challenge developrs === we're tasked to seek a good practice that many can blindly follow. How about elaborating on the architecture part and including prtscn and more code examples + sharing a boilerplate that exemplifies the structure?

@sagirk - These sound like tremendous ideas! Can you elaborate on the benefit of organization plan? wouldn't that chan

[2018-08-14 18:51] i0natan opened #225 "Medium issue"
@js-kyle @BrunoScheufler Any chance you can take a look at the Medium.com comments? some people are reporting a broken link

[2018-08-14 19:44] BrunoScheufler commented on #225
@i0natan done!

[2018-08-14 19:44] #225 closed

[2018-08-15 03:33] gilbertosil commented on #223
Hi,

@marcelosdm  if you need help with the translation,  i would like to help you.

[2018-08-15 13:46] marcelosdm commented on #223
Hey @gilbertosil !

I'm glad to hear from you!

Of course I'll need help!!

Feel free to join me!

[2018-08-15 15:04] sagirk commented on #224
@i0natan
- An [organization](https://blog.github.com/2010-06-29-introducing-organizations/) can be a dedicated umbrella to group related projects together. It also makes it possible to, among other things, create teams, add read-only collaborators, or give someone else administrative control over one of your repositories.
Probably unnecessary at present, but as the number of related projects grow

[2018-08-16 13:56] i0natan commented on #223
@marcelosdm @gilbertosil Opening a Brazilian-Portugese branch by tomorrow but anyway you may clone already, collaborate on the clone and periodically push to the branch Brazilian-Portugese. Does this makes sense?

[2018-08-16 15:49] marcelosdm commented on #223
@i0natan I totally agree with that! I cloned yesterday and I'm already working on it.

Thank you so much in advance!

[2018-08-16 16:04] marcelosdm commented on #223
By the way, @gilbertosil we should organize our work, so we don't repeat ourselves.

I'm already translating the **README.md** file! What do you think you can do by now?

Maybe the best practice is you clone my repo and make your PR to it, so we can make it the best way to the main project. What do you think?

And of course, anyone who read this is welcome to join us!

[2018-08-16 16:50] BrunoScheufler opened #227 "August maintenance"
**Flowers**
- GabeKuslansky
-  [Ron Gross](https://github.com/ripper234)
- [Valeri Karpov](https://github.com/vkarpov15)

**Stars**

[2018-08-17 00:39] uronly14me commented on #94
@i0natan Hello, I want to translate it to Korean too.

[2018-08-17 05:57] js-kyle opened #231 "Constantly and automatically inspect for vulnerable dependencies"
The above bullet inside the security section needs a tidy - it looks like the screenshots were lost, and it is important the new `npm audit` is incorporated here.

The images are present in the `security-best-practices-section` branch so can be picked up from there.

I'll look at this soon unless anyone else would like to take a look!

[2018-08-17 08:11] i0natan commented on #224
@BrunoScheufler Providing TypeScript examples nearby all code examples sounds amazing. I suggest that our CI will use the same linting rules that we recommend here (+airbnb rules). If you add TS that you'll need tslint as well. Let me know if you need help with configuring the CI - I've worked few times before with CircleCI.

@sagirk , these ideas are super valuable, approached in Twitter.

@syzer

[2018-08-17 14:02] MarkAdell commented on #204
@i0natan Thank you!

What do you think of putting the dataAccess files under a folder named "DAL" inside src/db folder?

these are some of my favorites boilerplates :
https://github.com/cham11ng/typescript-api-starter
https://github.com/danielfsousa/express-rest-es2017-boilerplate
https://github.com/EQuimper/nodejs-api-boilerplate

[2018-08-19 10:12] sloops77 commented on #220
Classes should be used when you have 1 to many instances with state that needs managing.

The use case for static methods on classes in javascript is not common (unlike Java).
* Do you just want a utility method with no shared state. Use a function!
* Do you have a singleton with state? There are three solutions
  * A static class
  * Singleton pattern
  * File scoped variables and functions. Util

[2018-08-19 10:26] benjamingr commented on #220
All of this is mutable global state which has severe design implications when your app grows. There is a fourth alternative:

 - Create the object once (in your 'main' module)
 - Pass it around to modules that require it

That way you don't have mutable global state since it is controlled by the main module which can decide to pass it around and you can easily track mutations and modifications.

I

[2018-08-19 10:27] benjamingr commented on #220
That's only because Java doesn't have global variables and JavaScript does - that's the part static and singletons play because Java doesn't have an actual module system (well, it does now) so all objects are dumped to the package namespace and making a method/property static makes it effectively global.

[2018-08-19 13:12] i0natan commented on #220
@benjamingr 99% resonates me with a lot and well explained. About the 1%:

Not sure why this is not yet another variation of global-mutable. Say, we pass OrderService to some job executors (objects that perform custom order-related tasks) and one of them intentionally or as an innocent side-affect mutate the state, wouldn't it affect all the other and lead to the same tragic outcome? Agree that th

[2018-08-19 13:31] benjamingr commented on #220
Mutable shared state still isn't great - but at least it's not global so if you want to pass that capability around you have to be explicit.

I think the whole thing is entirely orthogonal to whether or not classes are used and you can write good OOP without using classes at all (and terrible OOP with classes).

The important thing isn't having the template or the sugar for binding state to behavi

[2018-08-19 13:45] i0natan commented on #220
@benjamingr

I again agree with 99% and iterating the core message here - aims to keep everything separated and autonomous which implies encapsulated (make it also small, but well... this belong to another discussion...:))

My remark about DB access wasn't about the DAL/provider. I tried to outline with you, what are the cases for example, where using a global might seems reasonable. One case that

[2018-08-19 13:50] benjamingr commented on #220
The problem of globality only applies to global state - if there is no global state the fact something is accessible globally isn't a problem since nothing can be modified "elsewhere" anyway.

It is perfectly fine to have immutable (namespaced if possible!) globals.

That said, in your case there is global state (the SequelizeDBConnection) so I don't think it holds - I'd inject the instance instea

[2018-08-19 13:56] sloops77 commented on #220
@benjamingr

By the "singletons pattern" i meant by using DI (hence my reference to spring - the classic java DI framework). This is exactly what you proceeded to describe after my post - you have a better way with words than me!

I dont agree that module scoping and global state is the same. I can't get access or mutate to a unexported variable defined in file scope from a module. And I can contr

[2018-08-19 14:01] i0natan commented on #220
@benjamingr

What SRP violation? DAL just depends on some npm package (probably private one) that knows to provide the physical link to the DB. It has no idea what happens there

[2018-08-19 14:05] benjamingr commented on #220
For what it's worth I'm really not a big fan of Spring or Spring DI.

That's also true for global variables:

[code]

Although really that point was mostly about lifecycle management.

It's not just testing (testing just highlights it) - it's reuse in general, testing just takes your one-use-case code and adds a second use case. Anything else that tries to reuse the code or swap parts of it will r

[2018-08-19 14:47] i0natan commented on #220
@benjamingr Not sure I got it, might be that I miscommunicated the DAL design, LMK whether your comments still apply:

- SequelizeDBConnection - reusable npm package with 1 method: getInstance() which returns the Sequelize object with connection configuration. Always return the same instance.
- OrderDAL - belongs to the Order component/microservice, not reusable at all outside the scope of Order m

[2018-08-19 16:15] benjamingr commented on #220
Yes, I would not pass that code review if the code is reasonably large. If you're doing something different though let's talk about it.

That code does "magic", it holds global state (in a singleton no less) which causes implicit dependencies. Because some day I'm going to write a unit test for some module that is magically using it 3 layers in - and it's going to drop my production database for a

[2018-08-19 18:54] i0natan commented on #220
@benjamingr I wouldn't come here to discuss 'quick and dirty' code for small apps. My goal is to discuss design patterns for the most challenging and largest application, I believe that my code serves this purpose and the same time I believe that it might not and I can learn and improve. Mostly from you.

But having a singleton is a technical requirement we can't avoid (Sequelize, for example, for

[2018-08-20 07:34] benjamingr commented on #220
By singleton I mean an object in charge both of its usage and its lifetime - i.e. [this](https://en.wikipedia.org/wiki/Singleton_pattern). I am _not_ talking about "just having one of something". Effectively having global state (since the singleton's class is global and importable).

You can just have one instance of `DB` - anyone can import `./db.js` but they can't get an instance (they can be pa

[2018-08-20 14:28] sloops77 commented on #220
I have worked in projects where DI was only used, and others where importation was used.

I dont see such a big disparity in maintainability - in fact big DI projects are often very hard to maintain.

With DI projects often dev's are so frustrated without being able to import a thing, that they just willy nilly start adding more and more injected objects without really thinking. It makes it VERY d

[2018-08-20 14:58] benjamingr commented on #220
Do you think there might be a correlation between the project size and using DI? Larger projects are harder to maintain. In my personal experience Java projects are also harder to maintain 😅

Seriously asking - not saying your experience is any less valid than mine - but my experience is that the problem is usually Java and not DI as a concept.

I'm definitely not a fan of magic. If something has

[2018-08-20 20:46] sloops77 commented on #220
Indeed that is what you argued for above, no?

i was refering to angular projects. My Java DI experiences are from so long ago that i don't even have any PTSD left.

Be harsh! It was awful. 😱. Understanding when and when not to use DI is tricky. As this discussion is proving. The reality was though that mixing serivces, with initialisation data for state, with utility functions ended up with this

[2018-08-21 07:39] hinco114 commented on #94
@uronly14me 안녕하세요, 제가 진행중 여러 일이 겹쳐 진행을 못하고 있었습니다. 같이 진행해도 좋을것 같습니다.

[2018-08-21 07:55] uronly14me commented on #94
@hinco114  안녕하세요! #229 에대해 리뷰를 요청합니다.

[2018-08-21 18:45] i0natan commented on #94
@uronly14me @hinco114 hmmm, could you translate that for us? 😉

[2018-08-21 19:04] i0natan opened #233 "Translating the security section to Chinese"
@MattJin Greetings. It's been a while.

We've added a new section - security best practices. If you happen to have time to update the Chinese pages - it would be great. I can help by adding the English section to the Chinese one and by creating all the chinese security pages in English

[2018-08-24 14:27] antoniq commented on #222
Hi @i0natan ,

Thank you for taking your time to have a look! We will try to answer your questions:
1. As explained in the blogpost, it is recommened doing both. Integration testing focuses on the interaction with only one external component. Furthermore, scenario selection plays a key role - one does not need to test everything once again in the component test.
2. Regarding naming - it depends on

[2018-08-24 18:31] i0natan commented on #222
@antoniq

Can you provide a concurrent and real-world example where this might worth the effort?

[2018-08-24 19:20] i0natan commented on #221
@gsipos  Just created a poll: https://twitter.com/nodepractices/status/1033071141932425217

[2018-08-24 19:37] #203 closed

[2018-08-25 15:25] i0natan commented on #221
Surprisingly, 40% think that TS is a consensus best practice, probably many of our existing bullets won't get so many upvotes...

We may rephrase it in a way that will be probably agreed by most - "Add some level of type safety - TypeScript, flow or vanila ES with explicit schemas (e.g. JSON schema)".

[2018-08-25 16:07] BrunoScheufler commented on #221
@i0natan I thought I added a comment here stating your exacts thoughts: I believe it's a good idea to let everybody choose his favorite when it comes to this topic, be it TypeScript, Flow or whatever else, as a long as it has some guarantees for type-safety through tooling, which JavaScript obviously lacks, hence we're having this discussion. Maybe we can unify these with a point 👍

[2018-08-28 20:42] gilbertosil commented on #223
Hi,
@marcelosdm, sorry to be gone in the last few days, I'll make a clone of your repository.

[2018-08-29 01:52] marcelosdm commented on #223
Hey @gilbertosil !

Welcome back friend!

I'm pushing some updates that I made recently (including today).

Please, make sure you're up to date!!

If you see anything and have any suggestion in those parts I translated, feel free to contact me.

See ya and keep going!

[2018-08-29 07:19] aqidd commented on #69
We're currently in the process of creating a starter project based on this best practices. mind giving the feedbacks @i0natan ?  It's here : https://github.com/medigoid/express-component-starter

cheers!

[2018-08-31 09:33] i0natan commented on #69
@aqidd I would love to see this. Planning to do so in the next week, then bounce back here with thoughts and questions. If you have any dilemma that you encounter - feel free to discuss it here.

p.s. we're also starting a boilerplate project soon, I'll be glad to cooperate

[2018-09-02 01:01] #231 closed

[2018-09-02 02:29] TheHollidayInn commented on #224
Hey again! Congratulations on hitting the new milestone :D

I'd love to contribute more! I'd be happy to help write up any new topics and/or help create boilerplates.

[2018-09-02 10:06] Yaty commented on #129
Hey ! I'll be happy to contribute for the french translation :) What is not currently being translated ?

[2018-09-02 18:26] i0natan commented on #224
@TheHollidayInn Great news! I'll share updates soon

[2018-09-04 01:30] #135 closed

[2018-09-04 01:30] #133 closed

[2018-09-06 06:31] aqidd commented on #69
thanks @i0natan ! currently got a question : if a model requires another model(s) from another component to update the data/relationships, should we require them directly into the file ?

[2018-09-06 08:47] i0natan commented on #69
@aqidd I haven't got a chance to look into the repo yet, will do so soon.

I assume that a model is part of a component/microservice, right? does it tries to approach a model in another component or within the same component? if you can share prtscn of the project structure while highlighting the models (e.g. prtscn of the solution within the ide) it could be benefical

[2018-09-06 20:16] js-kyle commented on #227
@BrunoScheufler Do you want me to make this update?

[2018-09-07 18:51] SandroMiguel commented on #196
Hi @i0natan, should I put the Portuguese flag in "Translations in progress". I'm still translating this repository myself.

[2018-09-07 19:49] ereztaiar commented on #156
Hello i0natan,

I whold like to contribute to the translations of this repository.
Are there any limitations in time?

Thanks
Erez

[2018-09-09 11:26] i0natan commented on #196
@SandroMiguel Is the majority of the 1st page translated or at least the upper part? if so, sounds like a great idea

[2018-09-09 11:30] i0natan commented on #156
הי ארז,

נשמע מעולה. אשמח לשתף פעולה ולתרגם ביחד.

האם היית רוצה שנעשה את זה לאט לאורך שבועות או שנקבע איזה אחה"צ ובשעתיים נתרגם את כל עמוד הבית ביחד עם

@idori

[2018-09-09 11:33] #227 closed

[2018-09-09 15:52] pramodrwt opened #239 "What are best approach to design Scalable, Maintable (Clean Code) node Architecture for Enterprise Application"
I need suggestions on following:-

**How to structure routes**
- Contain request validation or response handing here?
- Or keep it simple just with middlewares?

**Controller**
- Should we add business logic in controller or create a helper layer(in case of helper layer controller        will contain just call of helper class and handling request and response )?

**Service** (A service layer for d

[2018-09-10 10:43] ereztaiar commented on #156
הייי @i0natan ,

התחלתי לתרגם את עמוד הבית
https://github.com/ereztaiar/nodebestpractices/blob/hebrew-translation/README.hebrew.md
לדעתי עדיף לבצע את זה למשך כמה שבועות כי אני לא בטוח במידת הזמינות שלי
אעדכן אותך במידה ויתפנה לי זמן לסגור את התרגום ביום אחד

ארז

[2018-09-10 13:05] manishsaraan opened #240 "Read more link for section 6.11. Support blacklisting JWTs is Dead"
I tried to open the **Read More: Blacklist JSON Web Tokens** link in security section but its throwing 404.

[2018-09-11 01:43] js-kyle commented on #240
Hi @manishsaraan thanks for pointing this out! Will fix this asap

[2018-09-11 01:45] js-kyle commented on #239
@pramodrwt Welcome! These are all great things to establish best practices for - we'll start a discussion here once we have thought about it

[2018-09-11 05:07] #240 closed

[2018-09-11 05:07] js-kyle commented on #240
@manishsaraan Beat me to it! Thanks

[2018-09-11 09:11] i0natan commented on #239
@pramodrwt Welcome! These are the right questions to ask when architecting a node app. You're doing the right thing by investigating and drill into these topics.

We're working on a boilerplate. It will take some time. Soon we will present our boilerplate draft along with explanations in a webinar, would you like to participate?

In the interim, we will put here together a few helpful links and th

[2018-09-12 03:03] TheHollidayInn commented on #239
This is an interesting article about architecture posted in the Nodejs collection: https://medium.com/the-node-js-collection/clean-node-1df635d176f7.

It discusses a normal-ish flow for creating the app and the problems that arise. And from the comments part 2 should be coming out soon to show layers and eventually move to Clean Architecture (from Uncle Bob).

[2018-09-12 08:37] i0natan commented on #156
@ereztaiar

התירגום נראה מעולה. איך אתה מציע שנשתף פעולה: אולי לפי חלקים, למשל אני אתחיל עם החלק של טסטינג ואתה עם חלק אחר?

@ItayElgazar
אשמח מאוד לשתף מחשבותיי בנושא, יש אפשרות שנפתח לזה כרטיס/אישו ייעודי שלא יתבלבל עם ההתכתבות לגבי התירגום? תוכל בכרטיס שאתה פותח לכתוב איפה מוגדרים הראוטים שלך?

[2018-09-13 22:27] SandroMiguel commented on #196
Hi @i0natan, I've added the Portuguese flag in the translations in progress section.
PR -> https://github.com/i0natan/nodebestpractices/pull/242

[2018-09-14 14:18] antoniq commented on #222
Hi @i0natan ,

I am back from vacation and have time now to look at your question. I am not sure that I get your question completely - is it about the diff between integration and component testing?

[2018-09-15 15:52] i0natan opened #245 "September maintenance checklist"
**Maintainer on call**: @i0natan

**Updates**

- [] Update top badges with best practices item count, last update date and Node.js version
- [] Ensure all translations are aligned with the English version
- [] Update 'thank you' stars & flowers
- [] Notify and thanks the contributors of the month

**Flowers**
- @sbernaldev
- @duartemendes
- @ntelkedzhiev
- @vitordagamagodoy

**Stars**
- None so fa

[2018-09-15 16:05] i0natan commented on #222
@antoniq Yeah, my question should be clarified. But first, appreciate if you can clarify the following:

Integration testing means different things, [Fowler for example, defines 3 types of them](https://martinfowler.com/bliki/IntegrationTest.html):
1. Testing microservice A who collaborate with B&C, we use the real B&C during the test
2. Testing microservice A who collaborate with B&C, we stub B&C

[2018-09-15 18:01] i0natan commented on #196
@sagirk Assigned to you so you can experiment a translation issue once. If your plate is full, feel free to bounce back to me

[2018-09-16 15:49] sagirk commented on #196
@i0natan Sure, thanks! It'll be a good issue to cut my maintainer teeth on. 💯

[2018-09-16 18:43] i0natan opened #247 "New practice suggestion: Prevent Unsafe Redirects"
A great addition to our security best practices list:
https://blog.hailstone.io/how-to-prevent-unsafe-redirects-in-node-js/

[2018-09-16 19:00] i0natan opened #248 "new practice suggestion:"
https://www.coreycleary.me/why-should-your-node-js-application-not-handle-log-routing/

[2018-09-17 07:43] antoniq commented on #222
In connection to the article, we are using Narrow integration testing (2). Component testing covers more paths, but still does not use real running services.

[2018-09-17 15:10] mcollina opened #249 "Avoid potential memory leaks in the examples"
In the error handling example (https://github.com/i0natan/nodebestpractices/blob/master/sections/errorhandling/centralizedhandling.md):

[code]

However this will result in a timeout if `handleError` throws.

Adding an async function as a middleware is a anti-pattern, it should be wrapped all the time and a `.catch(next)`  handler added (no, you cannot use a try-catch because the async function wi

[2018-09-17 15:44] i0natan commented on #222
@antoniq Do you see any compelling reason to use narrow integration testing (e.g. 2 layers/classes under test) instead of a component test (the entire flow)?

My view is - if you already pay the integration price (setup an environment which includes DB), then go all the way and check the component * behavior, from the perspective of the *user/client, by simulating native system flows without mocki

[2018-09-18 13:16] i0natan commented on #249
@mcollina Welcome, great to have you here!

This specific example was changed to 'async' [recently](https://github.com/i0natan/nodebestpractices/commit/219cbdafd014700a252c506b1648f545b449c253#diff-0db42ec35c5e7079fa39cd97666ead30) by a kind contributor, we didn't give the right attention to this implication.

I find it useful if we stick to the general case - wrapping Express routes with async (p

[2018-09-18 14:47] mcollina commented on #249
The code is essentially correct. I would just remove the Promise.resolve() call, as it’s superfluous.

[2018-09-20 12:30] XlintXms opened #252 "I can't understand "Layer your app, keep Express within its boundaries" second picture ?"
Can any one explain more this example [](https://github.com/i0natan/nodebestpractices/blob/master/sections/projectstructre/createlayers.md)

[2018-09-20 12:38] i0natan opened #253 "Test"
| Collect ideas & bibiliography                                                         | Start Writing - headers                                                                         | Write content                                       | Draft                                           | Publish

[2018-09-20 12:38] #253 closed

[2018-09-20 12:41] i0natan opened #254 "Starting with the performance section"
@BrunoScheufler @sagirk @js-kyle

As we're kicking-off the performance section, following is (more or less) the workflow that we had in the last section. Let me know if clear and resonated with you.

I plan to open the 'call for ideas' social threads later this evening - let's participate and generate valuable discussion. This will surely help in extracting great ideas

| Collect ideas & bibiliogr

[2018-09-20 14:20] MattJin commented on #233
Got it. I will update them recently and will create the Chinese pages myself.

[2018-09-20 14:55] bpinhosilva commented on #252
It is kind of separation of concerns. Expressjs is a web framework. You use it for the http handling of your application. The idea is to keep it doing that not involving into your business logic. That's why it is recommended that you "layer" your app. The business layer, the web layer, data access layer and so on.
Once it deals with a request it passes it on to other layer that should know what to

[2018-09-21 13:14] AbdelrahmanHafez commented on #252
What would an example to _another layer_ be? My classes?

One way I usually do things is that I have my mongoose models as parent classes, attach my business logic to them as methods, send the data from the request data to the method, and send back the response from the function(s) to the user again.

Is that a correct example of the rule?

[2018-09-21 17:31] ericblade commented on #252
Let me see if I can try to come up with an explanation . . . *thinks*

So, ultimately, you probably want all the functions of your node application, to be able to operate on data regardless of the actual source of it -- You want to be able to use a test framework as the source of data, maybe you need to mock clients or servers that connect to it, or it connects to.  Maybe you might even someday ha

[2018-09-21 19:04] i0natan commented on #233
@MattJin That would be awsome

[2018-09-21 19:28] bpinhosilva commented on #252
Yes, you have classes or modules that delegate responsibility to others and so on.

Well, you could have, for example, a business class (or module) that knows the application logic and when necessary it fetches data from a database. In this case, you could have a reference to your mongoose model inside the business class that you ask for data. So the flow would look like:

client request -> web la

[2018-09-21 21:35] i0natan commented on #252
@XlintXms Welcome and thanks for the great question. This section deserves some clarification (did you notice that the second picture is an animated gif?)

Express has its own objects (req,res) which hold some of the request info like the user, his permissions, etc. You may get tempted to pass these objects to many of your application objects/classes. Everything works fine but then the product man

[2018-09-21 21:42] js-kyle commented on #186
Closing, this bullet was included in the security release

[2018-09-21 21:42] #186 closed

[2018-09-21 21:44] #33 closed

[2018-09-25 14:41] bpinhosilva commented on #252
I would be happy to contribute and discuss. I agree with you, we learn a lot by discussing.
Count on me!

[2018-09-26 15:34] i0natan opened #256 "Performance & diagnostics best practices - call for ideas"
We're kicking off the performance best practices section. Any idea regarding performance best practices or great bibliography to extract ideas from (youtube, blog post, etc)?

This issue will summarize all the ideas and bibliography and serve as a TOC for the writers. This is also a call for write or would like to learn by practicing, discussing and writing.

 @sagirk @BrunoScheufler @js-kyle

[2018-09-26 15:41] i0natan commented on #256
An idea: Monitor first customer-facing metrics
Gist: Going by Google's SRE book, monitoring should focus on metrics that immediately impact the customer, practically the golden signals: API Latency, Traffic, Errors, and Saturation. Also relevant are the [RED ](https://www.weave.works/blog/the-red-method-key-metrics-for-microservices-architecture/)framework and the [USE method](http://www.brendangr

[2018-09-26 21:30] ProfNandaa commented on #256
Perhaps debugging can be part of it? This is a good place - https://www.joyent.com/node-js/production/debug

[2018-09-27 06:18] js-kyle commented on #256
The express documentation has good tips: https://expressjs.com/en/advanced/best-practice-performance.html

We may want to review the current production practices section, as they may overlap or be more appropriate as part of the new section, for example the bullet around serving assets from a CDN rather than Node.js

[2018-09-27 09:50] AbdelrahmanHafez commented on #256
Deal with database and external APIs in batches, meaning that a developer should favor, and try to fetch a 100 entities using a single HTTP request, instead of a 100 HTTP requests with a single document each.

Same goes for database operations, writing and fetching data are faster when done in batch rather than multiple operations.

[2018-09-27 13:29] i0natan commented on #256
Use factories or constructors to ensure objects are created using the same schema so the v8 won't have to generate hidden classes on runtime (a.k.a POLYMORPHIC VS MONOMORPHIC FUNCTIONS)

https://medium.com/the-node-js-collection/get-ready-a-new-v8-is-coming-node-js-performance-is-changing-46a63d6da4de

[2018-09-29 09:11] lightbringer2994 commented on #198
@i0natan I am beginner developer, so please forgive if this is too trivial. Could you please share how to do this is in Mongoose, similar to the example using sequelize?

[2018-09-30 16:34] lightbringer2994 opened #257 "Will it be possible to have a sample app which implements most of this best practices?"
I am a beginner nodejs developer and having a sample app would help in understanding the practices better, along with serving as a good starting point.

[2018-10-01 08:36] VinayaSathyanarayana commented on #256
- Analyze repeated API Calls/Database Queries to cache them.
- Debounce and Throttle : https://css-tricks.com/debouncing-throttling-explained-examples/

[2018-10-01 09:53] VinayaSathyanarayana commented on #31
Agree that we should avoid "repeatedly processing identical steps that give the same result"
```process.env``` is one of them. When a complex application is analyzed, one is likely to find a number of issues

[2018-10-01 10:55] iamthadiyan opened #258 "Publish a PDF"
Excellent collection. I learned a lot from this. Can you please consider publishing the content as a PDF file?

[2018-10-01 13:52] sebs commented on #31
@i0natan Processing

1. Arrays of data potentially so big, that iterating over the array has to be done probably in a async way. Surely giving away performance per item, but all in all will be way better to handle. All you are doing here is "burst" calculations and you are fine by "Iterate faster", wehen you go out of burst, but "batch mode" the handling from one element to the next plays a bit ro

[2018-10-01 17:38] BrunoScheufler commented on #258
@iamthadiyan @i0natan I really like that idea, especially considering we could reach additional devices types such as e-readers or PDF readers in general. It depends though if we create a PDF from the complete content or add the bullets first and follow up with the section pages. The first solution is simply a matter of rendering a markdown file (our main readme) to PDF, whereas the second way wou

[2018-10-01 21:10] sebs commented on #31
I'd be not so sure about that over all engines for all time.  And I would really like to check out, if chaining vs. assigning each result to a new var is maybe a difference.

[2018-10-01 21:32] whithajess commented on #31
@i0natan did this get forgotten about?

[2018-10-02 05:11] i0natan commented on #31
@whithajess This indeed got forgotten and it's about the perfect timing to bring back up! as we're now collecting performance best practices #256

Appreciate if you anyone who shared an idea here (@Ginden @gerardmrk @mscdex @snypelife @sebs) can also copy to #256 , I'll copy items that weren't copied by next week

/remind me in a week

[2018-10-02 05:17] i0natan commented on #258
@iamthadiyan Welcome aboard and thanks for the nice idea. Where would you publish this PDF? why people would prefer reading via PDF?

@BrunoScheufler Any reputable tools that convert markdown to PDF?

p.s. I do actually have all the entire repo, including inner pages, as a PowerPoint presentation which can be exported immediately as PDF. The caveat is that it gets obsolete with time (it was genera

[2018-10-02 05:30] i0natan commented on #256
When evaluating alternatives and need to measure performance, use benchmark tooling like [auto-canon ](https://www.npmjs.com/package/autocannon)and [benchmark js](https://www.npmjs.com/package/benchmark) which can provide more precise results (microtime, run many iterations) and better benchmarking performance (e.g. issue more call per secobd)

[2018-10-02 05:33] i0natan commented on #257
@lightbringer2994 As @js-kyle we're actively working on this. Yet it might take some time.

If we present the drafts in a webinar, would you like to participate?

[2018-10-02 05:39] i0natan commented on #252
@bpinhosilva Sounds great, expect a ping soon once we start writing. In the interim, we collect ideas here #256  - consider visiting

[2018-10-02 05:39] i0natan commented on #252
@XlintXms Any additional questions/thoughts or we can close this?

/remind me in a week

[2018-10-02 05:54] i0natan commented on #198
@lightbringer2994 Welcome and nothing is trivial here. I don't have mongoose examples ready, also on a travel so won't have the time to create some but maybe the following instructions might help:

1. Create the DAL layer internal - use mongoose as illustrated in the typical tutorial, define your models, define CRUD, etc.
2. Wrap it as a class with public methods - all the operations that you crea

[2018-10-02 10:57] lightbringer2994 commented on #257
@i0natan Absolutely!

[2018-10-02 12:05] lightbringer2994 commented on #198
@i0natan Is there a good open source project I can look at which implements this?

[2018-10-03 11:37] BrunoScheufler commented on #258
@i0natan I'll see what I can do, know a few tools to do the job, otherwise I'll create a custom solution :+1:

[2018-10-03 14:09] i0natan commented on #198
@lightbringer2994 I'm not familiar with one, I suggest that you read about the data mapper pattern (vs active record) and try to implement yourself. Feel free to ask here and share snippets

[2018-10-05 00:03] TheHollidayInn commented on #256
Analyzing and monitoring cpu bottlenecks or memory leaks with Node Clinic/Prometheus
- https://clinicjs.org/
- https://blog.risingstack.com/node-js-performance-monitoring-with-prometheus/

[2018-10-05 07:07] js-kyle commented on #245
We also need to update the repo tagline to October 2018

[2018-10-05 21:12] aqidd commented on #69
sorry for the late reply @i0natan , perhaps below illustration will help
[code]
doctor will have nurses assigned to them. should doctor component require directly from nurse.js or we should make some kind of bridge for that to make them more decoupled?

[2018-10-07 14:06] iamthadiyan commented on #258
As @BrunoScheufler said it makes offline reading easy and lookup faster. Also I personally prefer it that way :) @i0natan You are right, keeping the PDF up-to-date is a challenge in itself. But I believe it is worth the effort.

Thanks again for the excellent work you guys are doing.

[2018-10-07 17:30] TheHollidayInn commented on #256
A few others:
- Use gzip compression
- Serve from a CDN
- use a priority queue for high db usage/long running cpu processes
- optimize queries (such as indexing)
- parallelize operation where possible
- use http2
- use the cluster module

References:
- https://medium.com/skyshidigital/6-tricks-to-speed-up-and-improve-your-node-js-performance-fadc06d15cbe
- https://www.sitepoint.com/10-tips-make-no

[2018-10-07 18:00] barretojs commented on #256
i think a good performance practice is to use a load balancer for request and a load balancer to distribute the node.js app on the multiple cores of your cpu(because as we know node is single threaded). the latter can be achieved EXTREMELY easily using pm2, setting one flag that does the multi core load balancing automatically.
besides, pm2 can make really easy to monitor the memory and cpu usage

[2018-10-07 21:34] i0natan commented on #256
@TheHollidayInn Great list!

Few remarks/questions:
1. Use gzip compression & serve from a CDN - that is more frontend related tips, are we covering frontend as well? never dealt with questions, I don't know and tend to think that - No. What does @sagirk @BrunoScheufler and @js-kyle think?
2. HTTP2 - do we have evidence/reference that http2 reduces the load on the server?

[2018-10-07 21:44] i0natan commented on #256
@barretojs First, welcome on board, good to have you here. I'm not sure about this advice as PM2 is using the cluster module under the hood (I think so at least, does it?) which seems to be slower than *real router like nginx and iptables

https://medium.com/@fermads/node-js-process-load-balancing-comparing-cluster-iptables-and-nginx-6746aaf38272

What do you think?

[2018-10-07 21:49] i0natan commented on #258
@BrunoScheufler What would you prioritize: this or CI/code-standards?

[2018-10-07 21:54] TheHollidayInn commented on #256
@i0natan Np!
1. For gzip and CDN, I included this because they are decisions you'd make while building out web apps (like using Express). If you serve static content with express, using gzip will be helpful. Also, it might be good to just note the benefits of using a CDN rather than serving your own static content.
2. I'm not sure load is improved. Although Multiplexing may help. Here is a list of

[2018-10-07 22:00] barretojs commented on #256
@i0natan you're right. i wasn't aware of iptables' capability, and the numbers are impressive. i think there's no doubt that for pure performance it distributes the load way better. thanks for the great in-depth article!

[2018-10-07 22:13] i0natan commented on #69
@aqidd Interesting discussion. I'm on a travel until Wed, answering soon...

/remind me in 3 days

[2018-10-07 22:14] i0natan commented on #256
/remind me in 2 days

[2018-10-07 22:15] i0natan commented on #245
@js-kyle On this by tomorrow (the entire checklist).

We should also move sometime soon the repo to our org so anyone could make the change

/remind me in 1 day

[2018-10-07 22:15] i0natan commented on #198
/remind me in a week

[2018-10-07 22:17] BrunoScheufler commented on #258
@i0natan I'd say both are important points, but if I had to choose one it'd be code standards/guidelines. But I'll also say that the PDF version/tooling is a separate project/workload that I'll happily work on in the next time 👍

[2018-10-07 22:57] js-kyle commented on #256
I'd definitely +1 using the CDN for static assets - we have this as a production best practice at the moment. I think the performance section and production sections are going to have a lot of potential crossover so it's a good time to clear up the differences

Again, with gzip & other CPU intensive tasks, we actually recommend that they are better handled outside of Node for performance reasons.

[2018-10-08 19:36] js-kyle commented on #247
Merged :)

[2018-10-08 19:36] #247 closed

[2018-10-09 05:16] VinayaSathyanarayana commented on #31
We should add a note on not blocking the Event loop (https://nodejs.org/en/docs/guides/dont-block-the-event-loop/)

[2018-10-11 06:52] i0natan commented on #31
@VinayaSathyanarayana Welcome! Can you add that to #256 ?

/remind me next week

[2018-10-11 06:53] i0natan commented on #252
@XlintXms Closing this as it seems you received a satisfactory answer, feel free to comment if you wish to re-open

[2018-10-11 06:53] #252 closed

[2018-10-11 06:58] i0natan commented on #256
Adding one more which exists in our production best practices: set NODE_ENV=production if rendering on the server as it utilizes the templating engine cache

[2018-10-11 07:01] i0natan commented on #256
Also highly recommends this video to be included in our bibliography: https://www.youtube.com/watch?v=K8spO4hHMhg&vl=en

[2018-10-11 07:11] i0natan opened #265 "Security bullet '6.24. Prevent unsafe redirects' has no OWASP badge"
@js-kyle For consistency, let's badge this item as well? I think it falls under the category of Injection

[2018-10-11 07:16] i0natan commented on #198
Closing as it seems to address most concerns, sorry I couldn't help further with the Mongoose thing

[2018-10-11 07:41] js-kyle commented on #265
Yep, sounds good

[2018-10-11 07:58] i0natan opened #267 "Thank you September contributors!"
The Node.js best practices guide is now even better thanks to the improvements done in September by:
🌻 [Sergio](https://github.com/imsergiobernal) @imsergiobernal,
🌻 [Duarte Mendes](https://github.com/duartemendes) @duartemendes,
🌻 [Nikola Telkedzhiev](https://github.com/ntelkedzhiev) @ntelkedzhiev,
🌻 [Vitor Godoy](https://github.com/vitordagamagodoy) @vitordagamagodoy

[2018-10-11 08:01] i0natan commented on #69
/remind me tomorrow

[2018-10-11 08:01] i0natan commented on #245
Closed in #266

[2018-10-11 08:01] #245 closed

[2018-10-11 09:58] sagirk opened #268 "October maintenance checklist"
**Maintainer on call**: @sagirk

**Updates**
- [x] Update top badges with best practices item count, last update date and Node.js version
- [ ] Ensure all translations are aligned with the English version

[2018-10-12 05:18] VinayaSathyanarayana commented on #256
We should add a note on not blocking the Event loop (https://nodejs.org/en/docs/guides/dont-block-the-event-loop/)

[2018-10-13 10:48] imVinayPandya commented on #69
I am looking to create Micro-service architecture using node best practices.
it will cover Es-lint, Docker, Docker Compose, Swagger, Api Test Cases (integration test cases),  SonarQube etc.

[2018-10-13 15:55] sagirk commented on #265
Fixed in https://github.com/i0natan/nodebestpractices/pull/269.

[2018-10-13 15:55] #265 closed

[2018-10-14 09:30] #198 closed

[2018-10-14 10:32] aqidd commented on #69
@i0natan I see, but should there be a fine line between component and microservice? By your description, you seem to treat those two with the same definition. I was under the impression that component should be similar to microservice but with some loose coupling / relation flexibility. Please correct me if I'm wrong.

Let's expand further and put `doctor` and `nurse` into `hospital` component. I